[2020-04-17 09:33] noamoss opened #210 "edge selection question alignment"
https://www.whatsmybrowser.org/b/1BNJW

![image](https://user-images.githubusercontent.com/3581741/79554981-8ce60500-80a7-11ea-9450-4077c4ef9812.png)

[2020-04-17 15:09] noamoss opened #211 "Clean DB from unrequired leftovers"
mu suggestion:

[code]

[2020-04-18 15:32] #207 closed

[2020-04-18 15:43] noamoss commented on #51
reminder: [query](https://app.redash.io/hasadna/queries/376053/source) needs the found values (per version)

[2020-04-18 15:49] akariv commented on #51
Why not use the query that already contains this?

https://app.redash.io/hasadna/queries/373693/source#635060

?

On Sat, Apr 18, 2020 at 6:44 PM noamoss <notifications@github.com> wrote:

[2020-04-18 15:52] akariv commented on #51
per version

https://app.redash.io/hasadna/queries/377069/source

On Sat, Apr 18, 2020 at 6:49 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-18 16:03] noamoss commented on #51
@akariv nope, it shows the values in the range of min_version - max_version.

We are using both quries for different needs:

https://app.redash.io/hasadna/queries/377069/source on [the DB Data Map wiki page](https://github.com/hasadna/avid-covider/wiki/DB-Versions-Summary-Table).

and

https://app.redash.io/hasadna/queries/373693/ per version ([2.6.0 for example](https://github.com/hasadna/avid-co

[2020-04-18 16:05] noamoss commented on #166
@mushon I guess this issue is waiting for a discussion. Could you elaborate on the essence of the issue/question you would like to talk about?

[2020-04-18 16:05] noamoss commented on #195
@mushon ^^^  ?

[2020-04-18 16:56] noamoss commented on #211
closing, merging into #163

[2020-04-18 16:56] #211 closed

[2020-04-18 16:56] noamoss commented on #163
@akariv let's use this issue for a general data cleansing, based on the found irregular values:

[code]

[2020-04-18 17:16] #62 closed

[2020-04-18 17:17] noamoss commented on #64
@IssacKramer now on live (coronaisrael.org.il).

Closing issue.

[2020-04-18 17:17] #64 closed

[2020-04-18 17:17] noamoss commented on #64
(We hope to improve the map statistics soon)

[2020-04-18 17:24] noamoss commented on #197
@mushon

It won't, but as a reminder - there is an alternative solution of separating data from user/reporter which could solve this obstacle. Not sure it worth the effort.

Currently, have a submissions counter in the **reporter** level, not the device level. Is it something to add/change?

Just the total number? Don't you care about the ongoing usage (total/per user) of these pages? Let's define

[2020-04-18 17:25] noamoss commented on #165
@maryLoi  עוד רלוונטי? אפשר לסגור את הדיון?

[2020-04-18 17:28] noamoss commented on #197
@akariv Some of the metrics discussed here are at the device level and others are at the reporter level. Is it a problem?

[2020-04-18 18:00] akariv commented on #51
Is the per version query good for what you need?

[2020-04-18 18:54] noamoss commented on #51
yes, except for the missing feature (which values subitted in each key), it is perfect.

[2020-04-18 19:25] akariv commented on #51
Not sure what's missing @Noamoss <noamoss@gmail.com>

On Sat, Apr 18, 2020 at 9:54 PM noamoss <notifications@github.com> wrote:

[2020-04-18 19:32] noamoss commented on #51
The ability to show which values were submitted to each question in a
specific version (and no in a range of versions - so when we change to
possible answers the research team can tell whch answers to expect in a
question by the *specific* version. For example, if we change the
insulation answers, they need to know which valid values were allowed in
version 0.1.0-2.6.0 and what are the updated ans

[2020-04-18 19:35] akariv commented on #51
Did you look at the per-version query I created and posted a link to a few
hours ago?

On Sat, Apr 18, 2020 at 10:32 PM noamoss <notifications@github.com> wrote:

[2020-04-18 20:14] noamoss commented on #51
I thought I did, but when I retried now I got

![image](https://user-images.githubusercontent.com/3581741/79670269-61a80680-81ca-11ea-8adc-3d46949b03ff.png)

[2020-04-18 21:46] akariv commented on #51
Strange.. seems to be working ok for me.

On Sat, Apr 18, 2020 at 11:15 PM noamoss <notifications@github.com> wrote:

[2020-04-19 06:08] noamoss commented on #51
Works now, perfect. Closing issue.

[2020-04-19 06:08] #51 closed

[2020-04-19 15:29] mushon commented on #195
`האם בשבוע האחרון יצא לך לתת שירות פנים אל פנים ל-10 אנשים או יותר?`

[2020-04-19 16:34] noamoss commented on #199
waiting for Yuval's answer.

[2020-04-19 17:01] noamoss commented on #195
@mushon but some people will understand it as 10 people at once, instead of 10 people during a single day.

[2020-04-19 18:08] mushon commented on #195
האם באחד הימים בשבוע האחרון יצא לך לתת שירות פנים אל פנים ל-10 אנשים או יותר?

[2020-04-19 19:17] akariv commented on #185
Closing now.
Please open a new issue for the 'current results' tab.

[2020-04-19 20:33] akariv commented on #142
@noamoss I'm closing this monster issue.

Please open a new issue with the exact policy for when to ask (and re-ask) the user about reminders of each kind (and when not to ask about reminders in general and about specific reminder kinds).

[2020-04-19 21:23] noamoss opened #215 "homepage current results tab [?h]"
( followup of #185, part of #239 )

* [x] general intro: #312

* [x] national/general dyamic results scale: #314

* [x]  local (city/town) results: #314 #267

* [x] add "results" tab to the homepage, and connect parts above

[2020-04-19 21:24] noamoss commented on #215
// cc @akariv any relevant comment or things to take into account on this issue?

[2020-04-19 21:42] noamoss opened #216 "reminder ask and reask policy"
https://github.com/hasadna/avid-covider/issues/142#issuecomment-616220717:

reminder type | ask  | reask | usage indicator|
--------|-----|-----|----|
offer to use the app |  if a user is not using/browsing through the app + first time | if a user is not reporting using the app + every two weeks |  user clicked 'yes' on the download app quesiton|
calendar reminder | first report on the device / ne

[2020-04-19 21:50] noamoss opened #217 "improve share map, enable user to share personal view/zoom"
The idea here is to catch the center + zoom of the display when the user clicks on `share`, to make the map open up on the receiver device on the same location.

We got user feedbacks about the difficulty to navigate/zoom the point of interest,  we can assume that when someone shares a map while using it, they would intuitively do so in the area/zoom they would like to share with the other person.

[2020-04-19 21:50] noamoss commented on #217
@mushon what do you think of this idea? Is it needed?

[2020-04-20 04:09] mushon commented on #217
It’s something we will have to some degree with the results and insights features. So no need for a separate issue.

[2020-04-20 05:58] akariv commented on #215
Would be good to have a more detailed definition of what the page should contain and how it should work other than the design.

[2020-04-20 06:02] akariv commented on #216
You didn't mention the browser reminders...

Also the other features need design and might be better off in separate
issues.

On Mon, Apr 20, 2020, 00:42 noamoss <notifications@github.com> wrote:

[2020-04-20 07:35] #217 closed

[2020-04-20 07:38] noamoss commented on #215
@mushon would you like to take over this one?

[2020-04-20 07:40] noamoss commented on #216
fixed

[2020-04-20 08:09] mushon commented on #196
the map constantly updates the lat/lon/zoom on the URL, so that should not be a big deal. You can see that if I navigate to the end of Rothchild/Habima and share it, it is shared with the URL: https://api.mapbox.com/styles/v1/mushon/ck8iswl5301yh1iqvv1fwmoz5.html?fresh=true&title=view&access_token=pk.eyJ1IjoibXVzaG9uIiwiYSI6IjY1bHhhTkEifQ.DhW2zcurHHBtmnc2FsMBqg#19.38/32.07195/34.7792696

[2020-04-20 08:13] mushon commented on #196
I generally agree with all of Arieli's suggestions here. Some of them are easier to implement than others:

- shortening intro - sure.
- streaks - I'd prefer to do that as a kind of a calendar looking back at your previous reports (this is not explicitly streaks, but it can have a similar effect)

[2020-04-20 10:51] mushon commented on #215
At this point we are looking at top 15 / bottom 15 symptom lists. Later we might want to have top/bottom lists for reporters as well (not sure it blocks launch). We need to make sure that we get retroactive data for previous days on all of the 30 cities and that we cache a daily image for each one of them (which means we need a geolocation/zoom bounding box for each of these cities). We also need

[2020-04-20 11:29] akariv commented on #215
Is this list just for cities? municipalities? any Yeshuv?
The top 15 makes sense, the bottom 15 makes less sense to me.
I think that people would want a way to find what's the rank of the place
they live in.
Why do we need an image per day per city is there a way to see previous
images?

On Mon, Apr 20, 2020 at 1:51 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-20 12:42] mushon commented on #215
As far as I know the list they want to generate is per-city

Bottom 15 means the least symptomatic cities and implies strong candidates for exit, so it makes sense to me...

That's true, I suggested we address that in the insights section as right now in the results section theres to much we don't know rather than what we know…

What I actually meant is image per city updated (hopefully) daily. No

[2020-04-20 13:33] akariv commented on #215
1. So we're only focusing on cities (i.e. not smaller towns) - e.g. Kyriat
Yearim wouldn't be on the list even though it was the #1 infection location
for a few weeks.
2. How are we sorting them (e.g. high level w/ low confidence vs lower
level with higher confidence)?
3. Insights would allow searching? Or would it be specific to the place you
live in (which may not be a city at all, and have high

[2020-04-20 14:10] mushon commented on #215
This seemed to be the tone from Weizmann, but we need to ask them about it.

Again, this is something that we need to check with Weizmann, but I'm assuming we will have to choose a simple approach - whether it is only high confidence or both levels of confidence and then ordered by symptom rate.

In general, this list and its ordering (and the answers to these questions) was something I was expect

[2020-04-20 14:14] noamoss commented on #182
@maryLoi Please check

[2020-04-20 14:15] noamoss commented on #174
@maryLoi, please check

[2020-04-20 14:27] noamoss commented on #196
1.

Seems like you are talking of a more detailed personal record of previous reports, and I wonder would it make you happier or sadder to know you had 3 days in a row of filling the form and then 3 days without a report? In other words, I am trying to ask how would you make this calendar a source of motivation to return and fill tomorrow?

2. As a followup to #215, I suggest keeping at least one

[2020-04-20 14:27] noamoss commented on #215
Adding here my https://github.com/hasadna/avid-covider/issues/196#issuecomment-616589578:

[2020-04-20 14:30] noamoss opened #219 "add linkage with an external research (estimation)"
Add external research linkage-
1. Questionnaires links below, refer according to existing localization-
 He- https://docs.google.com/forms/d/e/1FAIpQLSfbO0mKvS5q5DFEjTrtP6nDsPjeCLjKNknX9Ywzwl7sSTl8jA/viewform?vc=0&c=0&w=1
אנגלית: https://forms.gle/PrRUuk52HqdTqkBx9
ערבית: https://forms.gle/N4b5Dx9YRnYNs3oN7
ספרדית: https://forms.gle/nuPi1WcERMTU3axK8
צרפתית: https://forms.gle/Jty3a4H6m2A9d6vs6
רוס

[2020-04-20 14:32] noamoss commented on #219
@dorit102 ברוכה הבאה לאישיו הראשון שתיצרי.
מוזמנת לערוך את תיאור המשימות, ולהיעזר ב[קישור הזה](https://guides.github.com/features/mastering-markdown/) לצורך עיצובים.

מציע כרגע להתמקד בכותרות ההיבטים החשובים שצריכים להלקח בחשבון בהערכה שאת מבקשת לקבל.
כשסיימת, תקצי את המשימה אל אדם או אלי (Assignee, למעלה מימין)

[2020-04-20 14:38] akariv commented on #215
1. I think it would be good to raise these questions now with WIS as it might cover a deeper problem with the data or the method, which might feed back into the design.
Sorting, for example, is a tough question, which is not easily answered (similar to the imdb top movies problem - which movie is rated higher, a 4.9 star average over 20 reviews or a 4.5 star average over 100K reviews?).
If you're

[2020-04-20 14:51] mushon commented on #196
1. I was thinking something along these lines:
[code]

[2020-04-20 14:58] akariv commented on #197
Not sure what's the difference between device and reporter in this context.
Is it possible that you want to separate a 'report' and a 'session'?

One thing that comes to mind - some of these metrics are only known after the reports had been sent (e.g. share / reminder interaction).
These would have to be sent separately - which brings me to support @noamoss suggestion of separating the medical and

[2020-04-20 15:15] mushon commented on #215
1. Agreed, to be discussed with Weizmann.

2. Pop-up - it was on my feature request list but needs to be prioritized, and wither way, we should first see how the results look like. Note, a hover functionality would only work on Desktop, but we might incorporate a tap interaction in mobile (maybe not on day one)

3. OK, we might be able to add that into the chat to as a follow up question using the

[2020-04-20 16:26] noamoss commented on #196
Nice! should there be a meaning to the per-day emoji? Is it related to the user reported data or to the streak only?

ok, but what do you think of adding kind of a data-based teaser at the intro, connceted to a later-shown insight?

[2020-04-20 16:28] noamoss commented on #215
I love this direction

[2020-04-20 16:31] noamoss commented on #197
device == data points related to all of the reporters (for example referrer- all the reports were sent thanks to the same share link or the same reminder or number of entries reported today) while a reporter is a person-centered metric (like engagement time per report)

[2020-04-20 16:32] noamoss commented on #197
@mushon assuming you agree as well, I believe that will enable us to collect much more useful data.

[2020-04-20 16:34] noamoss opened #220 "fix selection questions orange border"
![image](https://user-images.githubusercontent.com/3581741/79776126-ecf5d900-833d-11ea-9c10-4e6b915b4a9d.png)

https://www.whatsmybrowser.org/b/RBOLM

[2020-04-20 17:08] noamoss commented on #216
following the implemented 'יש לי כבר תזכורת' option, we can just simplify:

- ask: new users or returning users that were not asked before
- reask: returning users that did not choose the option above before OR returning users that chose this option and did not submit a report for the last 10 days.

[2020-04-20 20:43] noamoss opened #223 "improve end of flow (after sharing and setting a reminder)"

[2020-04-20 20:53] noamoss opened #224 "limit browser/app reminder time"
### Option A:
(preferred): when user asks for a browser reminder, let them choose the reminder time + to include/except Friday. That could be implemented through the standard script/chat.

### Option B:
Set reminder time by the current report time - add a maximum limit: the latest reminder time should be 21:00 (9pm)

[2020-04-21 06:58] akariv commented on #224
I went with option C
Time will always be at the same time as current report next day, with the following exceptions:
- Time won't be after 9pm & 2pm on Fridays
- Time won't be before 7am & 8pm on Saturdays

On staging it will be mimicked by 10 minute days, with the current day of week printed to the console log

[2020-04-21 11:52] noamoss commented on #219
@akariv any questions? if not, ready to go

[2020-04-21 11:57] noamoss commented on #216
@akariv can you add the explanation for the QA part, so @maryLoi can use it later as well?

[2020-04-21 12:09] akariv commented on #219
Have any of you attempted to fill the questionnaire?
To simplify I suggest we ask once a week all users (without any complicated mechanisms).

[2020-04-21 12:09] akariv commented on #219
What is 'learn more'? Is it in the script or the ui somewhere?

[2020-04-21 12:12] akariv commented on #216
This was not implemented yet @Noamoss <noamoss@gmail.com> .

On Tue, Apr 21, 2020 at 2:57 PM noamoss <notifications@github.com> wrote:

[2020-04-21 12:14] noamoss commented on #224
@maryLoi  ^^^

[2020-04-21 12:19] dorit102 commented on #219
מילאתי פעמיים. מסכימה שכל יום זה המון ואמרתי להם. הם מנגד טוענים שיש לאנשים שינויי מצבי רוח (גם אני שמעתי שמועה כזו, לא מנסיון אישי, אני נרגנת תמיד).
אנסה לדבר איתם, אבל הוא נציע רזולוציה יותר נמוכה, למשל כל יומיים?

[2020-04-21 12:20] dorit102 commented on #219
זה ה"אודות המחקר" שביקשת. ביקשתי מהם שיתנו פיסקה

[2020-04-21 12:24] akariv commented on #203
This snippet (adapted from the plugin's examples) should display labels in Arabic (but it doesn't):
[code]

I suspect it's related to this [comment in the docs](https://github.com/mapbox/mapbox-gl-language/#supported-styles):

#### Supported Styles

You can configure the plugin to support your own very custom style using style transforms and custom language fields. By default this plugin works bes

[2020-04-21 12:27] akariv commented on #203
How it _should_ look like:

https://mapbox.github.io/mapbox-gl-language/examples/ar.html#12.01/32.0756/34.8889

[2020-04-21 12:47] dorit102 commented on #219
@akariv

[2020-04-21 13:37] dorit102 commented on #219
והפסקה המפורסמת-
עברית-
מטרת המחקר של השאלון היא להשיג נקודת מבט רחבה יותר על הבריאות הגופנית והנפשית בקרב האוכלוסייה, אשר עשויה לשמש לזיהוי אזורים שיכולים להפיק תועלת מתמיכה רבה יותר ולהשפיע על צעדים ממשלתיים לקראת הפחתת תוצאות לוואי.
פרופ אלון חן וחוקרים במעבדתו, שחקרו בהרחבה היבטים שונים של הנוירוביולוגיה של לחץ, פיתחו שאלון המעריך את רמת הלחץ והחרדה בקרב האוכלוסייה, את השפעותיו המגפה העיקריות,

[2020-04-21 17:26] dorit102 commented on #219
זו הפסקה המפורסמת-
6. a short paragraph regarding the research goals should l be available under "learn more"
מה שאתה ונוען ביקשתם

[2020-04-21 18:13] akariv commented on #219
לא הבנתי מה זה under learn more.

איפה נמצא learn more

On Tue, Apr 21, 2020, 20:27 dorit102 <notifications@github.com> wrote:

[2020-04-21 18:25] dorit102 commented on #219
פנוי לשיחה קצרה?

[2020-04-21 18:26] noamoss commented on #215
@mushon any updates/concrete plans for this issue?

[2020-04-21 18:27] #166 closed

[2020-04-21 18:33] noamoss commented on #199
@dorit102 waiting for your approval to start the process with Yuval.

[2020-04-21 18:49] maryLoi opened #225 "Fix thermometer question"
אני מבצעת תיקון לשאלת המדחום שהיא אחת האחרונות. זה מקפיץ אותי לתחילת השאלון ומבצע גלילה חזרה למטה עד השאלה הרלוונטית. אין דרך לא לעבור את כל הגלילה הזו?

[2020-04-21 18:58] mushon commented on #215
Not beyond what I mentioned on another thread with Adam (mainly the need to coordinate with Weizmann). Another thing I would add (that would affect this too) is that I’m working with Weizmann on changing the color scale. So that would affect this scale as well, but the idea is pretty much the same.

[2020-04-21 19:14] mushon commented on #196
1. The calendar view would echo the “how do you feel” response.
2. As for the teaser, we need to brainstorm it a bit. I want to make sure we don’t do something that grows old fast.

[2020-04-21 19:24] maryLoi commented on #224
נבדק עבור שעות הערב. נראה שעובד
אחרי 20:00 אין נוטיפיקציות בכרום

[2020-04-21 19:27] #182 closed

[2020-04-21 19:34] #165 closed

[2020-04-21 19:48] noamoss commented on #224
@maryLoi ומה לגבי ימי שישי?

[2020-04-21 19:58] noamoss commented on #224
@akariv seems like it can go live, but we could not really check the full functionality.

@maryLoi I will leave the issue open for the following checks (on live), I will try to it also.
Remember that these check requires you to:

A. Clear the site's local storage on the browser
B. Send a report on Day 1
C. Verify the reminder time on Day 2

* [ ]  no notification on days week after 9pm on a weekda

[2020-04-22 06:00] dorit102 commented on #219
מה האורך הנדרש? משפט?
משהו בסגנון של:
"לאור מכלול ההשפעות של תקופה זו על חיינו, האם נוכל לשאול אותך גם על מצב רוחך?
פרופ אלון חן ממכון וייצמן וצצותו חוקרים היבטים שונים של הנוירוביולוגיה של לחץ, ומבקשים את עזרת הציבור במילוי שאלון המעריך את רמת הלחץ והחרדה בקרב האוכלוסייה, למיפוי השפעותיה, גורמיה ואסטרטגיות ההתמודדות איתה.
?

[2020-04-22 06:04] akariv commented on #219
זה לא רע

On Wed, Apr 22, 2020, 09:01 dorit102 <notifications@github.com> wrote:

[2020-04-22 06:08] dorit102 commented on #219
Wow!! this is the nicest thing you ever....

[2020-04-22 06:08] dorit102 commented on #219
ואז אפשר להעיף את ה-
read more

[2020-04-22 06:49] akariv commented on #219
אני עדיין לא הבנתי מה זה ה read more הזה

On Wed, Apr 22, 2020, 09:08 dorit102 <notifications@github.com> wrote:

[2020-04-22 06:55] dorit102 commented on #219
משהו שהרגע ירד מהתכולה

[2020-04-22 09:09] akariv commented on #181
Connected in 2.7.1

[2020-04-22 09:09] akariv commented on #147
Done and disabled for now

[2020-04-22 09:09] #147 closed

[2020-04-22 09:10] akariv commented on #142
@noamoss can we close?

[2020-04-22 09:10] akariv commented on #185
@noamoss can we close?

[2020-04-22 12:46] noamoss commented on #220
@maryLoi please check

[2020-04-22 12:47] noamoss commented on #181
@maryLoi please verify the bot works on live for non-Hebrew languages. This can be checked only with devices/telegram accounts that did not use the service before with another language.

[2020-04-22 14:58] noamoss opened #226 "update the map more info screen [8h]"
המפה מציגה מידע שנאסף משאלונים אנונימיים שמילאו אנשים כמוך. האזורים צבועים על פי רמת תסמיני קורונה לפ המודל המחקרי של מכון ויצמן. מסגול …. רמה גבוהה מאוד (1.2% ומעלה) עד צהוב …. רמה נמוכה מאוד (0.8% ומטה).
אמינות נמוכה - המפה לא צובעת ערים ושכונות בהן לא התקבלו מספיק דיווחים. אלה יוצגו באפור מפוספס ….
אמינות בינונית - באיזורים המופיעים בצבע מפוספס  התקבלו מספיק דיווחים לאפשר ניתוח באמינות בינונית

[2020-04-22 15:00] noamoss opened #227 "No Local Storage on IPhone Safari"
this feedback was sent by external user, we need to try and reproduce it ourselves, or to ask the user to send a whatismybrowser.com unique link from the relevant device.

[2020-04-22 15:01] noamoss commented on #227
@maryLoi if you don't find a way to verify youself ask me (on Slack) for this user email to contact him.

[2020-04-22 15:03] noamoss opened #228 "update end to share/reminder sentence [2h]"
#### time estimation:
- explore / discuss: 1h
- apply changes: 0.5h
- translations: 0.5h

[2020-04-22 15:05] noamoss opened #229 "finish button color/style"
![תמונה](https://user-images.githubusercontent.com/3581741/79998857-e2654c00-84c3-11ea-82c8-02ff0810ba64.png)

[2020-04-22 15:08] noamoss opened #230 "suggestion: reorder end of flow order"

[2020-04-22 15:10] noamoss commented on #196
new external professional feedbacks:

[2020-04-22 15:14] noamoss opened #231 "remove map lower button"
https://hasadna.slack.com/archives/CV9JP90P4/p1587397966389900:

@maryLoi wrote:

Mushon offered to remove the button, Noam is afraid users won't know how to handle/continue, Mushon wrote:

שווה לתת שם עוד שוליים כדי להדגיש את המודאל. וגם לתמוך בלחיצה בשוליים לסגירה. הכפתור נראה לי לא נכון כאן.

[2020-04-22 15:14] noamoss commented on #231
@mushon can you provide the design instructions/styles for the required change?

[2020-04-22 15:16] noamoss commented on #142
with a great smile.

[2020-04-22 15:16] #142 closed

[2020-04-22 15:16] noamoss commented on #185
we should...

[2020-04-22 15:16] #185 closed

[2020-04-22 15:18] noamoss commented on #154
@akariv still pending for review?

[2020-04-22 15:18] noamoss commented on #201
@maryLoi please check

[2020-04-22 15:22] noamoss commented on #224
@maryLoi no need to go the long way - please perform this check (on staging) using the computer clock.

[2020-04-22 15:28] akariv commented on #154
Yes, still pending

[2020-04-22 16:28] #220 closed

[2020-04-22 18:32] #201 closed

[2020-04-22 18:32] #174 closed

[2020-04-22 20:52] noamoss opened #232 "[?h] הוספת קישור למחקר חיצוני"
<div dir=rtl>
### הוספת קישור למחקר חיצוני

#### שלבים לביצוע

#### הערכת היקפי שעות

</div>

[2020-04-22 20:53] noamoss opened #233 "אוטומציית נתונים"
<div dir=rtl>
### אוטומציית נתונים

#### תנאים מקדימים

#### שלבים לביצוע

#### תלות

#### היקפי שעות

- עיצוב ואפיון (מושון ונעם):
- פיתוח (אורי הוך):
- בדיקות (אדם):
</div>

[2020-04-22 20:53] noamoss opened #234 "שיפורי UX ותיקוני תקלות (1)"
<div dir=rtl>

### שיפורי UX ותיקוני תקלות (1)

#### שלבים לביצוע
- סקירת הדיווחים ותעדופם לפי חומרה וכמות המשתמשים הנפגעים
- השלמת נתוני דפדפן לפי הצורך
- השלמת תיקוני/הגדרות עיצוב לפי הצורך
- פיתוח
- תרגום (לפי הצורך)
- בדיקות

#### הערכת היקפי שעות
- תיאור הבעיה והשלמת מידע חסר (מרי ונעם):
- עיצוב (מושון ונעם):
- פיתוח (אדם):
- בדיקות (מרי):
- תרגום:
</div>

[2020-04-22 20:54] noamoss opened #235 "ניתוח ופיתוח נתוני שימוש וערוצי הפצה"
<div dir=rtl>
###  ניתוח ופיתוח נתוני שימוש וערוצי הפצה
סל משימות לשיפור יכולת הניטור וניתוח

#### שלבים לביצוע
- סקירת נתוני השימוש והמילוי והצבעה על דפוסים, חוזקות וחולשות
- גיבוש הצעות פעולה לפי ממצאים
- שיפור איסוף המידע והנתונים לצורך ניתוח ושיפור בהמשך

#### הערכת היקפי שעות

</div>

[2020-04-22 20:54] noamoss opened #236 "פעולות להגברת מוטיבציה למילוי חוזר ושיתוף"
<div dir=rtl>
###  פעולות להגברת מוטיבציה למילוי חוזר ושיתוף
סל של משימות שמטרתן:
א. הגדלת שיעור המשתמשים החוזרים
ב. הגדלת שיעור השיתוף של המחקר על ידי המדווחים הפעילים

#### תנאים מקדימים
- אוטומציית נתונים
- ביצוע ניתוח דפוסי שימוש וערוצי הפצה

#### שלבים לביצוע
- ניתוח הנתונים הזמינים
- הגדרת/איתור מוטיבציות שאלות מנחות משתמשים
- הגדרת אופני פעולה אפשרית והערכות זמני ביצוע
- ניסוחים ועיצובים
-

[2020-04-22 20:54] noamoss opened #237 "שיפורי UX ותיקוני תקלות (2)"
<div dir=rtl>
### שיפורי UX ותיקוני תקלות (2)

#### שלבים לביצוע
- סקירת הדיווחים ותעדופם לפי חומרה וכמות המשתמשים הנפגעים
- השלמת נתוני דפדפן לפי הצורך
- השלמת תיקוני/הגדרות עיצוב לפי הצורך
- פיתוח
- תרגום (לפי הצורך)
- בדיקות

#### הערכת היקפי שעות
- תיאור הבעיה והשלמת מידע חסר (מרי ונעם):
- עיצוב (מושון ונעם):
- פיתוח (אדם):
- בדיקות (מרי):
- תרגום:
</div>

[2020-04-22 20:55] noamoss opened #238 "פיתוח אפליקציות"
<div dir=rtl>
#### פיתוח אפליקציות
סל משימות לבחינת ו/או הנגשת המחוקר באמצעות חנויות האפליקציות (או אמצעי חליפי שיוגדר)

#### תנאים מקדימים
- איתור מפתח/ת אפליקציות אנדרואיד
- איתור מפתח/ת אפליקציות אייפון
#### שלבים לביצוע

#### הערכת היקפי שעות

</div>

[2020-04-22 20:56] noamoss opened #239 "שיתוף הציבור בתוצאות המחקר"
<div dir=rtl>
### שיתוף הציבור בתוצאות המחקר
סל משימות להבהרת משמעות המידע שנאסף, תוצאות המחקר

#### תנאים מקדימים
* השלמת אוטומציית הנתונים

#### שלבים לביצוע
* ניתוח הנתונים המועברים
* אפיון והגדרת שימושי הטאב ושאלות להן ינתן מענה
* עיצוב והגדרת חלקי המסך
* ניסוחי הטקסטים
* פיתוח
* בדיקות
* תרגום

#### הערכת היקפי שעות

- עיצוב ואפיון (מושון ונעם):
- פיתוח (אדם):
- פיתוח (אורי הוך):
- בדיקות (מר

[2020-04-22 20:56] noamoss opened #240 "בדיקות ושיפורי אבטחת אתר ונתונים"
<div dir=rtl>
### בדיקות ושיפורי אבטחת אתר ונתונים

#### תנאים מקדימים
- תיאום בדיקות ראשוניות וחוזרות עם גורם חיצוני לצוות לבדיקות אבטחה
- ביצוע בדיקות אבטחה מקיפות על ידי גורם מחוץ לצוות

#### שלבים לביצוע
##### בדיקות אבטחה
- סקירת התוצאות ומיון למימוש מיידי/מימוש בהמשך/לא ימומש
- הגדרת משימות פעולה לכל ממצא למימוש מיידי ומחקר מקדים להצעת אופן פעולה והערכת זמן ומשאבים דרושים
- דיון לסיכום תוואי

[2020-04-22 20:56] noamoss opened #241 "אופטימיזצות אתר"
<div dir=rtl>
### אופטימיזצות אתר
סל משימות לסקירת מצב המערכת ותחזוקתה

#### שלבים לביצוע
- בדיקות ושיפורי מהירות טעינה
- בדיקות עומסים
- טיוב נתונים

#### הערכת היקפי שעות

</div>

[2020-04-22 20:57] noamoss opened #242 "שיפורי UX ותיקוני תקלות (3)"
<div dir=rtl>
### שיפורי UX ותיקוני תקלות (3)

#### שלבים לביצוע
- סקירת הדיווחים ותעדופם לפי חומרה וכמות המשתמשים הנפגעים
- השלמת נתוני דפדפן לפי הצורך
- השלמת תיקוני/הגדרות עיצוב לפי הצורך
- פיתוח
- תרגום (לפי הצורך)
- בדיקות

#### הערכת היקפי שעות
- תיאור הבעיה והשלמת מידע חסר (מרי ונעם):
- עיצוב (מושון ונעם):
- פיתוח (אדם):
- בדיקות (מרי):
- תרגום:
</div>

[2020-04-22 21:19] maryLoi commented on #227
checked on 3 devices. not reproducible
only happens in incognito mode - maybe that's the problem

[2020-04-22 21:20] maryLoi commented on #181
Russian bot missing translation

[2020-04-22 21:27] noamoss commented on #227
@maryLoi Thanks.

[2020-04-22 21:27] #227 closed

[2020-04-22 22:39] noamoss commented on #228
// cc @mushon

[2020-04-22 22:46] noamoss commented on #229
applied thorugh #243 :

![image](https://user-images.githubusercontent.com/3581741/80041044-11031700-8504-11ea-83ff-9ad1a6ef6664.png)

[2020-04-22 22:55] noamoss commented on #229
// cc @mushon

[2020-04-22 22:57] noamoss commented on #230
@mushon

pr @244 includes a suggestion to remove the map from the chat flow (as we are automatically redirecting the user to the intro screen).

the share/reminder order should not change, see the snippet:

![image](https://user-images.githubusercontent.com/3581741/80041620-92a77480-8505-11ea-9ae3-2e6560bdf798.png)

[2020-04-23 06:14] akariv commented on #228
@noamoss can you please propose wording? Not sure how this is different
from what we have today.

On Thu, Apr 23, 2020, 01:39 noamoss <notifications@github.com> wrote:

[2020-04-23 06:22] akariv commented on #230
Please ensure that the final words make sense now that #244 was merged

On Thu, Apr 23, 2020, 01:57 noamoss <notifications@github.com> wrote:

[2020-04-23 06:25] noamoss commented on #228
adding Adam's reply from the PR as well:

[2020-04-23 06:28] noamoss commented on #228
@akariv
what about:  שניה לפני שמסיימים את הדיווח של {{alias}}...

I don't think so - as the feedback was about the transition between reporters within a session.

[2020-04-23 06:30] noamoss commented on #230
@maryLoi @mushon I checked it before committing the change, please verify on the test environment.

[2020-04-23 06:37] akariv commented on #228
the feedback was to keep reporters reporting -
someone who is already reporting for multiple people doesn't need that as
they see the next person's name coming up.

שניה לפני שמסיימים את הדיווח של {{alias}} בוא נדווח על מישהו אחר? ואז שניה
לפני שמסיימים את שלו בוא נדווח על מישהו שלישי?

אולי משהו כמו - מצוין - יש לנו את כל המידע על x, מה לגבי אנשים נוספים בבית?

On Thu, Apr 23, 2020 at 9:28 AM noa

[2020-04-23 07:07] #231 closed

[2020-04-23 07:52] noamoss opened #245 "shorten/rearrange chat intro text [2h]"
followup #196

### steps and time estimation:
- discussion and texts: 0.5h
- apply in the script: 1h
- qa: 0.5h
- translations: 0.5h

[2020-04-23 08:03] noamoss opened #246 "add a personal/area lead board + share"
follow up of #196

[2020-04-23 08:06] noamoss opened #247 "homepage pop up motivator: current daily reports counter"
follow up of #196

[2020-04-23 08:08] noamoss commented on #247
I will add a specified suggestion later today, and then ask Mushon to review/design

[2020-04-23 08:10] noamoss commented on #196
@mushon will share a design proposal based on [this draft](https://docs.google.com/document/d/1KkvjHigGzhgWhKvfPzeyZGVXAUdQ1xgFIPxjL2OroG8/edit?usp=sharing), but it will come at the end of the chat, as a motivator for tomorrow/next report and sharing, see #246.

Noam will open a follow up to offer an alternative (#245)

We will add a simple counter of reports/users, see follow up #247.

[2020-04-23 08:10] #196 closed

[2020-04-23 08:47] noamoss commented on #198
@mushon see @maryLoi 's draft

[2020-04-23 09:00] akariv commented on #230
<img width="507" alt="Screen Shot 2020-04-23 at 11 58 14" src="https://user-images.githubusercontent.com/265333/80080185-ef347f00-8559-11ea-89d4-09c9fa293f92.png">

Seems that there's a double thank you and a weird sentence (התקרבנו עוד צעד אחד למה?)

[2020-04-23 10:17] noamoss commented on #198
update:

following another talk with @maryLoi we decided to drop this issue back to some data gathering. Mary will summarize the quetions by groups and will update once she believe it is important enough to push this page design.

Mary claims that #226 is the only important kind of questions to answer.

[2020-04-23 10:18] noamoss commented on #226
@maryLoi please add all the missing/confusion information of the map, based on users' reactions.

[2020-04-23 11:17] mushon commented on #203
https://jsfiddle.net/mushon/ogbauce7/5/

[2020-04-23 11:28] akariv commented on #203
Awesome!

On Thu, Apr 23, 2020 at 2:17 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-23 13:03] mushon commented on #63
Can we put it in the main text? Or is that not enough?

[2020-04-23 13:29] mushon commented on #190
או לחלופין:
![return-multiselection copy](https://user-images.githubusercontent.com/27123/80104314-734d2d80-857f-11ea-9bc3-e3a36abf59ca.png)

[2020-04-23 15:13] mushon opened #248 "Update color scales for map"
New map has 6 colors according to this scale (0-1-2-3-4-5-100): https://gka.github.io/palettes/#/6|s|fae700,f700ff|ffffe0,ff005e,93003a|1|1

Which means:
0-1   `#fae700`
1-2   `#ffca5d`
2-3   `#ffad88`
3-4   `#ff8caf`
4-5   `#ff5fd8`
5-100   `#f700ff`

Test map shows it here:
https://api.mapbox.com/styles/v1/wios/ck96vgttq1ygn1io723og8c0b.html?fresh=true&title=view&access_token=pk.eyJ1Ijoid2lvcyIs

[2020-04-23 15:22] mushon commented on #248
The new layers are ready in the production map, we can [simply unhide them](https://studio.mapbox.com/styles/wios/ck8xf8qi305nr1iqan5e50vcv/edit/#11/32.1157/34.8808) and publish:
![image](https://user-images.githubusercontent.com/27123/80116967-46087b80-858f-11ea-9715-6fc56c7204fe.png)

[2020-04-23 17:47] noamoss commented on #190
@akariv see my proposal in the description, please add your comments and time estimation to the development part and reassign to me.

[2020-04-23 17:51] noamoss commented on #230
sorry for missing it. pushed a fix.

[2020-04-23 19:06] mushon commented on #248
Deployed

[2020-04-23 20:30] noamoss commented on #224
@maryLoi ?

[2020-04-23 20:33] noamoss commented on #195
@maryLoi  בניסיון לפשט את ניסוח שאלת מתן השרות הפיזי ללמעלה מ-10
אנשים ביום בשבוע האחרון, פיצלנו את המהלך לשני שלבים.

מטרת הבדיקה היא לוודא שהשלב הזה נראה ומתנהל בצורה תקינה, ושהמידע הנכון נשלח. מזכיר שמאחורי הקלעים יש לוגיקה לא פשוטה בכל הנוגע למופע השאלה אצל מדווחים חוזרים, שתוארה ב #158

[2020-04-23 20:57] noamoss opened #250 "intro page supporters section: Add the American-Israel logo [0.5h]"
see design:  https://zpl.io/Vk6qxdW

[source logo](https://hasadna.slack.com/files/UJNSY7T0F/F012JTCHDRS/logo.zip)

no link

[2020-04-23 20:59] noamoss opened #251 "intro page: add Pilat logo [0.5h]"
[source logo file 1](https://hasadna.slack.com/files/UJNSY7T0F/F012DA39M5H/pilat_group_logo_heb.png)

[source logo file 2](https://hasadna.slack.com/files/UJNSY7T0F/F012BN5F08M/pilat_group_logo_heb.pdf)

link to add: http://www.pilat.co.il/

[2020-04-23 21:23] noamoss commented on #247
@akariv can you estimate?

// cc @mushon (following our talk today)

[2020-04-24 00:16] noamoss opened #252 "personal indicator [?h]"
### precondition:

- finalize #233

### scope

WSI offered to implement a mechanism to suggest the reporter, based on their given/available report, the chance of being coronavirus positive.

### steps:
- review the relevant data
- discussion: 2h: should we apply, and how
- design and flow definitions: ?h
- development: ?h
- qa: ?h
- translations: ?h

part of #239

[2020-04-24 07:16] mushon commented on #251
Assets here: https://zpl.io/Vk6qxdW

[2020-04-24 07:44] mushon commented on #247
updated the image…

[2020-04-24 08:32] akariv commented on #247
Not sure what this means.

Also I'm confused now, because I started commenting on a mockup that had a per-location pop up and it changed to a non location-specific pop-up (but the description remained the same)

[2020-04-24 08:40] akariv commented on #251
@dorit102 these should be next to the general credits, not the supporters -
correct?

On Fri, Apr 24, 2020 at 10:16 AM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-24 08:57] mushon commented on #247
meaning we only show this after a few seconds that the user has browsed the site without reporting today

As for the location-specificity, @noamoss I think after discussing the location-specific polygon, we agreed that we will use the general number for everyone so Bekoa will not be a depressing `0` that discourages reporting especially when it results in a no-data polygon. This approach also allo

[2020-04-24 09:02] dorit102 commented on #251
Yes please
ליד אסקלה ו אפליקציות

[2020-04-24 10:21] noamoss commented on #247
Correct, @akariv fixed description.

[2020-04-24 10:36] akariv commented on #247
Can you explain about the current_report_number > 2000 ?

[2020-04-24 10:52] noamoss commented on #247
I am not sure it would be 2000, we might change this value as we check effect - but the idea is to avoid a situation telling a user at 9pm something like "Wow, we have 25 reports nationwide, join them!"

[2020-04-24 11:07] akariv commented on #247
Can you add that explanation to the description? What should happen in that
case?

On Fri, Apr 24, 2020 at 1:53 PM noamoss <notifications@github.com> wrote:

[2020-04-24 11:14] noamoss opened #253 "design a component to display a summary of previous answers + option to update previous answers"

[2020-04-24 11:27] noamoss opened #254 "simplify returning users reporters flow [?h]"
#### Description
returning reporters, mainly those that report for other family members/friends need to answer many returning questions with a low probability of changes in a day-to-day update.

#### offered solutions:
1. when a returning reporter.starts the flow, check when was the last report.
2a. If it was more than 4 days ago, continue with the standard (current) flow.
2b. If it was during the

[2020-04-24 11:31] noamoss commented on #254
@akariv @mushon please review and add your comments and estimations

[2020-04-24 11:32] noamoss commented on #253
@mushon  following [our slack discussion](https://hasadna.slack.com/archives/CV9JP90P4/p1586805816126000) in which you shared this draft:

![image](https://user-images.githubusercontent.com/3581741/80205819-fdef6480-8633-11ea-8028-61b6caa4d2a4.png)

- you can assume and apply a dynamic intro sentence (הדיווח האחרון שלך היה לפני 3 ימים, מה השתנה מאז?)

- last button should be dynamic:
   -  תשובה א

[2020-04-24 11:34] noamoss commented on #253
@mushon (opened this design specific issue. Feel free to add your comments and thoughts, but I think we should first finalize the general plan on #254)

[2020-04-24 11:46] noamoss commented on #236
@akariv please review and update + add your time estimations

[2020-04-24 11:51] #235 closed

[2020-04-24 11:53] noamoss opened #255 "פעולות להגברת מוטיבציה למילוי חוזר ושיתוף"

[2020-04-24 12:09] noamoss commented on #177
part of #234

[2020-04-24 12:09] noamoss commented on #200
related to #234

[2020-04-24 12:09] noamoss commented on #202
realtet to #237

[2020-04-24 12:10] noamoss commented on #184
related to #237

[2020-04-24 12:12] noamoss commented on #63
@mushon I think we should.

[2020-04-24 12:14] noamoss commented on #203
part of #255.

@akariv please add your TE to the title

[2020-04-24 12:15] noamoss commented on #209
part of #234

[2020-04-24 12:16] noamoss commented on #225
part of #234 .

@akariv can I estimate it by 1h - 2h fix?

[2020-04-24 12:18] noamoss commented on #245
part of #255

[2020-04-24 12:19] noamoss commented on #228
part of #255

[2020-04-24 12:35] noamoss commented on #163
@akariv please approve TE and add relevant actions to the issue description.

[2020-04-24 12:37] noamoss commented on #163
part of #237

[2020-04-24 12:37] noamoss commented on #229
part of #234

[2020-04-24 12:40] noamoss commented on #194
closing issue as WSI disagree to apply this fix.

[2020-04-24 12:40] #194 closed

[2020-04-24 12:40] noamoss commented on #93
part of #242

[2020-04-24 12:41] noamoss commented on #140
not sure this is really needed. closing issue.

[2020-04-24 12:41] #140 closed

[2020-04-24 12:41] noamoss commented on #153
part of #237

[2020-04-24 12:45] noamoss commented on #108
part of #234

@akariv please approve my time estimation above.

[2020-04-24 12:47] noamoss commented on #141
@akariv please approve time estimation and/or add your comments.

[2020-04-24 12:49] noamoss opened #256 "שיפורי איכות נתונים"
<div dir="rtl">
סל משימות שקשורות בשיפור וטיוב הנתונים המועברים לבסיס הנתונים מהממשק המקוון

</div>

[2020-04-24 12:49] noamoss commented on #25
part of #256

[2020-04-24 12:52] noamoss commented on #98
part of #256

[2020-04-24 12:53] noamoss commented on #98
@akariv estimated this task with 1h, if not, please update title.

[2020-04-24 12:55] noamoss opened #257 "generate current release DB documentation, pre-release [2h]"
generate documentation of current/upcoming DB version, based on the script file, to support the WSI automation process.

the generated output to include:
- field name
- field type
- possible values

part of #256

[2020-04-24 12:55] akariv commented on #254
There were reasons for that we asked for symptoms even when people said
they were feeling ok and that we encouraged them to take their temperature
each day.
If I'm not mistaken it was WIS that asked for that. Since this is a u-turn
from that direction, we better involve them in this discussion.

On Fri, Apr 24, 2020 at 2:31 PM noamoss <notifications@github.com> wrote:

[2020-04-24 12:56] noamoss commented on #257
@OriHoch assuming we apply this idea, what kind of output/structure would support the process in the pre-release step for WSI?

[2020-04-24 12:59] #150 closed

[2020-04-24 13:00] noamoss commented on #210
part of #234

[2020-04-24 13:00] noamoss commented on #105
part of #237

[2020-04-24 13:01] noamoss commented on #198
part of #242

[2020-04-24 13:02] noamoss commented on #199
closing this issue, once Yuval start his part we will open separate issue per test.

[2020-04-24 13:02] noamoss commented on #226
part of #234

[2020-04-24 13:06] akariv commented on #236
Time estimation sounds reasonable.

[2020-04-24 13:10] akariv commented on #225
Probably around 2h

On Fri, Apr 24, 2020, 15:16 noamoss <notifications@github.com> wrote:

[2020-04-24 13:11] akariv commented on #163
Probably 1h

On Fri, Apr 24, 2020, 15:37 noamoss <notifications@github.com> wrote:

[2020-04-24 13:12] akariv commented on #108
Edited TE

On Fri, Apr 24, 2020, 15:45 noamoss <notifications@github.com> wrote:

[2020-04-24 13:13] akariv commented on #141
Edited TE

On Fri, Apr 24, 2020, 15:48 noamoss <notifications@github.com> wrote:

[2020-04-24 13:18] akariv commented on #98
I would change this to a wontfix as data shows that most version changes
were out of the script anyway.

On Fri, Apr 24, 2020, 15:53 noamoss <notifications@github.com> wrote:

[2020-04-24 13:19] akariv commented on #257
Not all variables are in the script file.
Might be better to document it manually and use that documentation to
verify the data before sending it.

On Fri, Apr 24, 2020, 15:55 noamoss <notifications@github.com> wrote:

[2020-04-24 13:22] noamoss commented on #246
@mushon @akariv updated description. Please review and add your comments and time estimations.

[2020-04-24 13:26] noamoss commented on #177
@mushon can you reply?

[2020-04-24 13:31] akariv commented on #246
Estimation will be based on specific design and specifications

[2020-04-24 13:31] noamoss commented on #226
@mushon @akariv I know we already have a ready desgin (@mushon can you paste here the link please), but I assume things to be changed soon. Please review the steps and time estimation, and add your comments or approve my estimations.

[2020-04-24 13:43] noamoss commented on #247
@akariv done, anything else missing? please approve/relate to the time estimation as well.

[2020-04-24 13:46] noamoss commented on #246
I made a list of the already known properties, can you relate ot that before we get the design?

[2020-04-24 13:47] akariv commented on #226
TE will be done after spec materializes

[2020-04-24 13:57] mushon commented on #253
My thoughts here was that you would actually need to check all of these and if one of them isn't checked we will ask you only about that

[2020-04-24 13:58] mushon commented on #63
ok, let's…

[2020-04-24 13:58] akariv commented on #247
I assume that the first desktop item should read - doesn't click on the chat button or expands the map?

[2020-04-24 14:01] noamoss commented on #252
@dorit102

I see no way to move forward with this issue or to provide estimations, before understanding what kind of data is available and how it should be served to us (in other words #233 )

as @mushon suggested in our last meeting this kind of addiction should be discussed and understood as changing the essence of the current service/site. I suggest making this discussion once the WSI can provi

[2020-04-24 14:06] mushon commented on #254
I agree they need to be in the loop, but I with the curve changing, I think we need to change strategy and make sure people still report.
We may also ask questions like: your last report was 3 days ago, please confirm these are still the same:
- [ ] A
- [ ] B
- [ ] C
- [ ] D
- [ ] E
- `Done`

If all is checked we can ask whether that was the case for each of the days since the last report and then

[2020-04-24 14:08] mushon commented on #177
For me it happened every time

[2020-04-24 14:10] mushon commented on #226
https://zpl.io/anJKWmQ
![image](https://user-images.githubusercontent.com/27123/80221786-73682e80-864e-11ea-8540-fe552081e92f.png)

[2020-04-24 14:10] noamoss commented on #254
this is too much, IMO. I won't remember 3 days from today if I was coughing or not. The current report should be for the current day only, I think.

this is exactly the default bias I was referring to. We should show the option to keep/update in a balanced visual way.

[2020-04-24 14:12] mushon commented on #254
I think it's a compromise. And I think the return experience improvement outweights the (theoretical) default bias

[2020-04-24 14:13] #98 closed

[2020-04-24 14:16] noamoss commented on #257
it isn't really possible to scan the script file manually every time. We already have [this wiki entry](https://github.com/hasadna/avid-covider/wiki/DB-Versions-Summary-Table), but I see no way to this kind of work manually - do you?

What about creating a dummy record as part of the build process, and then use it as / for pre-release checks?

[2020-04-24 14:18] noamoss commented on #226
@akariv ^^^

[2020-04-24 14:19] noamoss commented on #253
default balance - it would much easier to leave things as is. I think we must push users to actively approve there was not change.

[2020-04-24 14:23] noamoss commented on #63
updated description, part of #239 (for next week's prioritizations)

[2020-04-24 14:27] noamoss commented on #247
correct, fixed.

[2020-04-24 14:31] noamoss commented on #254
If you think there is no default bias, please explain. But if not,  why should we make this assumption while dealing with the most crucial part of the service - the data reliability?

Why not using two quick yes/no buttons or Left/Right sliders without making these assumptions?

[2020-04-24 14:34] akariv commented on #226
@noamoss is this the final design?

If so then it's about 1hr,. mostly to fetch the update time automatically.

This assumes data automation is complete.

[2020-04-24 14:50] akariv commented on #246
I'm guessing that the majority of the time would be

- to install a geocoding engine on the server and start calculating the canonical city per record
- create an endpoint to geocode a specific city name into the canonical name + localized one and cache the results on the client
- periodically query the stats per city + aggregated into a cached file
- implement the different graphs and visualisati

[2020-04-24 14:56] akariv commented on #257
We don't need to scan it every time, just update the documentation (we can
call it a schema actually) every time a field is added or removed.

This schema is then used  to verify the data prior to sending allowing us
to test it during the testing phase.

On Fri, Apr 24, 2020, 17:17 noamoss <notifications@github.com> wrote:

[2020-04-24 15:12] akariv commented on #247
Updated the description

On Fri, Apr 24, 2020, 17:27 noamoss <notifications@github.com> wrote:

[2020-04-24 15:20] OriHoch commented on #257
I don't think that the problem is technical, it's more of a process problem, WIS needs to follow the change log and specify how and when they want to integrate the changes to the processing pipeline

[2020-04-24 15:42] OriHoch commented on #257
It might be useful to push the data from testing app to a test DB, that way we can test the data before release.

But I don't see where the bottleneck is at the moment, as we already released a version (2.7.1) and have the data changes known for next version as well and both didn't get any response regarding how/when to integrate the changes to the processing pipeline. So I don't see how a schema

[2020-04-24 16:29] mushon commented on #226
If we don’t want to wait for automation we can try querying the Mapbox API to get the tileset’s latest update time. But if automation is around the corner I suggest we wait.

[2020-04-24 20:29] akariv commented on #203
@mushon map is not properly localized in french, for example:

<img width="1060" alt="Screen Shot 2020-04-24 at 23 23 16" src="https://user-images.githubusercontent.com/265333/80254124-44b87b00-8683-11ea-9b3c-d7bd1d3420e6.png">

vs English:

<img width="1036" alt="Screen Shot 2020-04-24 at 23 23 37" src="https://user-images.githubusercontent.com/265333/80254041-1a66bd80-8683-11ea-9ca9-7888e623ef2a

[2020-04-24 20:52] noamoss commented on #246
thanks, @mushon I think we should prioritize the design of this issue. Can I assume ~5h design and characterization?

[2020-04-24 20:57] noamoss commented on #257
I was just hoping we could define a safe way to stabilize the process. Sounds like both of you believe there is no real point in doing it, so I am closing the issue.

[2020-04-24 20:57] #257 closed

[2020-04-24 21:02] noamoss commented on #226
not final, as content and points to emphasize might change - but I believe this will be the main change. I will take an extra hour for now, just for planning.

automation is the top priority. I agree we should not spend time or effort on alternatives.

automation is the top priority of the projet

[2020-04-24 21:17] noamoss commented on #68
@akariv I let myself add a rough estimation for now, feel free to update/comment if something does not make sense.

[2020-04-24 21:18] noamoss opened #258 "visuall regression tests [?h]"
- explore options
- choose a method
- define tests
- apply
- integrate

part of #241

[2020-04-24 21:19] noamoss opened #259 "site loading speed tests and imrpovements [?h]"
part of #241

[2020-04-24 21:23] noamoss opened #260 "develop/integrate openCaptcha [?h]"
part of #240

[2020-04-24 21:37] noamoss commented on #259
@akariv any idea how to describe in general steps what should be done to move from the current state of the open captcha project to, until it can be integrated?

[2020-04-25 05:27] mushon commented on #246
Yes

[2020-04-25 05:30] mushon commented on #203
Yes, we’re obviously limited by the localization available on OSM. I suggest limiting it to: Local Language (default), Arabic, Russian (maybe), and English for all the rest...

[2020-04-25 09:10] akariv commented on #259
@noamoss is the issue title related to its contents?

On Sat, Apr 25, 2020, 00:37 noamoss <notifications@github.com> wrote:

[2020-04-25 09:14] akariv commented on #203
Is it possible to use the localized version and  fall back to English /
local if not available

On Sat, Apr 25, 2020, 08:30 Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-25 09:20] mushon commented on #203
Not that I know of. Could’ve been nice to have a “language stack”

[2020-04-25 09:47] noamoss commented on #259
Nope, mixed tabs. Clreared it up. Content to be defined later.

[2020-04-25 13:21] noamoss commented on #259
@akariv I think ~10h is a reasonable amount of time for analysis and partial improvement. Do you agree?

[2020-04-25 13:39] noamoss opened #262 "analyze and apply lighthouse check results [10h]"
part of #241:

* read and prioritize tasks based on the lighthouse (chrome dev tools) report

[Mobile](https://github.com/hasadna/avid-covider/files/4533030/coronaisrael_lighthouse_mobile.pdf) (PDF report)

[Desktop](https://github.com/hasadna/avid-covider/files/4533034/coronaisrael_lighthouse_desktop.pdf) (PDF report)

### steps and estimations:
- mobile read / analyze/ prioritize: 2h
- desktop r

[2020-04-25 13:43] noamoss commented on #260
@akariv  please see https://hasadna.slack.com/archives/C011SE26U64/p1587795407009700.

What should be the next step?
What kind of skills should we look to continue with this phase, for integration?

Would you need a couple of hours to explore and prepare it for the next developer(s)?

[2020-04-25 13:44] akariv commented on #259
Strange, as the desktop and mobile versions are identical in terms of what is loaded, with only css applying different styles in both cases.
Might be worth to run a few more tests to ensure that the results are not random :)

I would say that we apply fixes in 6h chunks, each time tackling the most pressing issue.

[2020-04-26 15:21] maryLoi commented on #226
השאלות הנפוצות שדורשות הבהרה:

- מה משמעות האחוזים במפה?
- למה איזורים מסוימים צבועים בצבע וגם מקווקווים?
- אני מדווחת יום-יום, מדוע איזור מגוריי צבוע אפור / הרחוב שלי יצא מגבולות הצבעים?
- כיצד מחשבים את צפיפות הסימפטומים (הסבר פופולרי של המתודולוגיה)

[2020-04-26 15:28] #251 closed

[2020-04-26 15:29] maryLoi commented on #250
הטקסט בלוגו קטן מאוד ולא קריא

![image](https://user-images.githubusercontent.com/8996235/80312060-dba04700-87eb-11ea-8c94-eb09cfa2fbd9.png)

[2020-04-26 15:36] maryLoi commented on #203
Changed app lang to En
The preview of the map in the main screen is still in Hebrew

![image](https://user-images.githubusercontent.com/8996235/80312248-da234e80-87ec-11ea-91e2-eab760f68477.png)

[2020-04-26 15:37] maryLoi commented on #203
The map is first loaded in Hebrew and only then switches to En

[2020-04-26 15:40] maryLoi commented on #203
In French - there are only city names, no street or neighborhood names

![image](https://user-images.githubusercontent.com/8996235/80312337-66ce0c80-87ed-11ea-89da-d80f846b4e13.png)

[2020-04-26 15:44] maryLoi commented on #203
In Russian - street names are shown selectively (In Hebrew at the same zoom level, every street name would be shown)

![image](https://user-images.githubusercontent.com/8996235/80312431-e22fbe00-87ed-11ea-946a-dc49f6068a10.png)

[2020-04-26 15:49] noamoss commented on #248
@maryLoi please approve.

[2020-04-26 15:58] noamoss commented on #203
@akariv ^^^

[2020-04-26 16:01] noamoss commented on #195
@maryLoi please let 3 users fill the form on staging, and then ask them if they had any specifically hard/complicated questions? (they might answer NO...), and let them choose 1 as the hardest.

[2020-04-26 16:03] #248 closed

[2020-04-26 16:04] mushon commented on #250
we don't edit submitted profile image and don't redesign submitted logos

[2020-04-26 16:05] #250 closed

[2020-04-26 16:06] noamoss commented on #79
@dorit102

עברו שבועיים - עדיין לא עודכן. מזכיר במה מדובר: הקישור בעמוד הבית של מכון ויצמן מוביל ישר אלינו ולא לעמוד התוכן שאדם דיבר עליו

[2020-04-26 16:13] noamoss opened #263 "Review and guide regarding a daily results CSV file [5h]"
depends on #233, part of #239

Review and guide WSI staff regarding the daily results file, see the follow-up issues below

[2020-04-26 16:34] noamoss opened #264 "create a daily map color index map [4h]"
depends on #233, followup of #263

automation task to create the map coloring file

[2020-04-26 16:42] noamoss opened #265 "explore color map on client / mapbox [4h]"
depends on #233, blocked by #263, #264

## steps / estimations:
1. Explore Mushon's solutions: ~2h
https://docs.mapbox.com/playground/static/
https://docs.mapbox.com/api/maps/#overlay-options

based on a local geojson.

2. decide whether to implement it or explore and describe an alternative: 2h

followup: apply the chosen solution on #266

[2020-04-26 16:43] noamoss opened #266 "color map on client / mapbox [4h]"
depends on #233, blocked by #263, #264

follow up of #265

[2020-04-26 16:45] noamoss opened #267 "mechanism to generate a city/town specific static image [14h]"
depends on #233, part of #255

#### steps
input: reporter's city/town
output: static map image file

- Development: 12h
we would load the geojson to mapbox, create tiles (not modifying the production map) and then use the static image API to fetch the static images.
In the client, we would need to access a geocoding endpoint to get the canonical city name (we need to create that endpoint in the se

[2020-04-26 16:51] akariv commented on #219
I added links to the different questionnaires based on current locale
User is asked every couple of days if they want to participate, can answer 'yes', 'later', 'never'
If they want to participate, they are presented with specific research and are asked again
If they agree they are taken to the questionnaire

- No unique id was added as I don't have edit access to the forms
- The forms themselves

[2020-04-26 16:56] noamoss commented on #219
@akariv nice, for the QA purposes:

how many days should I wait when I click later?

@dorit102 Mary and I will check this feature this evening, but the rest if on your side:

[2020-04-26 17:40] noamoss commented on #219
answered "אולי בפעם אחרת, on the next day chose "yes" and then "אולי בפעם אחרת" - passed
on day 3 clicked "לא ואל תציעו לי יותר" -- wasn't asked on day 4 - passed

language checks:
Hebrew --> Hebrew, passed
English --> Eglish, passed
Arabic --> Arabic, passed
Russion - did not work, two different users and devices.
Spanish - found  a problem, will recheck
French - found  a problem, will recheck

[2020-04-26 18:06] noamoss opened #268 "process daily results file for city/town ranks [?5h]"
depends on #233, part of #239

based on the give result chart (#263) generate a daily cities/town chart.

TBD with WSI staff how to perform the validate the calculation.

[2020-04-26 18:10] akariv commented on #203
I have no control over this, the correct person to mention is @mushon

On Sun, Apr 26, 2020 at 6:59 PM noamoss <notifications@github.com> wrote:

[2020-04-26 18:11] noamoss opened #269 "create input (questions) for OpenCaptcha [?h]"
depends on #233, part of #260 (and therefore also part of #240)

[2020-04-26 18:11] noamoss commented on #265
@akariv does this description and time estimation make sense?

[2020-04-26 18:14] akariv commented on #79
לא @Noamoss <noamoss@gmail.com>

יש כבר עמוד שמסביר על המחקר, אבל הוא כולל כתובת שגויה של האתר:

https://wis-wander.weizmann.ac.il/life-sciences/two-steps-ahead-coronavirus

אותו צריך לתקן.

On Sun, Apr 26, 2020 at 7:06 PM noamoss <notifications@github.com> wrote:

[2020-04-26 18:14] noamoss commented on #267
@akariv please add your comments to this general description, including releant questions, and your time estimation.

[2020-04-26 18:17] noamoss commented on #266
@akariv how would you estimate this phase in the current status, or you can't?

[2020-04-26 18:24] akariv commented on #265
Yes, sounds good

On Sun, Apr 26, 2020 at 9:12 PM noamoss <notifications@github.com> wrote:

[2020-04-26 18:29] noamoss commented on #203
sorry. @mushon ^^

[2020-04-26 18:30] noamoss commented on #203
(please move the issue to the QA column [on phase 2 board](https://github.com/hasadna/avid-covider/projects/3#card-36334802) when ready for check.

[2020-04-26 18:31] noamoss commented on #226
@maryLoi please look at the screenshot above. Assuming nothing changes from the current situation, would it be clear enough to answer these questions?

[2020-04-26 18:33] noamoss commented on #79
ok, misunderstood that.

@dorit102 , this is from today:

![image](https://user-images.githubusercontent.com/3581741/80316269-807b4e00-8805-11ea-98f0-0fd8b8d100fa.png)

[2020-04-26 19:07] noamoss opened #270 "send userid to the the external research [4h]"
followup of #270

### steps / time estimation:

- add a new variable to the questionnaire: `external_research_1_id`.

- when the user clicks `yes` to participate in the **specific** external research **for the first time**, populate with a numerical unique value. Show it in the console log when created  and include in future `would_send` to enable QA.

- add an optional id field to each of the rel

[2020-04-26 19:07] noamoss commented on #270
@akariv does this time estimation makes sense?

[2020-04-26 19:18] mushon commented on #265
We will need to implement two different approaches for best performance and minimum costs.
**Dynamic map**
Would use a polygon layer and change it’s styling dynamically by binding metadata from a dynamic csv with the results and confidence levels.

**Static map**
Would use the Mapbox tile upload api to post a new geojson to a separate map. Then use the static image API to cache an image on our ser

[2020-04-26 19:21] akariv opened #271 "Issues with WIS data"
- [ ] **City/Neighborhood have no valid confidence levels**
  A village with 200 people, all of them reporting daily will have the same confidence level as a city with 1M residents and 200 reports per day.
  This creates a bias towards big cities - large cities are more likely to appear even with a low reporting rate.

- [ ] **Hard cut-offs for confidence**
   City rankings are done by sorting on

[2020-04-26 19:22] akariv commented on #271
This is a blocker for #233

[2020-04-26 19:29] mushon commented on #203
OSM data is very limited in French, Spanish  and Russian. Let’s use Local Language for default (Hebrew and Arabic) and English for the rest.

[2020-04-26 19:36] maryLoi commented on #195
question works as intended.

I'm thinking about an alternative shorter phrasing for the first question, will discuss on Slack

[2020-04-26 19:43] akariv commented on #270
populate with a numerical unique value

That's too late as we need to send that id with the first report on that
day.

We need to assign an id and send it for the first report each day. then
take that same id and use it to prefill the form.

On Sun, Apr 26, 2020 at 10:07 PM noamoss <notifications@github.com> wrote:

[2020-04-26 19:52] akariv commented on #203
Is it possible to create fallbacks in the source map itself (i.e. name_fr
would contain the french value and if empty use the English one or local
one)?

On Sun, Apr 26, 2020 at 10:29 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-26 20:04] akariv commented on #203
nm found a solution

On Sun, Apr 26, 2020 at 10:51 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-26 21:00] noamoss commented on #270
did not get it, can you explain?

[2020-04-26 21:01] noamoss commented on #203
@maryLoi please rechek

[2020-04-27 04:03] akariv commented on #270
We need the same id both on the first user report and in the form as we
want to connect them in the database.
The point where we ask the user if they want to participate is already
after we've sent the last report from that device.

On Mon, Apr 27, 2020 at 12:00 AM noamoss <notifications@github.com> wrote:

[2020-04-27 04:31] dorit102 commented on #79
כתבתי להם

[2020-04-27 05:22] akariv commented on #267
We would need to create a static image per town (and locale) on the automation side.
@mushon described it in a comment on a different issue, but basically we would load the geojson to mapbox, create tiles (not modifying the production map) and then use the static image API to fetch the static images.
In the client, we would need to access a geocoding endpoint to get the canonical city name (we nee

[2020-04-27 05:26] akariv commented on #266
This requires to (a) add an automation task to create the map coloring file and (b) to use it in the client.
Dev time estimation: 6h

[2020-04-27 08:22] noamoss commented on #266
that what I mean on #264 , updated there as well. anything else?

this is the current issue.

The total of both issues is 8h (including QA). Please approve and unlabele the 'add time estimation' if it makes sense, or add your comments.

[2020-04-27 08:23] noamoss commented on #264
anything else to describe/estimate?

How could we perform QA on this task (what should be compared...?)

[2020-04-27 08:24] akariv commented on #266
Makes sense, thanks

[2020-04-27 08:24] noamoss commented on #264
@akariv can you post here the shared example with WSI? I could not find it

[2020-04-27 08:25] akariv commented on #264
not sure what you mean @noamoss

[2020-04-27 08:26] noamoss commented on #267
@akariv updated description.

What about the language/locale issue? Is it included in your estimation (it is not a crucial feature IMO, and can be handled on a follow up).

[2020-04-27 08:28] noamoss commented on #264
@akariv sorry, wrong place :) will ask again somewhere else

[2020-04-27 08:29] noamoss commented on #263
@akariv I believe you mentioned sharing a relevant demo/structure with WSI staff. If so, can you post it here?

[2020-04-27 08:38] noamoss commented on #270
very correct. updated the description and added the QA process, please approve.

[2020-04-27 09:15] akariv commented on #267
I agree it's not crucial, if we can find a simple solution (after a quick
exploration) then we'll do it, otherwise we'll drop it.

On Mon, Apr 27, 2020 at 11:27 AM noamoss <notifications@github.com> wrote:

[2020-04-27 09:15] akariv commented on #263
https://github.com/hasadna/avid-covider-raw-data

On Mon, Apr 27, 2020 at 11:29 AM noamoss <notifications@github.com> wrote:

[2020-04-27 12:33] akariv commented on #181
@noamoss did we get the legal approval to connect?

[2020-04-27 12:39] noamoss commented on #181
Yes, a log time ago

[2020-04-27 17:06] #181 closed

[2020-04-27 17:07] noamoss commented on #270
checked, approved.

[2020-04-27 17:07] #270 closed

[2020-04-27 17:08] noamoss commented on #219
rechecked all languages, works perfectly.

[2020-04-27 17:08] #219 closed

[2020-04-27 18:25] r-darwish commented on #184
Do you happen to have any hints about what should we do instead? It seems that `{{street}}` is used multiple times in the script. Should we completely avoid saying the street name to the user?

[2020-04-27 21:22] noamoss commented on #184
@r-darwish this is issue refers to a  bug reported on a very specific scenario: when the user is reporting of living in a town without street names. On this scenario, we got a report of a specific message showing the place holder ("street") instead of skipping right to the town name:

"יש לנו כמה שאלות בנוגע לבית בsteem בקוע"

should become
"יש לנו כמה שאות בנוגע לבית בבקוע"

assuming there is no

[2020-04-28 07:31] noamoss commented on #246
relevant reference:

https://twitter.com/segal_eran/status/1254330134032723970?s=09

[2020-04-28 07:32] noamoss commented on #215
relevant reference https://twitter.com/segal_eran/status/1254330134032723970?s=09

[2020-04-29 16:19] noamoss opened #273 "automatic tests: setup and configurations"
part of #199

* [x]  install project and set local environment
* [x] review the  project [README](https://github.com/hasadna/avid-covider), [data structure](https://github.com/hasadna/avid-covider/wiki/DB-Versions-Summary-Table) and [local storage](https://github.com/hasadna/avid-covider/wiki/local-variables-(not-sent-to-DB)) guides
* [ ] add required configurations to enable follow-up issues

htt

[2020-04-29 16:27] noamoss opened #274 "auto test: Success report For a first address on a device"
part of #199

## check steps:

- clean local storage
- create a new address
- create a new reporter
- fill first report (day 0)
- submit

*notice:*  ensure:
   - correct date of submission
   - correct alias

[2020-04-29 16:29] noamoss opened #275 "auto test: Unsuccess returning reporter on the same day"
part of #199

## check steps:

- clean local storage
- create a new address
- create a new reporter
- fill first reform
- submit
- user try to check the same user in the same day. Should not be possible.

* notice: in the staging environment a minute == day

[2020-04-29 16:32] noamoss opened #276 "auto test: success first report for a 2nd reporter in existing address"
part of #199

## check steps:

- clean local storage
- create a new address
- create a new reporter
- fill first report (day 0)
- submit
- create a new reporter in the same address
- fill first report (day 0)
- submit

[2020-04-29 16:36] noamoss opened #277 "auto test: success submission for a returning user"
part of #199

## check steps:

- clean local storage
- create a new address
- create a new reporter
- fill first report (day 0)
- submit
- wait a day
- fill report (day 1)
- submit

*notice:*  ensure:
   - identical report `uid` value on both days.
   - correct date of submission
   - correct alias

[2020-04-29 16:44] noamoss commented on #199
welcome @yuvalbl, see the followup issues on this issue, or on your private column at our project board:
https://github.com/hasadna/avid-covider/projects/3

Please submit your PRs to @akariv to review, connecting each PR to a single issue.

@akariv feel free to jump in (here or in any of the relevant issues with further comments

// cc @dorit102

[2020-04-29 17:30] akariv opened #278 "Don't offer a reminder to reporters that used a reminder to open the app [?h]"
i.e. use the 'source' parameter as an indication if they have a reminder or not

h/t Gai Zomer

@noamoss wdyt?

[2020-04-29 17:51] yuvalbl commented on #274
`alias` = meta data represent a person, based on: sex + age + street
used for distinction - people may report on the same device

[2020-04-29 17:53] yuvalbl commented on #274
Clean local storage - simulate new device (report for the first time)

[2020-04-29 22:12] noamoss commented on #278
elementary, I would assume 2h, including QA?

[2020-04-30 09:32] noamoss commented on #246
Following today's meeting:

- we will user only chatbot report's statistics for now.
- we should consider 3 main scenarios:
     - city/town has over > 2000 total reports and more than 200 reports during the recent week
    - city/town has < 2000 reports
    - city/town has > 2000 total reports and less than 200 reports during the last week

- we will consider embedding this info board in the chat

[2020-04-30 09:35] noamoss commented on #246
updated description, waiting for design plan.

[2020-04-30 09:52] akariv commented on #216
@noamoss opted for the solution in #278 + don't ask someone who says he already has a reminder

[2020-04-30 09:53] #216 closed

[2020-04-30 10:53] akariv commented on #246
Based on your analysis, how many reporters will see the per city
leaderboard?

On Thu, Apr 30, 2020, 12:35 noamoss <notifications@github.com> wrote:

[2020-04-30 11:22] akariv commented on #154
Reviewed, needs changes before we can merge.

[2020-04-30 11:42] akariv commented on #197
Most is done, I suggest we analyze what we currently have and open a new issue with the new requirements.

[2020-04-30 11:44] akariv commented on #228
@noamoss what's the spec?

[2020-04-30 12:03] akariv opened #279 "Update HP subtitle"
Instead of " כולנו מעדכנים כל יום על מצב בריאותנו כדי להגן על הורינו וילדנו, על הקהילות שלנו, כדי לעצור את התפרצות נגיף הקורונה ולהשיב במהרה את שגרת חיינו. "
(Which is generally not explanatory enough IMO and not explaining the connection between the action and the desired result).

Be more specific and current:
"במיוחד עכשיו, כשמתחילים להסיר את המגבלות: בשביל שנצליח לחזור לשגרה, יש חשיבות קריטית

[2020-04-30 12:50] maryLoi commented on #203
the snippet of the map is still in Hebrew in other languages

![image](https://user-images.githubusercontent.com/8996235/80712238-5920cb80-8afa-11ea-8043-513bc2b1df86.png)

[2020-04-30 12:51] maryLoi commented on #203
In Arabic labels on map are partially in Hebrew

![image](https://user-images.githubusercontent.com/8996235/80712314-7b1a4e00-8afa-11ea-9bd3-328f69d74160.png)

[2020-04-30 12:52] maryLoi commented on #203
also when zoomed in

![image](https://user-images.githubusercontent.com/8996235/80712391-9c7b3a00-8afa-11ea-8866-1224a353f85d.png)

[2020-04-30 13:05] maryLoi commented on #197
@noamoss

[2020-04-30 14:43] noamoss commented on #203
@akariv  ... I might be a bit confused, is this in your field? If not, please reassign to Mushon.

[2020-04-30 14:47] noamoss commented on #279
@akariv I like the direction, I wonder if we can think of a way to emphasize the report should be part of the new routine (שיגרה), in the current reality.

what about :
כחלק מהשגרה החדשה, כולנו מדווחים מידי יום, ועוזרים לזהות מראש ולהלחם בהתפרצויות מקומיות של נגיף הקורונה.

// cc @mushon ?

[2020-04-30 14:49] noamoss commented on #228
don't have yet. will update.

[2020-04-30 14:50] akariv commented on #279
ועוזרים לחוקרי מכון ויצמן לזהות התפרצויות מקומיות של נגיף הקורונה לפני שהן יוצאות משליטה

[2020-04-30 14:51] noamoss commented on #246
@akariv

not sure I understand the question. The purpose of this feature is to be a relevant motivator for all reporters, and therefore we defined 3 types of messages:

1. let us keep your city/town on the map
1. let's put your city/town on the map
1. let's get your city/town back to the map

[2020-04-30 14:52] akariv commented on #203
/assign @mushon

On Thu, Apr 30, 2020 at 5:44 PM noamoss <notifications@github.com> wrote:

[2020-04-30 14:56] noamoss commented on #279
נכנסים לשגרה החדשה, כולנו מדווחים מידי יום וועוזרים לחוקרי מכון ויצמן לזהות התפרצויות מקומיות של נגיף הקורונה לפני שהן יוצאות משליטה

?

[2020-04-30 15:01] akariv commented on #246
Just trying to understand what percent of reporters will see each message.

e.g. for a threshold of 1M reporters per city per week, we'll always show
message (2).
what are the expected percents for the current thresholds?

On Thu, Apr 30, 2020 at 5:51 PM noamoss <notifications@github.com> wrote:

[2020-04-30 16:31] maryLoi commented on #278
מה לגבי לא להציע תזכורת למשתמש שכבר יש לו תזכורת, למרות שהוא פתח את השאלון לא מתוך הקישור לתזכורת אלא בזמנו החופשי?

[2020-04-30 17:43] noamoss commented on #278
@maryLoi לא נתעכב עליהם כרגע - בגלל שיש לנו כמה ערוצי תזכורת, יהיה מורכב (ואני מנחש שבלתי אפשרי) לבטל תזכורות בכל הדרכים הללו.

האם השאר פה עובד?

[2020-04-30 17:43] noamoss commented on #278
@maryLoi אם בדקת ועובד סגרי בבקשה את ה-issue מחדש.

[2020-04-30 17:46] noamoss commented on #246
I can't tell for now, would probably take 0.5h-1.h to build the query to extract the cities/towns, sum/count their report and compare. Do you have anything ready to check it?

[2020-04-30 17:53] #232 closed

[2020-05-02 17:19] #273 closed

[2020-05-02 19:11] noamoss commented on #197
I will explore and update, hopefully within 2 days.

[2020-05-02 19:12] noamoss commented on #278
@maryLoi  ??????

[2020-05-02 19:14] #230 closed

[2020-05-02 19:15] #195 closed

[2020-05-02 19:28] noamoss commented on #269
@akariv see the initial draft, please edit/add your instructions.

[2020-05-02 19:38] noamoss commented on #279
@akariv  let's go with this:

נכנסים לשגרה החדשה.
כולנו מדווחים מידי יום ועוזרים לחוקרי מכון ויצמן לזהות התפרצויות מקומיות של נגיף הקורונה לפני שהן יוצאות משליטה

looks good to me:

![image](https://user-images.githubusercontent.com/3581741/80883052-91c0d080-8cc5-11ea-9e21-11e4f237d04f.png)

// cc @mushon

[2020-05-03 10:06] mushon commented on #279
נכנסים לשגרה החדשה
"דווקא עכשיו, כשמתחילים להסיר את המגבלות: כולנו מדווחים מידי יום ועוזרים לחוקרי מכון ויצמן לזהות התפרצויות מקומיות של קורונה לפני שהן יוצאות משליטה.״

[2020-05-03 12:12] noamoss commented on #279
![image](https://user-images.githubusercontent.com/3581741/80913842-5b7c6300-8d50-11ea-836c-e12697e3710a.png)

[2020-05-03 12:29] noamoss commented on #228
@akariv  your method works, I changed "כל המידע" to "כל הדיווח", trying to make it sound less threatening.

![image](https://user-images.githubusercontent.com/3581741/80914215-d0509c80-8d52-11ea-9fc1-9a0e1c93deb5.png)

// cc @mushon

[2020-05-03 12:48] noamoss commented on #197
#### Datapoints in Device/ Main Reporter Level

V

V

V

X

V

V

V

HP map visit

V

map help interaction: (?)

V

map interaction: (swipe, zoom, etc…)

X

X

X

X

V

Irrelevant

Partly: True/False, no share channel

V

X

X

[2020-05-03 13:17] noamoss commented on #197
@mushon these are the relevant data points in the device level. I will spend 1-2h to generate relevant queries. Feel free to throw in relevant questions, you can assume I will think of the obvious ones.

[2020-05-03 13:19] noamoss opened #285 "Add usage metrics to redash dashboard [2h]"
part of #236
followup of #197

[2020-05-03 13:24] #197 closed

[2020-05-03 15:41] mushon commented on #228
מצויין, השלמנו את הדיווח היומי עבור בן 30 מבקוע. מה לגבי אנשים נוספים?

[2020-05-03 16:00] mushon commented on #203
In cases where OSM data has no data for the place we will prefer to show a label in the available language than non at all. Right?

[2020-05-03 16:07] akariv commented on #197
@noamoss:

I think you missed:
- main_city: main reporter's city
- hp tabs and share channel are implemented (they only appear when they are
true)

On Sun, May 3, 2020 at 4:25 PM noamoss <notifications@github.com> wrote:

[2020-05-03 17:17] #278 closed

[2020-05-03 17:18] #224 closed

[2020-05-03 17:56] noamoss commented on #228
![image](https://user-images.githubusercontent.com/3581741/80921699-926a6d00-8d80-11ea-91fa-b6eefd554c32.png)

[2020-05-03 17:59] noamoss commented on #203
always? I don't know. What do you think?

[2020-05-03 18:00] noamoss commented on #197
@akariv can you be more explicit about hp_tabs metric logic? What/when does it count?

[2020-05-03 18:21] akariv commented on #197
It's true if the specific hp tab was clicked

[2020-05-03 18:48] akariv commented on #197
[code]

[2020-05-03 19:05] igormis opened #286 "Local Development and Localization"
I succeed to run the local development, however when I switch  the language to english on the home page, nothing happen, is this behaviour expected?

[2020-05-03 19:58] noamoss commented on #228
@mushon please see  https://github.com/hasadna/avid-covider/pull/284#issuecomment-623171486

[2020-05-04 00:38] yuvalbl commented on #274
@noamoss
Couldn't find which field is "date of submission"

[2020-05-04 06:10] noamoss commented on #274
@yuvalbl you are right: we are checking the relevant date on the client-side (in each relevant function) and then using the 'created' field on the db. In other words, no way you can/should verify correct submission date.

We can simplify and enable the check to approve the process is done, and later (on a separate test) verify that each field/answer is part of the submitted data (i.e. there is key

[2020-05-04 06:21] yuvalbl commented on #274
@akariv
In that case this issue will be solved by #282
Testing `alias` included

[2020-05-04 07:49] akariv commented on #184
@moshikod is already on it

https://github.com/moshikod/avid-covider/pull/1

[2020-05-04 07:51] #279 closed

[2020-05-04 09:03] #228 closed

[2020-05-04 09:03] #263 closed

[2020-05-04 09:05] #265 closed

[2020-05-04 09:06] #266 closed

[2020-05-04 09:51] noamoss commented on #264
@akariv please add a link to the relevant file, for QA

[2020-05-04 10:33] tkarady commented on #226
updated text -
"״המפה מציגה רק ערים שיש בהן 40 משיבים לפחות  ושכונות שיש בהן 20 משיבים לפחות. ערים ושכונות שיש בהן 200 משיבים לפחות מוצגות בצבע מלא.״

[2020-05-04 10:33] tkarady commented on #226
confidence in daily CSV output is updated according to:
cities:
number_reports_weighted>=200 : 1
40<=number_reports_weighted<200 : 0.5
number_reports_weighted<40 : 0

neighborhoods:
number_reports_weighted>=200 : 1
40<=number_reports_weighted<200 : 0.5
(20<=number_reports_weighted<40) & (city_reports>=40) : 0.5
otherwise: 0

[2020-05-04 11:31] akariv commented on #264
http://avid-covider.phonaris.com/data/map_coloring.json

On Mon, May 4, 2020 at 12:51 PM noamoss <notifications@github.com> wrote:

[2020-05-04 17:29] noamoss commented on #264
@akariv

I assume I should verify compatibility of 3 sources:
1. https://github.com/hasadna/avid-covider-raw-data/blob/master/input/2020-05-03.csv
2.  http://avid-covider.phonaris.com/data/map_coloring.json
3. the actual map.

can you explain or demonstrate the logic of the JSON to enable the check?

[2020-05-04 17:35] noamoss commented on #268
@mushon  @akariv I guess we should push this task forward.

I would prefer to send the questions, but even if we make a meeting, let's plan in advance what are the missing points to carry out this task, assuming [this is our source file](https://github.com/hasadna/avid-covider-raw-data/blob/master/input/2020-05-03.csv)

// cc @dorit102

[2020-05-04 17:39] noamoss commented on #279
checked and approved.

[2020-05-04 17:39] noamoss commented on #228
checked and approved.

[2020-05-04 18:14] noamoss commented on #264
can't really check for now, @mushon can you take over this check?

[2020-05-04 18:20] akariv commented on #267
@noamoss Phase 1 is done:
- Create tiles automatically
- Use static map api to generate the _preview_ image on the site.

You can see the updating image here:
https://avid-covider.phonaris.com/data/map_preview.png
https://coronaisrael.org/data/map_preview.png

[2020-05-04 18:24] maryLoi commented on #226
עדין לא ברור מה זה 8% ריכוז תסמינים. האם 8% מתושבי השכונה מדווחים על תמהיל כלשהו של תסמינים?
כמו כן, בשאלון שואלים מגוון שאלות לגבי מפגשים עם אנשים נוספים, איך זה משוקלל לתוך החישוב? האם יש מידע שלא בא לידי ביטוי במפה? - למשל דיווח על חולה מאומת או בידוד

[2020-05-04 18:34] noamoss opened #288 "add new question: assisted living"

[2020-05-04 18:35] noamoss commented on #288
![image](https://user-images.githubusercontent.com/3581741/81000554-1b4fda00-8e4f-11ea-8b07-a737c6bfc86b.png)

[2020-05-04 18:37] noamoss commented on #226
@tkarady ^^^

[2020-05-04 20:40] noamoss opened #289 "add "other" sex category"

[2020-05-04 20:53] noamoss opened #290 "add new symptoms"
* כאב בטן
* חוסר תאבון ו/או דילוג על ארוחות

[2020-05-04 20:55] noamoss commented on #290
ask WSI to approve:

![image](https://user-images.githubusercontent.com/3581741/81012703-ae463f80-8e62-11ea-84cc-12f11692d579.png)

![image](https://user-images.githubusercontent.com/3581741/81012739-bbfbc500-8e62-11ea-967b-ed80ffa29dcc.png)

[2020-05-04 20:57] noamoss commented on #288
@mushon @akariv I was wondering whether this question should be attached to the address (city+street) and could think of a couple of scenarios in which it would not serve the purpose, do you think it is crucial (remember it is a one time question per reporter).

[2020-05-04 21:01] noamoss opened #291 "imrpove covid19 question for initial report"
![image](https://user-images.githubusercontent.com/3581741/81013232-78558b00-8e63-11ea-84e4-2fc7004f931d.png)

[2020-05-04 21:02] noamoss commented on #291
@mushon @akariv I will start to implement it, hopefully, tomorrow. Please add your thoughts suggestions, if any, before.

[2020-05-04 22:23] noamoss opened #292 "add work question"
![image](https://user-images.githubusercontent.com/3581741/81019261-fb301300-8e6e-11ea-9694-c598f133db19.png)

[2020-05-04 22:30] noamoss commented on #292
@mushon @akariv my suggestion:

![image](https://user-images.githubusercontent.com/3581741/81019376-33375600-8e6f-11ea-8aa9-4df6ad107373.png)

- please add your textual/content comments here.
- I am asking WSI to approve they can handle the data - @akariv please review (so we can send for translation and hopefully deploy on Wed.) - but don't merge yet, until we get WSI approval

[2020-05-04 22:34] noamoss opened #294 "udpate homepage credits"
- add Dorit to the intro credits

[2020-05-05 07:30] #294 closed

[2020-05-05 07:58] #275 closed

[2020-05-05 10:58] mushon commented on #264
There's a bit of a glitch with the texture layer, it seems to be overlaid on top of another texture which creates a glitch (moire) effect:

staging:
![image](https://user-images.githubusercontent.com/27123/81059042-58ac7a00-8ed8-11ea-8e5b-61fd5f1f000e.png)

production (old map):
![image](https://user-images.githubusercontent.com/27123/81059107-7e398380-8ed8-11ea-9496-c7651f491c4c.png)

[2020-05-05 11:04] noamoss commented on #264
@mushon who should handle it?

[2020-05-05 12:39] mushon commented on #253
this is exactly what I meant. You would need to check all of these to confirm there was no change. Check this:
![image](https://user-images.githubusercontent.com/27123/81066928-8d273280-8ee6-11ea-9242-4d463e42d929.png)

[2020-05-05 12:41] mushon commented on #254
I thin this creates no default bias:
![image](https://user-images.githubusercontent.com/27123/81067111-d7101880-8ee6-11ea-91fb-49e42bbcc416.png)

[2020-05-05 13:05] mushon commented on #253
BTW, I agree we should do it only for consecutive days, through that we may also create an additional incentive for daily reporting…

[2020-05-05 13:34] akariv commented on #264
@mushon should be fixed now, please recheck.

On Tue, May 5, 2020 at 2:05 PM noamoss <notifications@github.com> wrote:

[2020-05-05 15:05] mushon commented on #264
Map colors are in sync
The diagonal moire effect is still there though…
Anyway, the sync issue was more critical so congrats!

:)

[2020-05-05 15:07] mushon commented on #253
![image](https://user-images.githubusercontent.com/27123/81081955-409a2200-8efb-11ea-99d0-f9277222c050.png)

Updated in Zeplin:
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5eb17fb8e353e71b0123fec1/
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5eb17fb8c67343b0adca5258/
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5eb17fb86979f51b378f9f5b/

[2020-05-05 15:08] mushon commented on #254
See update: https://github.com/hasadna/avid-covider/issues/253#issuecomment-624111959

[2020-05-05 16:32] noamoss opened #297 "add public transportation repeats question"
https://files.slack.com/files-pri/T02G85W3A-F01328Z0J0J/image.png
![image](https://user-images.githubusercontent.com/3581741/81090898-19495200-8f07-11ea-891c-b811eefda7d8.png)

[2020-05-05 16:35] noamoss opened #298 "add daily habits questions"
![image](https://user-images.githubusercontent.com/3581741/81091147-76dd9e80-8f07-11ea-9877-306fcbba69ed.png)

[2020-05-05 17:37] noamoss commented on #253
@akariv FYI ^^^

I will now work on spec for next week

[2020-05-05 17:38] noamoss commented on #254
will add specs for time estimation later this week.

[2020-05-05 17:53] noamoss commented on #289
@akariv please review #221 and merge.

[2020-05-05 17:55] noamoss commented on #292
PR can be reviewed and merged

[2020-05-05 20:04] noamoss commented on #298
@maryLoi  please notice:

-  as part of this addition, we will ask the `public_service` question only reporters who said they are not in insulation.

- mask + gloves were added to the daily report part of the report
- prayer house question was added to the reporter first report section

// cc @akariv @mushon

[2020-05-05 21:55] noamoss commented on #297
@akariv please notice, the handed PR includes script only - please take over to complete the 1 week check for this question (similar to the methods used for the COVID and the public service questions)

[2020-05-05 22:16] noamoss commented on #253
@mushon I suggest to simpify the wording a bit:

- מה מהפרטים הבאים מהדיווח הקודם שך, נכון גם להיום?

(this will save the need for technical instructions and telling the consequences of checking/unchecking each detail). Any objection?

[2020-05-06 07:28] #289 closed

[2020-05-06 07:40] #184 closed

[2020-05-06 07:45] akariv commented on #286
Yes, different versions for different languages are only enabled when building the project.
You can use `npm run build` and open the dist/en folder for the english version (although I'm pretty sure the recent localized strings are not committed to git, lmk if you want me to do that)

[2020-05-06 08:13] #288 closed

[2020-05-06 11:36] akariv commented on #292
@noamoss two comments
- numbers of work hours is very dynamic for a lot people (especially now that people are working from home / office based on policies that change weekly)
- people change their workplace sometimes

this data will become stale really quickly and people won't be able to change it as we only ask it once.

[2020-05-06 15:21] #292 closed

[2020-05-06 18:59] maryLoi commented on #226
שאלות נוספות ממשתמשת:

1. האם קיים הבדל בין צבע אפור מקווקו לבין צבע לבן במפה?
2. איך ניתן לדעת כמה אנשים הצביעו על התסמינים בכל צבע שהוא?
3. האם כשמופיע צבע אפור מקווקו זה מצביע על מספר משתתפים נמוך או כי אין תסמינים?
4. מה פרק הזמן עליו מצביעה המפה?

[2020-05-06 19:13] noamoss opened #304 "add "do you still work in..."?"
once a week validate if the last workplace report is still relevant.

note to consider these possible scenarios:

- did not have a job before --> now I have
- had a job before --> now I don't

[2020-05-06 19:20] tkarady commented on #226
1. אני לא יודעת מה זה צבע לבן, אשמח לצילום מסך לדוגמא
2. לא ניתן להסיק על מספר מדויק של דיווחים מתוך המפה
3. אפור מסמן שמספר המדווחים נמוך, אם יש מספק דיווחים רמה נמוכה של תסמיניים תופיע בצבע הכי נמוך לפי המקרא
4. סיכום של 7 ימים אחורה
אשמח אם נוכל לרכז את השאלות ב #corona-antivirus-wis בslack
פשוט נהיה קצת קשה לעקוב אחרי כל ערוצי התקשורת

[2020-05-06 19:26] akariv commented on #253
Would be good to show how a more complex situation would look like (e.g. has 3 symptoms, met 3 adults and 3 kids).
Also, worth mentioning that while some items fall into the "are you in the same situation as yesterday" concept, for other questions it seems forced.

For example, the temperature question might work ok for the 'didn't take my temperature', but will work poorly for when I did take my

[2020-05-06 19:53] noamoss commented on #253
correct. We thought to limit this mechanism to only some of the daily
(...and weekly) questions.

On Wed, May 6, 2020 at 10:26 PM Adam Kariv <notifications@github.com> wrote:

[2020-05-07 08:57] mushon commented on #253
and beyond that, limit it to the more "nothing unusual to report" type of scenario.

[2020-05-07 11:22] maryLoi commented on #290
לצורך אחידות להפוך כאב בטן ל"כאבי בטן". לחילופין להוריד את המילה כאבים בכלל מאחר והיא מופיעה בשאלה

[2020-05-07 13:00] mushon commented on #246
I simplified it a bit… I think it makes more sense…
![image](https://user-images.githubusercontent.com/27123/81297294-ba591980-907b-11ea-8758-157c5ec53acf.png)

[2020-05-07 14:27] noamoss commented on #215
current design...

![image](https://user-images.githubusercontent.com/3581741/81306315-feeab200-9087-11ea-8bfa-21e2896670b8.png)

We are waiting to see what are the upcoming research updates.

[2020-05-07 14:38] noamoss opened #306 "create map hover popup [16h]"
blocked by #309
### steps
- [x] properties and design: #309
- [x]  connect to map hover event: #319
- [x] development: #320
- [x] retrieve data, embed in template: #321
- [ ] qa
- [x] translate

* note: hover language should reflect the map locale-labels logic, especially for the city/town name

[2020-05-07 14:43] noamoss commented on #246
looks good. To be used in the map hover feature. WDYT?

On Thu, May 7, 2020 at 4:00 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-07 15:04] akariv commented on #246
We should use the same language from the hp current results tab.

Also the hover should contain info about the history of symptoms, not
number of personal reports, no?

On Thu, May 7, 2020 at 5:43 PM noamoss <notifications@github.com> wrote:

[2020-05-07 15:09] mushon commented on #246
yes, this has nothing to do with the map, only with the amount of reports in the last week.

[2020-05-07 15:21] noamoss commented on #246
What we spoke about in the meeting was showing the city trend (csv data, including the number of the reports) in the map hover. I guess both of you don't like the idea of showing the city/twon trend - just the current/updated data?

[2020-05-07 15:39] mushon commented on #246
AFAIU the priority is:
- results in HP
- results on map
- results in chat

[2020-05-07 17:56] akariv commented on #246
@noamoss this design is about the city trend of number of reports.
The map should show the city trend in the symptoms rate.

On Thu, May 7, 2020, 18:39 Mushon Zer-Aviv <notifications@github.com> wrote:

[2020-05-07 18:45] noamoss commented on #246
Ok, my thought was either to

1. Include the reports trends on hover (since I can already  see the symptoms/reasult of the city/town on the map)

Or

2. Use a similiar visualization to show the city/town symptoms/results trend.

[2020-05-07 20:44] #277 closed

[2020-05-08 08:37] noamoss opened #307 "contextualize chatbot"

[2020-05-08 09:21] #264 closed

[2020-05-08 09:22] #298 closed

[2020-05-08 09:22] #297 closed

[2020-05-08 09:47] noamoss commented on #290
will be fixed on https://github.com/hasadna/avid-covider/pull/308

[2020-05-08 10:08] noamoss opened #309 "map hover properties and design"
blocking #306

### available data points:
   - city/town name
   - city/town population size
   - number of reports - this week
   - number of report - total
   - symptoms_ratio,
   - symptoms_ratio_confidence
   - num_reports_weighted
   - symptoms_ratio_weighted
   - symptoms_ratio_confidence_weighted

"הסיכוי בעיר/שכונה לתוצאה חיובית בבדיקת אבחון לנגיף הקורונה, על-פי מודל מכון ויצמן לשקלול תסמי

[2020-05-08 10:13] noamoss commented on #309
@mushon I am willing to give up on my original thought to include here not only the research result but also a weekly trend of reports, took it out of the list.

[2020-05-08 10:15] noamoss commented on #306
@akariv any thoughts or points to consider regarding this task, while waiting for the design?

[2020-05-09 09:19] noamoss opened #310 "ease retruning reports [?h]"
### Definitions `

This task will focus on easing `returning` reporters flow, by picking previous report(s) data (it will be referred here as a "_previous_report_data_") and asking the reporter to (actively) approve they are still relevant for the current day ("_approved detail_"). This method - a multiselection question,  showing previous report data, will be named a " _summary question_".

- For

[2020-05-09 09:21] noamoss commented on #253
@akariv @mushon see my idea for implementation at https://github.com/hasadna/avid-covider/issues/310.

@mushon I think the "ללא שינוי" label should be displayed only when the item is checked, otherwise, it might misleading.

[2020-05-09 09:22] noamoss commented on #310
@akariv it is not prioritized for upcoming week (unfortunately), but I assign it to you for review and feedback whenever relevant.

[2020-05-09 09:29] noamoss commented on #254
created the specs in #310, closing this to prevent duplications.

[2020-05-09 09:29] #254 closed

[2020-05-09 09:30] noamoss commented on #304
should be covered on #310

[2020-05-09 09:30] #304 closed

[2020-05-09 09:32] noamoss commented on #268
since no one is responding, I am closing this issue.

[2020-05-09 09:33] noamoss commented on #245
covered on #307

[2020-05-09 09:40] akariv commented on #268
The task wasn't done yet, it will be done when we start working on the current results tab.

[2020-05-09 09:50] noamoss commented on #226
@mushon updated the issue description, please take over.

[2020-05-09 09:51] noamoss opened #311 "map, update color scale legend"
following the recent map change, color scale should reflect the research results / prediction per city /area.

[2020-05-09 09:54] noamoss commented on #307
@mushon @akariv ready for your review (see PR #308)

[2020-05-09 09:56] noamoss commented on #311
@akariv do you need extra info/data here, or can go?

[2020-05-09 09:59] noamoss opened #312 "homepage general results tab intro text"
part of #215

![image](https://user-images.githubusercontent.com/3581741/81471222-5871ee80-91f8-11ea-8f27-09f0ffb133dc.png)

suggested text:

מדד coronaisrael.org מנסה לחזות את מוקדי התפרצות הקורונה בעזרת ניתוח מידע מהציבור על התפתחות תסמיני הנגיף והתנהגות הציבור. המפה מתעדכנת מידי יום על בסיס המידע שאתם מדווחים לנו וניתוחו, בעזרת אלגוריתמים של ביג דאטה ובינה מלאכותית

התוצאות מוצגות עבור ערים או

[2020-05-09 09:59] akariv commented on #311
Just the final texts for the legend

[2020-05-09 10:04] akariv commented on #226
לדעתי זה לא הסיכוי להידבק אלא הסיכוי שאתה חולה

[2020-05-09 10:07] noamoss opened #313 "homepage result tab: city / town section"
blocked by #267

Add the following data points to the city/town static image:

* city/town name (with locales, if possible, not a must)
* number of reports
* research prediction
* research prediction compared with last week

![image](https://user-images.githubusercontent.com/27123/82300093-0af73d80-99bf-11ea-8eb3-eb8aa4391187.png)

![image](https://user-images.githubusercontent.com/27123/82300076-

[2020-05-09 10:08] noamoss commented on #313
@mushon @akariv

 I think we should consider the difference between the local city/town results (this issue) and the map hover data (#306 ) in terms of functionality and displayed data. Please share your thoughts

[2020-05-09 10:13] noamoss opened #314 "hompage results tab, national/general dyamic results scale"
part of #215

This part of the results tab should provide the user an indication of the national (avg.) research result

![image](https://user-images.githubusercontent.com/3581741/82368409-1037a500-9a1e-11ea-887b-15f64c6e3ec2.png)

https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5ebe979e37cc0746bf7c11dd/
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5ebe97b4b7700e4829

[2020-05-09 10:15] noamoss commented on #215
updated description turned this issue into a meta

[2020-05-09 10:25] noamoss commented on #312
@mushon please review

[2020-05-09 10:31] noamoss commented on #314
@mushon, please finalize

[2020-05-09 13:07] #63 closed

[2020-05-09 18:51] noamoss opened #317 "personal predictor MVP [15h]"

[2020-05-09 20:23] noamoss commented on #311
let's hope to be able to get them tomorrow at 11am meeting

[2020-05-09 20:24] noamoss commented on #226
fixed

[2020-05-10 06:14] mushon commented on #203
yes, I think so. Let's move this one forward.

[2020-05-10 06:21] mushon commented on #226
אני לא מבין את העדכון בתיאור ומה נדרש ממני לעדכן.
גם הקנה מידה החדש לא מופיע פה באישיו ואני לא יודע מהיכן להביא אותו.
@noamoss אני צריך הסבר יותר מפורט. אפשר גם בע״פ

[2020-05-10 06:48] noamoss commented on #226
@mushon

1. לאשר/לתקן את טקסט המבוא הזה:

המפה מציגה מידע שנאסף משאלונים אנונימיים שמילאו אנשים כמוך. האזורים צבועים על פי הסיכוי לחלות בקורונה לפי המודל המחקרי, על סמך הנתונים המתעדכנים. אפשר לקרוא עוד

2. להוסיף טקסטים לקטגוריות ולצבעים המעודכנים במקרא

3. לאשר/לתקן את השורה הזו שלא היתה במקור, אבל נראה לי שחשוב להוסיף לאור השינוי באופי המידע המוצג:

הנתונים המוצגים הם ממוצעים לכלל האוכלוסיה, ול

[2020-05-10 06:50] #203 closed

[2020-05-10 07:54] mushon commented on #226
אבל אני עדיין לא יודע מה הקנה מידה החדש כך שאין לי יכולת לייצר קטגוריות ולעדכן צבעים. במקביל אני חושב גם שכל הטקסט התחתון צריך להתעדכן. זה הטקסט שכתבנו יחד וההצעות לשינוי כולל המידע החסר:

המפה מציגה מידע שנאסף משאלונים אנונימיים שמילאו אנשים כמוך. האזורים צבועים על פי הסיכוי לחלות בקורונה לפי [המודל המחקרי](#). מסגול סיכוי גבוה יחסית (?% ומעלה) עד צהוב [] סיכוי נמוך (?% ומטה).

יש מצב שזה יכול לה

[2020-05-10 09:10] noamoss commented on #311
![image](https://user-images.githubusercontent.com/3581741/81495190-2a9faf00-92b7-11ea-9887-b0c7b8909e85.png)

[2020-05-10 09:35] noamoss commented on #226
@akariv sent the draft to dori, will update here when approved.

[2020-05-10 10:47] noamoss commented on #226
@akariv approved fraft in the description.

the following items will be added later:

- color indexes in text
- link to research
- link to FAQ

ready to go.

[2020-05-10 15:57] mushon commented on #306
Check proposed design: https://zpl.io/aXvMd4E
![image](https://user-images.githubusercontent.com/27123/81504064-014f4500-92f0-11ea-8ca7-81983d25e550.png)

[2020-05-10 15:58] mushon commented on #309
Check proposed design: https://zpl.io/aXvMd4E
![image](https://user-images.githubusercontent.com/27123/81504064-014f4500-92f0-11ea-8ca7-81983d25e550.png)

[2020-05-10 17:18] noamoss commented on #309
@mushon

1. users won't understand dots are calendar (I am certain, as one potential user actually asked me what are they).

2. Also, I think we should consider to show the connection between the value (13) to the level. Maybe even moving the number next to the label -

something like

[code]

[2020-05-10 18:00] noamoss commented on #309
@mushon also, please clarify if X report this week means starting Sunday, or during the last 7 days.

[2020-05-10 18:31] noamoss commented on #309
@mushon last point (hopefully): some polygons are very narrow or very tight. Please show the map hover effect as well.

[2020-05-10 18:32] noamoss opened #319 "map hover add check for a relevant info card"
based on the #306 design, create the template for the map hover:

![image](https://user-images.githubusercontent.com/3581741/81506162-0ebefc00-92fd-11ea-88dd-2d348cc58bee.png)

1. when the user hovers on the map, check if there is a relevant Infocard to show - decide whether it is a city/town or a neighborhood. (will become relevant in the follow-up issue)

2.  change the hovered polygon color/bor

[2020-05-10 18:33] noamoss opened #320 "map hover create infocard template"
based on the #306 design, create the template for the map hover:

![image](https://user-images.githubusercontent.com/3581741/81506162-0ebefc00-92fd-11ea-88dd-2d348cc58bee.png)

translatable static texts:
- רמת תסמינים
- באמינות ניתוח
- דיווחים השבוע
- אזור מספר

logic and content to be defined on a follow-up:  #321

[2020-05-10 18:33] noamoss opened #321 "map hover fill the template"
followup of #306 #320

![image](https://user-images.githubusercontent.com/3581741/81506143-f0590080-92fc-11ea-8248-873104427cec.png)

2. a. city/town name - notice longer city names (פרדס חנה-כרכור or מכבים-מודיעין-רעות)
   b. area number
3. transform the daily data to the categorical color
4. show the last day numerical value
5. show the correct textual label + color: גבוהה מאוד, גבוהה, בינונית,

[2020-05-10 18:40] noamoss commented on #319
@akariv nonfinal design (see my comments to @mushon at #309), please add any comments/questions you have over the other aspects of this task. If none, please unlable as 'discussion / info needed'

[2020-05-10 18:41] noamoss commented on #320
@akariv nonfinal design (see my comments to @mushon at #309), please add any comments/questions you have over the other aspects of this task. If none, please unlable as 'discussion / info needed'

[2020-05-10 18:41] noamoss commented on #321
@akariv nonfinal design (see my comments to @mushon at #309), please add any comments/questions you have over the other aspects of this task. If none, please unlable as 'discussion / info needed'

[2020-05-12 06:53] akariv commented on #312
@noamoss done with the original text (i.e. what's in the design).
When @mushon reviews the new text, I will update.

[2020-05-12 06:55] akariv commented on #313
@noamoss all is done apart from the "research prediction" part which we agreed we shouldn't show as a number but design is not updated.

[2020-05-12 06:57] akariv commented on #314
Copying the comment from the channel:

@mushon @noamoss

These are the values for the national “corona-score”:
[code]

(relevant columns are `date`, `sr` (symptoms rate)` and `nr` (the number of reporters)
It all falls in the same level (0.8-0.9), so it will be a little boring (all in the same color).
Perhaps a trendline would work better here? Or we remove this altogether?

[2020-05-12 06:59] #311 closed

[2020-05-12 07:00] akariv commented on #268
https://avid-covider.phonaris.com/data/city_rankings.json

[2020-05-12 07:00] akariv commented on #79
seems to be done

[2020-05-12 07:00] #79 closed

[2020-05-12 08:06] noamoss commented on #314
I agree.

@mushon ?

[2020-05-12 14:24] mushon commented on #314
I am not sure we need to get into trendlines, it is not the stockmarket where yu may want to catch the right moment to make a decision. The static boring trend tells the right story. A more turbulent trendline may focus the users on the wrong story. Additionally on the neighborhood level I think we will see more turbulent numbers. Don't you think?

[2020-05-12 15:06] akariv commented on #314
@mushon
The question was only about the _national_ timeline, which in the past 21
days remained exactly in the same level.

On Tue, May 12, 2020 at 6:01 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-12 15:10] mushon commented on #309
I made some updates to the design. Mainly the days would appear to complete the week block for the start and the end of the weeks:
![image](https://user-images.githubusercontent.com/27123/81710456-697e6200-947b-11ea-9a0c-f67fad6d2114.png)

Reports starting on a Sunday would have the previous week as labels:
![image](https://user-images.githubusercontent.com/27123/81710439-65524480-947b-11ea-9fe3-2

[2020-05-12 15:12] mushon commented on #312
I think it's good. Let's use it.

[2020-05-12 15:14] mushon commented on #253
not sure I understand, the "אין שינוי" label is what you confirm with the checkbox. It's the oldest pattern on the web, what's misleading about it?

[2020-05-12 15:27] mushon commented on #313
I uploaded a simple style update for the design to fit the current approach:
https://zpl.io/VQDpN0m
![image](https://user-images.githubusercontent.com/27123/81713122-283b8180-947e-11ea-8313-e7e1d9bd077f.png)

[2020-05-12 15:30] mushon commented on #314
I think the point still stands.
If you disagree we can take this discussion to Slack and maybe decide to later scope another task for it.

[2020-05-12 17:42] noamoss commented on #311
checked and approved. (I see a problem on live, but seems to be fixed on `test` env)

[2020-05-12 17:48] noamoss commented on #267
@akariv

Looking at the קריית אונו:

![image](https://user-images.githubusercontent.com/3581741/81727220-4ced2480-9491-11ea-863f-a43cbb8fa31d.png)

can't see where it is (in other words, we can not assume the user is familiar with the city/town borders) - For now it is a single case, but it might be a hint for scenarios we know the polygons but can not ensure a label is displayed. If there is no w

[2020-05-12 18:02] noamoss commented on #268
@akariv What is the reason for using a single number decimal (i.e. 0.9)? There are many cities/towns with 0.9, so the number of the reporters becomes the main factor of the rank, instead the formula result.

[2020-05-12 18:05] noamoss commented on #290
@akariv wasn't fixed, is there a reason you moved it to the QA?

[2020-05-12 18:12] akariv commented on #268
That's a question for wsi, this is the data their providing

[2020-05-12 18:13] noamoss commented on #309
@mushon

I think it is overcomplicated for the standard user: you assume they will catch the relations between the first row and the last row of the calendar. Why not keep it simple, like in this example?

![image](https://user-images.githubusercontent.com/3581741/81729528-ca666400-9494-11ea-803e-46ca58ab7cd8.png)

(accepted and updated the description with all the other suggestions)

[2020-05-12 18:15] akariv commented on #267
I might be able to fix that

[2020-05-12 18:24] akariv commented on #290
This issue is already deployed. If there's a typo in a word in production,
it's best to open a new issue for that so we can track what was deployed
and what not.

On Tue, May 12, 2020, 21:06 noamoss <notifications@github.com> wrote:

[2020-05-12 18:25] akariv commented on #309
אפשר להחליף את "אמינות ניתוח" ל'וודאות"

On Tue, May 12, 2020, 21:13 noamoss <notifications@github.com> wrote:

[2020-05-12 18:26] noamoss commented on #253
I claim that a clear and descriptive question should serve the purpose  (like "מה מהפרטים הבאים נכון גם היום?", see https://github.com/hasadna/avid-covider/issues/310#issue-615132417 for full description) the reporter will click/check the relevant facts. Showing the label "ללא שינוי" is not a must - and might confuse, as we are not using this pattern anywhere else in the tool. In other words: the

[2020-05-12 18:32] noamoss commented on #309
@akariv

אני חושש ש"ודאות נמוכה" או "ודאות בינונית" אלה לא ביטויים ברורים. מה הבעיה שאתה רואה ב"אמינות ניתוח..."?

[2020-05-12 18:43] noamoss commented on #313
@mushon thanks,

1. I assume Monday (07.04) is a date, which should have been 07.05:

![image](https://user-images.githubusercontent.com/3581741/81732344-08fe1d80-9499-11ea-9c77-7d016fe97e5a.png)

2. I got confused between the number in the current report (13) and the date (13.05).

a. Maybe we should show the date closer to the day's name?
b. Maybe we should show only the last report date (withou

[2020-05-12 18:45] mushon commented on #267
We could use the same design we will have for hover effects as an added layer in the static image query

Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

[2020-05-12 18:45] noamoss commented on #314
@mushon thanks,

1. I assume Monday (07.04) is a date, which should have been 07.05:

![image](https://user-images.githubusercontent.com/3581741/81732344-08fe1d80-9499-11ea-9c77-7d016fe97e5a.png)

2. I got confused between the number in the current report (13) and the date (13.05).

a. Maybe we should show the date closer to the day's name?
b. Maybe we should show only the last report date (withou

[2020-05-12 18:48] mushon commented on #313
עדכון אחרון: 13.05

וכן, בואו נוותר על הדגש של השבוע אחורה.

[2020-05-12 18:50] mushon commented on #309
It’s possible, but it would cost us another line. Maybe that’s ok.

[2020-05-12 18:51] mushon commented on #309
בהחלט

[2020-05-12 18:54] mushon commented on #253
I actually think it is less clear with your suggestion. Let’s have @akariv decide.

[2020-05-12 18:57] noamoss commented on #312
@mushon after staring at the current version, I think this intro should also include the scale or an explanation for the colors - as the user will see the result tab before / without seeing the map, and therefore has no way to interpret the display.

Which option would you prefer?

A. adding a legend (my favorite, requires a design)

B. adding the following paragraph to the one I offered at the de

[2020-05-12 19:02] akariv commented on #267
Can you explain how it's done @mushon?

On Tue, May 12, 2020 at 9:45 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-12 19:06] akariv commented on #309
״אמינות ניתוח״ זה מושג שבוודאות אנשים לא משתמשים בו ביום יום.
הוא גם בוודאות לא נכון - הניתוח אמין בכל מקרה, השאלה כמה החוקרים בטוח
שהמספר מייצג את המציאות - האם זה וודאי או שלא כל כך.
אני חושב שיש וודאות נמוכה שאנשים יבינו מה זה אומר ווודאות גבוהה שמרי תקבל
הרבה שאלות אם נשתמש בניסוח הנוכחי.

On Tue, May 12, 2020 at 9:52 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-12 19:11] noamoss commented on #313
@mushon

ואת המספר אנחנו עדיין מציגים בעיגול או לא?
אדם כתב מוקדם יותר שהיה סיכום שהערך המספרי לא יוצג - אני לא זוכר סיכום כזה, אבל עם הצגת סקאלה ([ראה הערה כאן](https://github.com/hasadna/avid-covider/issues/312#issuecomment-627530182)) זה אפשרי מבחינתי.

אם עדיין מציגים את הערך המספרי, אז צריך עדיין להרחיק את התאריך מהערך הנמד,  או לפחות שנות מבנה של התאריך- כי שני 13, אחד ליד השני - זה מבלבל.

[2020-05-12 19:11] noamoss commented on #313
... או סתם לשים את התאריך מתחת לעיגול עם הערך?

[2020-05-12 19:18] noamoss commented on #309
טוב, שניכם בעד, נלך על זה.

[2020-05-12 19:19] noamoss commented on #309
and now, back to @mushon https://github.com/hasadna/avid-covider/issues/309#issuecomment-627507522

[2020-05-12 19:20] noamoss commented on #309
נדמה לי ששניכם נוטים להצעה של אדם, נלך איתה.

@mushon בבקשה אל תפספס את זה:
https://github.com/hasadna/avid-covider/issues/309#issuecomment-627507522

[2020-05-12 19:22] noamoss commented on #268
@dorit102 ^^^

[2020-05-12 19:23] #290 closed

[2020-05-12 19:24] noamoss commented on #253
@akariv ^^^^

[2020-05-12 20:17] akariv commented on #268
@noamoss see here
https://github.com/hasadna/avid-covider-raw-data/blob/master/input/2020-05-11.csv

[2020-05-13 06:15] akariv commented on #226
Updated the infobox with the color indexes in text.

now waiting for links to add to it.

[2020-05-13 06:25] akariv commented on #312
In lack of other inputs, I implemented @noamoss suggestion.

[2020-05-13 06:38] akariv commented on #313
@noamoss I think @mushon meant the number in the circle to be the day-of-month (hence the 13).
It seems to be confusing.
Apart from that, I applied the new design  for this section.

[2020-05-13 06:39] akariv commented on #314
Since this is still unresolved, I think it might be good to delay this bit till the next version.
wdyt @noamoss?

[2020-05-13 07:19] dorit102 commented on #268
@noamoss @akariv
from Eran: "No reason, we can add two decimals"

[2020-05-13 07:52] akariv commented on #268
Assigned to Tal

https://trello.com/c/QaK54VTk

On Wed, May 13, 2020 at 10:19 AM dorit102 <notifications@github.com> wrote:

[2020-05-13 07:59] akariv commented on #267
Resolved by adding more labels

![840x480@2x](https://user-images.githubusercontent.com/265333/81786725-b9573a80-9508-11ea-82ae-a293b2070e70.png)

[2020-05-13 11:55] noamoss commented on #226
@akariv FAQ should not be added on this version (we have a google doc template, but I want to ask @maryLoi to suggest which questions are still relevant for the current version).

@dorit102 please add the link to the research.

[2020-05-13 11:56] noamoss commented on #313
@mushon

I think it is very confusing. can we leave 13/11/20 (or something similar) out of the dot?

[2020-05-13 12:13] noamoss commented on #312
@dorit102 please add the research link here as well.

[2020-05-13 12:15] noamoss commented on #226
@akariv

![תמונה](https://user-images.githubusercontent.com/3581741/81810954-8757cf80-952c-11ea-883c-0b09600014f9.png)

[2020-05-13 12:18] noamoss commented on #314
I agress, but let's hand to @mushon

[2020-05-13 12:25] noamoss commented on #314
(again, the number in the dot is confusing. I would just add a simple date under the current day)

[2020-05-13 12:26] noamoss commented on #312
@maryLoi please reveiw the text (on the `test` env) and add your comments

[2020-05-13 12:42] noamoss commented on #267
@akariv the reported problem was solved.

Now, I see the label color mismatch the city color:

![תמונה](https://user-images.githubusercontent.com/3581741/81813516-3a75f800-9530-11ea-93fc-b36b2b62c23b.png)

I think I can assume the reason, but prefer to ask why and what can be done.

// cc @mushon

[2020-05-13 14:31] akariv commented on #267
the preview shows the map with the breakdown for the neighborhoods in the
city, the label is for the entire city.

On Wed, May 13, 2020 at 3:42 PM noamoss <notifications@github.com> wrote:

[2020-05-13 17:29] mushon commented on #267
I think we will need to solve this textually with a caption along the lines of:
התפלגות רמות התסמינים בישוב

[2020-05-15 21:39] noamoss commented on #267
@mushon not sure I understand, please show it

[2020-05-15 21:40] noamoss commented on #268
@akariv closing this issue.

[2020-05-15 21:40] #268 closed

[2020-05-15 21:40] #312 closed

[2020-05-15 21:41] #274 closed

[2020-05-15 21:42] noamoss commented on #199
@akariv moving to backlog, still need to implement to the build

[2020-05-15 21:43] #226 closed

[2020-05-15 21:44] noamoss commented on #314
@mushon please add the relevant design and links

[2020-05-15 21:52] noamoss commented on #313
@mushon please add the updated design (finalized or for discussion), see my recent comments from slack:

[2020-05-15 21:54] #252 closed

[2020-05-15 22:01] noamoss opened #323 "covid+ positive: extend symptoms questions [?h]"
followup of #324, part of #307
for currently covid+ positive reports, add the following questions (per symptom)

points to think:
- how to handle a returning reporter with the same symptoms (in terms of counting days)

[source](https://docs.google.com/document/d/1eVxsBSaVIna-o932E7Ly7FAr3yhVTX7If0ZSvqXwlGQ/edit)

[2020-05-15 22:03] noamoss opened #324 "covid+ check & exposure , update questions + followups [?h]"
(part of #307)

1. First time reporter:
[code]

2. returning reporter:
[code]

3. update the `diagnosed_location` question:
[code]
-----

The original request for updates - ([source](https://docs.google.com/document/d/1eVxsBSaVIna-o932E7Ly7FAr3yhVTX7If0ZSvqXwlGQ/edit)):

![image](https://user-images.githubusercontent.com/3581741/82099475-238dfc00-9710-11ea-882c-c68476e4f2fd.png)

Also, notice to h

[2020-05-15 22:13] noamoss opened #325 "results tab add link to past data"
(part of #239, #215 )

we would like to enable curious users to download raw past data:

https://github.com/hrossman/Covid19-Survey/tree/master/aggregated_data

[2020-05-15 22:13] noamoss commented on #325
@mushon where/how would you add it?

[2020-05-15 22:15] noamoss opened #326 "results tab intro link to article [0.5h]"
followup of #312, part of #215

add a link to the scientific research article for more info:

**URL**: https://www.medrxiv.org/content/10.1101/2020.04.27.20076000v1

**Where to link from:**
- results tab intro:

![תמונה](https://user-images.githubusercontent.com/3581741/82150352-25b3a000-9861-11ea-8096-ce3e5972dcfc.png)

[2020-05-15 22:16] noamoss commented on #326
@dorit102 please paste here the link when available, and assign the issue to Adam.

[2020-05-15 22:26] noamoss opened #327 "map more info fit date structure"
![image](https://user-images.githubusercontent.com/3581741/82101045-03603c00-9714-11ea-87c3-f3e6bc5b0083.png)

dd - mm - yy

[2020-05-15 22:32] noamoss commented on #198
@dorit102  see [this link](https://docs.google.com/document/d/177OKr-lk-ilJKsk1wwqjfhqcS-hfJnYVV-CML0_oc8Q/edit?usp=sharing). All the questions highlighted in green are for WSI to answer. I will send now send to Tomer, and ask him to answer.

@maryLoi please review my comments, and reply/close.

[2020-05-15 22:37] noamoss opened #328 "external research plan"
[draft link](https://docs.google.com/spreadsheets/d/13RjxKwl2uMloqyEKZcAK-eOIuO34oAL01h-T3Q0Ao1Q/edit?usp=sharing)

[2020-05-16 05:21] akariv commented on #325
We should be using our own data repo which is actually usable and has
historical data:

https://github.com/hasadna/avid-covider-raw-data

We could link from it to mentioned repo for anyone looking for raw-er
undocumented datasets.

On Sat, May 16, 2020, 01:13 noamoss <notifications@github.com> wrote:

[2020-05-17 12:57] dorit102 commented on #198
@noamoss
סמדר מוויצמן הוסיפה התייחסויות במסמך,

[2020-05-17 13:00] dorit102 commented on #326
@noamoss
קישור זמני למאמר הסגרים-
https://www.medrxiv.org/content/10.1101/2020.04.27.20076000v1
מערן-
ו גרסה יחסית ישנה של מאמר הסגר, גם עוד לפני שהוספנו אתכם, אפשר לקשר, בקרוב תתעדכן הגרסה בארקיב ותכלול גם אתכם, ובמקביל נשלח לריוויו בנייצ׳ר מדיסן

[2020-05-17 14:05] noamoss commented on #328
@akariv please add your comments/esitmations in the attached draft.

@dorit102 you're welcome to reveview and ask as well.

[2020-05-17 14:21] noamoss opened #329 "map: click on about (?) hides the close map"
even if this is not a bug, even the experienced user won't notice the change and won't find a way to go back to the homepage.

![closemap](https://user-images.githubusercontent.com/3581741/82150981-c35b9f00-9862-11ea-9a63-72d6c19d1295.gif)

[2020-05-17 14:53] noamoss commented on #198
@dorit102

![תמונה](https://user-images.githubusercontent.com/3581741/82151998-38c96e80-9867-11ea-8098-ced088c8757a.png)

מה לכתוב שם כתשובה?

[2020-05-17 14:55] noamoss commented on #198
@maryLoi @mushon please review and add your comments [in the doc](https://docs.google.com/document/d/177OKr-lk-ilJKsk1wwqjfhqcS-hfJnYVV-CML0_oc8Q/edit?usp=sharing) by Tuesday, so we can add it to the site.

[2020-05-17 15:08] noamoss opened #330 "omit gloves question [0.5h]"

[2020-05-17 15:40] noamoss commented on #307
Smadar, from WSI, approved the changes in general

[2020-05-17 15:42] akariv commented on #328
if I understand correctly, this won't be based on the packaged chat we
created?

On Sun, May 17, 2020 at 5:05 PM noamoss <notifications@github.com> wrote:

[2020-05-17 16:09] noamoss commented on #198
(@dorit102 Smadar already replied)

[2020-05-17 16:32] noamoss commented on #324
@akariv please review and add your comments/fixes so I can submit to Smadar (WSI staff) to approve before implementation.

[2020-05-17 16:38] noamoss commented on #328
@akariv why not? this is exactly the plan...

[2020-05-17 17:56] akariv commented on #328
packaged chat assumed no custom code or design changes...
while the logos can probably be accommodated somehow, the new functionality
cannot - unless we extend the capabilities of the packaged chat (which will
take more time).

On Sun, May 17, 2020 at 7:38 PM noamoss <notifications@github.com> wrote:

[2020-05-17 18:32] noamoss commented on #328
that's exactly the assumption here- all properties/estimations of the packaged chat were taken from the previous document. I added 2-3 relevant features that are relevant for this research and if we will apply them they should (for sure) be added to the packaged chat.

I added asteriks next to the additional parts, to mark where these additions are, if I understand correctly.

[2020-05-17 18:49] akariv commented on #328
Not all these extra features are fit to be in the general product.
We will need to extend the packaged chat to support custom code and styling
- what we were trying to avoid - and on top of that build the extra
functionality for this specific scenario.

On Sun, May 17, 2020 at 9:33 PM noamoss <notifications@github.com> wrote:

[2020-05-17 19:43] noamoss commented on #328
It is a draft for our offer - so you can mark/cooment parts that are not
making sense as part of the general plan of using the packaged tool. We can
try and them.

Just lease be explicit, as it is hard flr me to understand what parts and
costs you are referring to

On Sun, May 17, 2020, 9:49 PM Adam Kariv <notifications@github.com> wrote:

[2020-05-17 21:48] noamoss opened #331 "turn "met X" adult/minor quetsion optional [0.5h]"
part of #308 :
following a talk with Smadar, we should turn both questions into optional (not mandatory).

[2020-05-19 06:48] mushon commented on #267
We need to somehow explain that the map shows the breakdown while the label shows the total. I think it makes sense to do that textually. Otherwise we can also decide to zoom out and show the city against its surroundings (tap would expand the map either way and allow you to explore within it)

[2020-05-19 07:50] mushon commented on #313
אופציה נוספת מציגה 4 שבועות אחורה:
![image](https://user-images.githubusercontent.com/27123/82299317-09794580-99be-11ea-9c67-ae8112edef48.png)

![image](https://user-images.githubusercontent.com/27123/82299340-10a05380-99be-11ea-9b29-72b856814bfe.png)

בנוסף, אני מציע לוותר על הדרופדאון עם ״הישובים לפי סדר ריכוז התסמינים״ כי ויתרנו על הפונקציה שלו כדרופדאון

[2020-05-19 11:55] noamoss commented on #313
@mushon נראה הרבה יותר טוב וחד משמעי בעיני.

@akariv WDYT?

[2020-05-19 11:57] noamoss commented on #267
@mushon

I understand the idea, but not sure how you expect it to look

I think the other option is more relevant to the current situation. Just want to make sure the user understands the colors gap.

[2020-05-19 12:18] mushon commented on #267
Fair enough.
For mobile the API call should be something like this (depends on resolution):
`https://api.mapbox.com/styles/v1/wios/ck9spo9jo02p71ip3m6xfchxk/static/34.7384,31.7314,10.25,0/240x137@2x?access_token=pk.eyJ1Ijoid2lvcyIsImEiOiJjazh4ZXZ6Z24wejdtM3JvN2F1MHdlc2Z4In0.vz7knGcRWWGE4LGOLx8c7g`
Generating an image like:
<img src="https://api.mapbox.com/styles/v1/wios/ck9spo9jo02p71ip3m6xfchxk/s

[2020-05-19 12:21] akariv commented on #267
Yes, but a 240px image would look very badly on a large screen, hence the
necessary compromise

On Tue, May 19, 2020, 15:18 Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-19 14:03] mushon commented on #267
true, but we're using a 1255x717px image that is not even @2x and scales really badly. Since our use case is first and foremost mobile I suggest we go with the retina 240px image (480px wide in practice) or at least something close. Otherwise we may also use different images per screen size.

[2020-05-19 14:19] akariv commented on #267
it's actually 960x480@2x, but np I will make it smaller

On Tue, May 19, 2020 at 5:03 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-19 14:52] mushon commented on #267
The point is also to keep the zoom level under 10.25 to keep the polygons in the city level

[2020-05-19 14:58] noamoss opened #332 "external research, screen wide selection question (scale 1-5) [5h]"
The task to estimate is to enable scale (1-5) selection questions implementation:

![image](https://user-images.githubusercontent.com/3581741/82342093-e2406980-99f9-11ea-8c27-75e57de36b92.png)

It can be implemented in several ways - but we can assume:

1. always having 5 options (always 1-5, in all languages)
2. constant textual labels - should be translateable
3. different sentence/question (can

[2020-05-19 14:58] noamoss commented on #332
@akariv following our phone talk today with the research team, can you estimate the required work-time to implement this addition?

// cc @dorit102

[2020-05-19 15:31] akariv commented on #332
this is a simple options question, just needs different design
I'm guessing it's 0.5h for allowing for options questions to have custom design, and then it depends on the specific design.

[2020-05-19 15:54] mushon commented on #314
Please refer to the designs here: https://github.com/hasadna/avid-covider/issues/313#issuecomment-630649087

Also available on Zeplin:
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5ebe979e37cc0746bf7c11dd/
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5ebe97b4b7700e482908a57f/

[2020-05-19 16:54] akariv commented on #267
keeping the zoom level that high would mean that small cities would barely
appear in the generated image.
That +  reducing the size of the image will cause labels to disappear (see
a few comments back up)

https://github.com/hasadna/avid-covider/issues/267#issuecomment-627494648

We can choose any two out of
- fitting the city area in the image
- the exact pixel size of the image
- the zoom level

[2020-05-19 17:04] mushon commented on #325
![image](https://user-images.githubusercontent.com/27123/82356134-de1d4780-9a0b-11ea-9a78-36d542f2b0df.png)
https://zpl.io/2EJ9n38

[2020-05-19 17:10] mushon commented on #324
- אני מעדיף `איפה אתה גר` על `איפה אתה שוהה`
- יתרה מזאת, לא הבנתי למה דווקא בשאלה הזו יש חלוקה מגדרית, למה לא משהו כמו:`איפה עוברים עליך ימים אלה?`

מעבר לזה נראה לי סבבה

[2020-05-19 17:25] mushon commented on #267
Let's try these two and see if it works:
- fitting the city area in the image
- the exact pixel size of the image

Also, maybe we should simply prevent the neighborhoods from appearing at all in the static map?

[2020-05-19 17:59] akariv commented on #267
Or maybe show them both somehow? Overlaying them one on top of the other?

On Tue, May 19, 2020, 20:25 Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-19 18:43] mushon commented on #267
That would be confusing as they have different values. The interactive map is just a single tap away. I suggest we keep it at that.

[2020-05-19 18:59] noamoss commented on #267
+1

[2020-05-19 19:02] noamoss commented on #324
@mushon thanks, fixed.

@akariv ?

[2020-05-19 19:05] #332 closed

[2020-05-19 19:10] akariv commented on #267
I'm thinking of something like this (I'm sure @mushon can design this better)

<img width="811" alt="Screen Shot 2020-05-19 at 22 08 19" src="https://user-images.githubusercontent.com/265333/82368007-5c361a00-9a1d-11ea-83d2-bab93a75af2b.png">

[2020-05-19 19:11] noamoss commented on #325
@mushon I think it is a good position, but:
1. there are two lower buttons with similar colors but different shapes.
2. the current design overemphasizes the ability to download data, over the need to fill the questionnaire, I think it should be simpler :

![image](https://user-images.githubusercontent.com/3581741/82368064-72dc7100-9a1d-11ea-96f0-790f5a485a73.png)

![image](https://user-images.git

[2020-05-19 19:19] akariv commented on #325
the main cta is fixed to the bottom, for the download button you will have
to scroll down quite a bit

On Tue, May 19, 2020 at 10:12 PM noamoss <notifications@github.com> wrote:

[2020-05-19 19:19] noamoss commented on #314
@akariv updated the description, to cover relevant implications of the current issue. I think it is ready to go.

[2020-05-19 19:21] akariv commented on #324
- `באיזה תאריך התבצעה הבדיקה שבה אובחנת כחולה בקורונה?`

הראשונה? האחרונה?

[2020-05-19 19:22] noamoss commented on #313
(@akariv the following parts are relevant both for this issue and for #314, as well):

- [ ] retrieve data for last 30 days fro the last update
- [ ] update the graph, to include/draw 30 circles

notice: to keep it simple and consistent, in case of a missing day/data point, the start date should be 31 days ago, and so on.

[2020-05-19 19:23] akariv commented on #324
- no: (לא אובחנתי כחולה בקורונה)
          - ;מה תאריך הבדיקה האחרונה?`
         - ` ומה היתה התוצאה`:

למה לשאול מה היתה התוצאה אחרי שאמרתי שלא אובחנתי כחולה?

[2020-05-19 19:28] akariv commented on #324
- else: ask the weekly question:  `האם נבדקת בשבוע האחרון לקורונה, בבדיקת PCR?`

למה לשאול על הבדיקה ואז להסתבך עם התוצאה שאולי הגיעה ואולי לא ולתזכר סביב זה?

אפשר פשוט לשאול -
`האם אובחנת בשבוע האחרון כחולה בקורונה בבדיקת PCR?`

ואז כל התהליך הופך להיות פשוט הרבה יותר -
משתמש חדש -
האם אובחנת לקורונה בעבר (ואם כן - אז מה קרה אם זה)
משתמש חוזר -
האם אובחנת לקורונה בשבוע האחרון

[2020-05-19 19:31] akariv commented on #324
where do we ask if currently hospitalized?

[2020-05-19 19:31] noamoss commented on #325
that's right, but still once we scroll down this button becomes the main item in the page, it takes to focus out of the
1. results
2. start the report button

I guess it is the combination of the size + background color that bothers me. Don't you see an issue here?

[2020-05-19 19:37] akariv commented on #324
when updating the description it's impossible to track changes - especially if you're changing it while I'm reading it.
it's better to add a file to the repo with the pseudocode and do the review over a PR.

[2020-05-19 19:39] akariv commented on #325
There is definitely an issue but it's not crucial I think.

On Tue, May 19, 2020 at 10:32 PM noamoss <notifications@github.com> wrote:

[2020-05-19 19:52] akariv commented on #324
Generally
- I'd like to review the entire flow of the covid+ & exposure questions as these are connected and contain duplicate information
- We also need to define the data fields that will contain the data and whether the previous covid+ incident needs to be sent with every report or not

[2020-05-19 19:53] noamoss commented on #324
right, will do

but:

will not cover the reporter waiting for results. We want to ask if they made a check in the last week before asking about the results.

[2020-05-19 19:54] noamoss commented on #324
That's the idea, once we get an approval suggested updates.

[2020-05-19 20:00] noamoss commented on #324
![image](https://user-images.githubusercontent.com/3581741/82372295-67d90f00-9a24-11ea-9ecb-15d361c22403.png)

but currently, it is a general status, unrelated to CPR positive results.

[2020-05-19 20:07] noamoss commented on #324
https://github.com/hasadna/avid-covider/pull/333

[2020-05-19 20:10] noamoss commented on #325
so let's hope @mushon will be able to make the lightening change in the design before you get to this issue, if not, it's ok to apply as is.

[2020-05-20 07:46] mushon commented on #267
not sure I can actually… this would create a lot of noise.
What we can try though is automagically fading between the two views (it would probably require creating two styles though)

[2020-05-21 14:05] noamoss commented on #267
@akariv what should be checked (or what is the status) of this issue?

[2020-05-21 14:09] noamoss commented on #314
looks good. verified texts are available on transifex as well.

[2020-05-21 14:11] akariv commented on #317
https://hasadna.github.io/avid-covider-predictor/he

https://hasadna.github.io/avid-covider-predictor/en

[2020-05-21 14:12] akariv commented on #325
I added it next to the 'source code' link which I think is more appropriate and solves the concerns by @noamoss

[2020-05-21 14:12] noamoss commented on #314
@akariv please explain /demonstrate how did you handle this part:

[2020-05-21 14:15] noamoss commented on #313
1. city/town names are not following the language ui fallback, for example, when using the Arabic UI:

![image](https://user-images.githubusercontent.com/3581741/82567670-5ad43100-9b86-11ea-9430-24f0ba9ce543.png)

I am almost sure both Haifa and Beer-Sheva has Arabic names on OSM. If not, we must define a consistent rule.

2. Did not we hear that Nof-Ha'gallil issue was supposed to be solved?

tak

[2020-05-21 14:19] noamoss commented on #314
@akariv what happened to the dotted lines, pointing date --> circle:

![image](https://user-images.githubusercontent.com/3581741/82568217-2b71f400-9b87-11ea-8533-aa5fbd0422fb.png)

[2020-05-21 14:19] akariv commented on #267
The topic of this issue changed quite a few times along the comment thread, but the original issue (as defined in the description) was implemented fully.

I made the images smaller as per @mushon 's request.
As for a better design of the map - that's out of my domain.

[2020-05-21 14:21] noamoss commented on #314
@akariv also need to add ':' for the last update label.

[2020-05-21 14:23] #317 closed

[2020-05-21 14:26] akariv commented on #314
We only show data for days we have. We always show the last 30 data points.
However, based on the way that WIS calculate the data there's no possibility for a missing datapoint.

[2020-05-21 14:26] akariv commented on #314
Dotted lines are in staging:

<img width="344" alt="Screen Shot 2020-05-21 at 17 24 30" src="https://user-images.githubusercontent.com/265333/82568944-3aa57180-9b88-11ea-91c4-579145fb4c1d.png">

[2020-05-21 14:26] noamoss commented on #325
@akariv

I agree.

I am wondering whether we should keep the current link or point directly to https://github.com/hasadna/avid-covider-raw-data/blob/master/input/all_dates.csv, as most of the users aren't familiar with github, and won't find their way to the input/data folder.

Your call.

[2020-05-21 14:28] akariv commented on #314
It was removed on purpose as for ltr languages it wouldn't work

[2020-05-21 14:28] #267 closed

[2020-05-21 14:29] noamoss commented on #267
@akariv

( I discuss the נוף העמק problem again on https://github.com/hasadna/avid-covider/issues/313. You can reopen this issue and discuss it here if you prefer)

[2020-05-21 14:34] noamoss opened #334 "fix scroll / language switch overlay"
![image](https://user-images.githubusercontent.com/3581741/82569662-388fe280-9b89-11ea-8a79-813bb93a3ea2.png)

[2020-05-21 14:34] noamoss commented on #334
Chrome 81 on Windows 10

[2020-05-21 14:37] noamoss commented on #334
whatismybrowser.com/w/QEF397B

[2020-05-21 14:39] noamoss commented on #314
my screenshot taken on widnows + chrome, on whatismybrowser.com/w/QEF397B

Tried hard refresh, did not solve the issue. It did not reproduce on FF

[2020-05-21 14:42] noamoss commented on #198
@akariv

since I did not get other responses, the document is ready to be used. I would add it next to the new 'raw data' link  with a "שאלות נפוצות" label.

[this is the link](https://docs.google.com/document/d/177OKr-lk-ilJKsk1wwqjfhqcS-hfJnYVV-CML0_oc8Q/edit?usp=sharing

[2020-05-21 14:42] noamoss commented on #198
@mushon  / @maryLoi we can (and should) keep editing it based on ongoing questions.

[2020-05-21 14:43] #215 closed

[2020-05-21 14:44] noamoss commented on #198
changed my mind: next to the "contact us" link.

[2020-05-21 14:50] akariv commented on #314
Tested now on windows w/ chrome 81 and 83, does not reproduce.

![דיווח קורונה יומי - Google Chrome 21_05_2020 17_41_16](https://user-images.githubusercontent.com/265333/82571329-7beb5080-9b8b-11ea-9f34-41458436c3b8.png)

[2020-05-21 15:43] noamoss commented on #314
@akariv did you try with the same resolution? (retested, after restarting the device)

[2020-05-21 15:44] akariv commented on #313
1. There was a bug in the data processing script, so more names should be available now - but OSM still doesn't have all translations for all the cities, so if it's a big problem we should find a solution for this.

2. Nof-Ha'gallil issue was indeed solved, but for the label to appear we need more pixels in the image as explained here: https://github.com/hasadna/avid-covider/issues/267#issuecommen

[2020-05-21 15:48] akariv commented on #314
In multiple resolutions, including the exact one from the report.

Just to make sure -
Are you seeing any console log errors?
Are you zoomed in or out?
Did you try in an incognito window?

On Thu, May 21, 2020 at 6:43 PM noamoss <notifications@github.com> wrote:

[2020-05-21 15:59] noamoss commented on #313
@akariv

Arabic looks better, but it is weird Ashkelon does not have an Arabic label. Can you recheck?

I think we can leave as is for now.

not sure I understand the logic, but sounds like no-choice.

3. (new finding):

French UI should show English titles, instead of hebrew:

![image](https://user-images.githubusercontent.com/3581741/82578477-20be5b80-9b95-11ea-883b-ace342a7fe37.png)

[2020-05-21 15:59] akariv commented on #314
correction: design for this label entirely doesn't work in ltr (falls off the screen).
I removed that label for now until a solution in design is provided.

[2020-05-21 16:04] akariv commented on #325
The link I provided has documentation of the data location and the CSV columns, pointing directly at a csv without any explanation is more confusing imo

[2020-05-21 16:07] noamoss opened #335 "result tab dates labels on LTR - fix design"
https://github.com/hasadna/avid-covider/issues/314#issuecomment-632176307:

I removed that label for now until a solution in design is provided.

![image](https://user-images.githubusercontent.com/3581741/82579228-2bc5bb80-9b96-11ea-9c30-22832afb3748.png)

[2020-05-21 16:07] noamoss commented on #314
![image](https://user-images.githubusercontent.com/3581741/82578786-8c082d80-9b95-11ea-8de6-1b5ed5ffc149.png)

(nope,  default)

yes, problem persists.

Another clue: while using the chrome dev tools (to copy/paste the console.log above) the dotted lines appeared for mobile display, same browser, with 716 X  715:

![image](https://user-images.githubusercontent.com/3581741/82579024-de494e80-9b95-11

[2020-05-21 16:09] akariv commented on #313
Good catch on the french - all languages should update soon with more
translations.

(e.g. to get arabic we had to match 'petach tikva' and 'petah tiqwa' which
wasn't matched before, same for ashkelon and ashqelon)

On Thu, May 21, 2020 at 6:59 PM noamoss <notifications@github.com> wrote:

[2020-05-21 16:10] akariv commented on #314
So it disappears at some browser width?

On Thu, May 21, 2020 at 7:08 PM noamoss <notifications@github.com> wrote:

[2020-05-21 16:14] akariv commented on #314
(btw, this is still not mobile display - still desktop, although quite
compressed)

On Thu, May 21, 2020 at 7:10 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-05-21 16:16] noamoss commented on #325
@akariv I think we should also think of Hebrew readers and non-developers, so I suggest to add/update the following lines to the README, and close this issue:

add

add

update

-->

[2020-05-21 16:19] noamoss commented on #314
right

yes, but now it works... did you change anything?

![image](https://user-images.githubusercontent.com/3581741/82580587-fb7f1c80-9b97-11ea-9d7f-8fe58311d984.png)

(please notice the `:`...) ^^^^

[2020-05-21 16:21] akariv commented on #313
Okay, all translations are now online - only ones missing are qiriat ono and qiriat tivon.
also fixed the dates location on ltr languages which was buggy (but you've seem to have missed that in your screenshot :) )

[2020-05-21 16:22] noamoss commented on #334
fixed

![image](https://user-images.githubusercontent.com/3581741/82580866-71838380-9b98-11ea-9483-c68339308e02.png)

[2020-05-21 16:22] #334 closed

[2020-05-21 16:23] akariv commented on #314
I actually pushed a fix (
https://travis-ci.org/github/hasadna/avid-covider/builds/689709616) but
it's still building - so no :)

On Thu, May 21, 2020 at 7:19 PM noamoss <notifications@github.com> wrote:

[2020-05-21 16:24] noamoss commented on #313
looks good.

[2020-05-21 16:24] #313 closed

[2020-05-21 16:26] noamoss commented on #314
let me know when the `:` issue (now in rtl) is solved and we can close this issue for good.

[2020-05-21 16:28] #325 closed

[2020-05-21 16:28] akariv commented on #325
Done.

On Thu, May 21, 2020 at 7:16 PM noamoss <notifications@github.com> wrote:

[2020-05-21 16:29] akariv commented on #314
Build is brewing (
https://travis-ci.org/github/hasadna/avid-covider/builds/689711747), should
be up in a few minutes

On Thu, May 21, 2020 at 7:26 PM noamoss <notifications@github.com> wrote:

[2020-05-22 16:11] mushon commented on #335
![Group 25](https://user-images.githubusercontent.com/27123/82687423-f38aaf80-9c5f-11ea-8962-0b83639406dd.png)
https://zpl.io/aXAAWMg

[2020-05-22 17:01] akariv commented on #335
Yes I considered that but we need to make sure that for other languages the
space will fit (esp Russian which is problematic in that sense)

On Fri, May 22, 2020, 19:11 Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-05-22 17:51] mushon commented on #335
We may want to consider shortened text like `updated:` and `symptoms rate:`
Additionally on desktop we might want to experiment with a wider graph with larger spacing between the circles.

On another note, I suggest when when we stick this bar to the top we release the fixed title above it. We don’t need both of them to be fixed at the same time.

[2020-05-23 17:35] noamoss opened #336 "add link to research"
Add the new research link (https://www.medrxiv.org/content/10.1101/2020.05.18.20105569v1) on the following locations (open as a new tab)

1. hp results tab:

![image](https://user-images.githubusercontent.com/3581741/82736721-7a10c100-9d34-11ea-9633-b6ed347e61b5.png)

2. map info pop up:
![image](https://user-images.githubusercontent.com/3581741/82736777-c1974d00-9d34-11ea-9659-50256d157961.png)

[2020-05-23 17:38] #314 closed

[2020-05-23 17:42] noamoss commented on #335
@maryLoi can you help with the following labels in Russian?

1. "updated:"

2.  "symptoms rate:"

Please assign to Adam when done.

[2020-05-24 15:09] maryLoi commented on #335
Updated - обновлено
symptoms rate - частота симптомов

[2020-05-24 18:46] noamoss commented on #328
closing issue, will create a separate issue for current research questionnaire updates.

[2020-05-24 18:46] #328 closed

[2020-05-24 18:53] noamoss opened #337 "external research- choose relevant reporter + submit relevant UID [6h]"
### 1. simplify pre-questions [1h]

omit the first general research question [0.5h]

### 2. choose specific reporter and submit uid to the google form [3h]

a. when the user clicks 'yes', to fill the external questionnaire, before opening the external research link, ask:

q: "עבור מי מהמדווחים תמלאו את השאלון?"

b. submit the reporter uid to the relevant field in the form

### 3. update the "end o

[2020-05-24 18:53] noamoss commented on #337
@akariv please approve/update my time estimation. If it seems ok, just remove the label and it is ready to apply.

[2020-05-24 18:58] noamoss opened #338 "hp results tab, show all cities/towns with data in the chart [?h]"
this issue to prepare the site for a scenario with data from many/all cities town.

[2020-05-24 19:03] noamoss commented on #330
@akariv please remove the 'time estimation label' if you agree, and update the estimation if I missed some complications here.

[2020-05-24 19:13] noamoss commented on #245
@akariv included in #308:

![image](https://user-images.githubusercontent.com/3581741/82762793-be22c500-9e0b-11ea-8ec8-95fa954a5ffb.png)

[2020-05-24 19:14] noamoss commented on #323
@akariv please add your time estimation, to update Dorit. This issue can be applied.

[2020-05-24 19:16] noamoss commented on #335
@maryLoi can't you find a shorter/single word term for "midrag"?

[2020-05-24 19:19] noamoss commented on #331
@akariv tried to voder that in #308:  https://github.com/hasadna/avid-covider/pull/308/commits/43c1b67bfd6b7ae4c0a141b915ee521374e09307

[2020-05-24 19:28] noamoss commented on #306
@akariv can you estimate this?

[2020-05-25 06:08] akariv commented on #337
For (2) we have what we planned for #190 - ask for each reporter 'is it you or someone else' (and stop asking once we get a 'yes' to that question.
For (3) - I think that's already done.

Other than that estimations seem fine.

[2020-05-25 06:09] akariv commented on #338
There are about 60 relevant cities in this list.
Is it somehow different to simply showing these 60 items instead of just the top 15?

[2020-05-25 06:14] akariv commented on #331
Left two comments on the commit: https://github.com/hasadna/avid-covider/commit/43c1b67bfd6b7ae4c0a141b915ee521374e09307

[2020-05-25 06:25] akariv commented on #323
This question is not defined well enough - is this a one time question? a recurring one?

for regular reporters we can extract this information from the data itself (as we can now track the reports of the same user over time).

all-in-all it seems a lot of effort for a question that will get answered less than ten times (and I'm being generous here)

[2020-05-25 06:27] akariv commented on #324
1. I'd _still_ like to review the entire flow of the covid+ & exposure questions (as these are connected and contain duplicate information)...
2. We also need to define the data fields that will contain the data
3. whether the previous covid+ incident needs to be sent with every report or not

[2020-05-25 06:33] akariv commented on #324
למה אכפת לנו אם מישהו עשה בדיקה ועדיין לא הגיעו תוצאות.

כאמור -
למה לשאול על הבדיקה ואז להסתבך עם התוצאה שאולי הגיעה ואולי לא ולתזכר סביב זה?

אפשר פשוט לשאול -
האם אובחנת בשבוע האחרון כחולה בקורונה בבדיקת PCR?

ואז כל התהליך הופך להיות פשוט הרבה יותר -
משתמש חדש -
האם אובחנת לקורונה בעבר (ואם כן - אז מה קרה אם זה)
משתמש חוזר -
האם אובחנת לקורונה בשבוע האחרון

[2020-05-25 06:40] akariv commented on #306
Development is 16h

[2020-05-25 06:47] akariv commented on #246
1. Not sure I understand what the bars mean (and is there any meaning to the standing lines inside the bars) and what are the emoticons next to the bars.
(I have a guess, but I'm not certain)

2. "2000 total reports" is since we started counting? this means that this threshold will be less meaningful over time.

Time estimation for this is ~4 days

[2020-05-25 09:40] noamoss commented on #337
(2) What they would prefer is a single selection question, to choose the
reporter (like we doing the end of the loop). Can you te the time/price
differences between the two options?

(3) so did I (cc @dorit) and therefore asked for an explicit definition of
an alternaive text.

On Mon, May 25, 2020, 9:08 AM Adam Kariv <notifications@github.com> wrote:

[2020-05-25 09:49] noamoss commented on #338
Currently there are 60 cities, because we have a relatively small amount of
data points. We should think of what should be working (assuming a 2nd
round) when the list will consist 300-400 cities/town.

For example:
1. Does it nake sense to load all those static images at once?

2. What should I do to find directly my city to see where is it in the rank?

3. Can we assume a long list of 200-300 is

[2020-05-25 10:46] akariv commented on #338
Note that the list takes into account other sources - we have about 70K
aggregated reporters today (down from 420K a month ago).
Static images are only opened when opening the dropdown card.
Generally I think that it's best to keep the top-X ranking as is, and
answer the other concerns through the map interface and the hover on it.

On Mon, May 25, 2020 at 12:49 PM noamoss <notifications@github.co

[2020-05-25 13:34] noamoss commented on #338
@dorit102

see Adam's recent comment, I agree:

answer the other concerns through the map interface and the hover on it.

How would you like to continue?

[2020-05-25 13:43] noamoss commented on #246
@akariv

relative number of reports in the specific day in the specific city/town. I think we can scale the bars (meaning, each line will mean 5% of the reports in the city/town in the last week). @mushon WDYT?

good point, but that's why I offered to set the graph total by the weekly reports count.

[2020-05-25 13:48] noamoss commented on #324
@akariv

so we said to do so in a combined draft you will share on Wed. right?

Is there a point to do it now, or should we do it based on Wed. flow?

if by that you refer to the data points we already hold, I assume we should not - but that's something to clarify with Smadar on Wed. If you refer to future reports - I think we should keep sending a positive results until the reporter reports of CO

[2020-05-25 13:49] noamoss commented on #324
@akariv can you estimate this task?

[2020-05-25 13:54] noamoss commented on #323
I agree. It reflects the general survey method, and does not fit well a daily / regular basis reporting. This issue came up also in other tasks.

Therefore, as long as the reporter is a covid + the question should appear. Yes, I know it might introduce data errors, but the alternative is gambling over the required data.

I agree, but the missing factor is how much is a "a lot of effort" in terms o

[2020-05-25 19:22] dorit102 commented on #338
I see the point and agree. How about something trivial then of just making this list be top 30? Just so that in this option one can see more? I assume this does not really require much implementation
From Eran @akariv @noamoss

[2020-05-26 12:19] mushon commented on #246
Yes, let's scale it with each bar representing 10% from the median daily report in the city since the beginning of the counting. Does that seem like a good scheme?

They correspond to the how do you feel question:
🙂feeling good
🤒feeling bad

[2020-05-26 17:10] noamoss commented on #337
@akariv

They still prefer a a single selection question, we verified it today.This is the  deinition (1-3, did not touch the description, to prevet confusion):

"ומה עכשיו...?"
א. סיימתי, ואני מעונין גם לענות על שאלות לגבי תחושת לחץ ומצב רוח
ב. סיימתי להיום, אינני מעוניין לענות על שאלות נוספות

if yes:

מדובר במחקר של פרופ' אלון חן ממכון ויצמן בנוגע לתחושת לחץ באוכלוסיה.
מי ישיב על השאלון?
(בלחצנ

[2020-05-26 17:56] akariv commented on #337
I don't like that we're removing the 'don't ask me again' option.

On Tue, May 26, 2020 at 8:11 PM noamoss <notifications@github.com> wrote:

[2020-05-26 18:05] noamoss commented on #337
@akariv I agree - but it seems like both teams are seeing both parts as a related research data set.
In this offer the user get an explanation about the relevancy of the external research to the data they just provided and we don't add a question - they ca finish their report without jumping in or reading about the other research if they don't want to (in other words, they don't pay in their atten

[2020-05-27 05:26] akariv commented on #246
Scaling by the median is not a good idea -
assume we have a city with very few reports usually (median = 1) but with a day with a lot of reports due to some concentrated effort (e.g. 1,000 reports) will cause the bar to be 10,000% wide.

As most people usually feel well, most people will just get a block of smily faces - not very intuitive IMO, but might be worth testing with a few other (unsuspec

[2020-05-27 10:32] noamoss commented on #246
The current plan seems to be too expensive to deliver.
Eran asked about a simpler option (no special design) to include the city/town information in the script.

@mushon @akariv please share your thoughts.

// cc @dorit102

[2020-05-27 11:23] akariv commented on #246
The major part of the work is to create the constantly updating per-city
chatbot-only stats file that the UI will use.
Showing the graph is pretty simple and won't affect the implementation time
a lot.
If WIS can provide such a file that updates every hour (or less) then we
can save lots of time here.

On Wed, May 27, 2020 at 1:32 PM noamoss <notifications@github.com> wrote:

[2020-05-27 12:12] noamoss commented on #246
@dorit102  ^^^^

[2020-05-27 14:52] akariv commented on #326
Done in #336 probably

[2020-05-27 14:52] #326 closed

[2020-05-27 15:40] #330 closed

[2020-05-27 15:42] #198 closed

[2020-05-27 17:27] noamoss commented on #336
@akariv

(1) + (3) works

(2) - the link looks ok, but does not open a new tab (nothing happes when I click. checked with chrome  + FF

[2020-05-27 17:31] noamoss commented on #337
@akariv

QA Finding #1:

-->

[2020-05-27 17:38] noamoss commented on #337
@akariv

Qa finding 2:

finished an initial report for a first user on a device. Later (a couple of days later) I created a new reporter on the same address - but only one option was given to choose:

![image](https://user-images.githubusercontent.com/3581741/83053711-d5ef8880-a059-11ea-9d50-bfb2273ff80e.png)

The following screenshot was taken later (after a refresh) to show two reporters still e

[2020-05-27 17:40] noamoss commented on #337
@akariv

QA finding no. 3:

update loop question:

"זהו להיום" --->

"כולם דיווחו"

![image](https://user-images.githubusercontent.com/3581741/83053928-3aaae300-a05a-11ea-9544-ddfc88cef7aa.png)

[2020-05-27 17:49] noamoss commented on #337
@akariv QA finding 5:

after creating a user with a different address on the same device the new question

 shows no options and freezes the chat:

![image](https://user-images.githubusercontent.com/3581741/83054596-59f64000-a05b-11ea-9c8f-3adda6fe40b5.png)

(device reporters:)

![image](https://user-images.githubusercontent.com/3581741/83054701-7c885900-a05b-11ea-833a-39816260ed32.png)

[2020-05-27 17:50] noamoss commented on #337
@akariv

QA finding 6:

no " אולי בפעם אחרת" option in the new choose reporter question  - this option should practically enable users to take a backward step to keep me in the current site/chatbot.

[2020-05-27 17:53] noamoss commented on #337
@akariv finding 7 which should be handled together with finding 3:

questions order should be different:

- after choosing "כולם דיווחו" (finding 3):
1. "ומה עכשיו...?"
    א. סיימתי, ואני מעונין גם לענות על שאלות לגבי תחושת לחץ ומצב רוח
    ב. סיימתי להיום, אינני מעוניין לענות על שאלות נוספות

2a. if A --> choose which reporter and lead to the external research
2b. if B --> offer reminder and sha

[2020-05-27 17:58] noamoss commented on #198
checked and approved.

[2020-05-27 18:01] noamoss commented on #245
--->
ננסה יחד איתך להבין מה הסיכוי להתפרצות מחודשת של קורונה באזור שלך

----

-->

אם אחרי הדיווח שלך נוכל לקבל דיווח גם עבור בני המשפחה או בני הבית האחרים, זה יעזור לנו מאוד

[2020-05-27 18:11] akariv commented on #337
QA Finding 1: But... https://github.com/hasadna/avid-covider/issues/337#issuecomment-634156833
QA Finding 2: Only people that reported today appear in the list
QA Finding 3: This was a recurring comment - people not pressing that as not 'everyone reported', and not getting to the next phase:
<img width="372" alt="Screen Shot 2020-05-27 at 21 03 33" src="https://user-images.githubusercontent.com/26

[2020-05-27 18:22] akariv commented on #245
You do know I just merged your PR, right?

On Wed, May 27, 2020 at 9:02 PM noamoss <notifications@github.com> wrote:

[2020-05-27 18:24] #336 closed

[2020-05-27 18:26] noamoss commented on #331
the placeholder was changed, but I can't click enter with no values on both quetsions

[2020-05-27 18:42] noamoss commented on #337
@akariv

right, but now I see that, and notice the gender effect.

makes sense. still should enable the "אולי בפעם אחרת" options

<img width="372" alt="Screen Shot 2020-05-27 at 21 03 33" src="https://user-images.githubusercontent.com/265333/83056152-9460dc80-a05d-11ea-975f-98fa49caa8b5.png">

ok - let's go with "אפשר להמשיך", anyway, it is still connected to 7.

that was exactly the bug I found :

[2020-05-27 18:44] noamoss commented on #337
(just updated no. 6 above)

[2020-05-27 18:46] noamoss commented on #245
@akariv you mean the PR I created 19 days ago?

I could not tell :) anyhow, it was a draft for comments, and now, as QA person, I notice things I did not see as a developer.

[2020-05-27 18:47] noamoss commented on #336
checked and approved.

[2020-05-27 19:06] akariv commented on #337
למה ישיב זה בעיה וישתתף זה סבבה?

This is exactly the 'לא תודה, סיימתי' option.

אפשר להמשיך לאן? התוכן צריך לענות באיזשהו אופן על השאלה

reporters ending their last report before 23:59:59 and getting to that question after 00:00. As I said, an edge case

You can't get to that question without having at least one report. not worth handling imo

That is true for all questions in the bot. Since you

[2020-05-27 19:08] noamoss commented on #331
previous problem solved, but:

send empty field (instead of "0" when the both questions are not being answered:

![image](https://user-images.githubusercontent.com/3581741/83061979-88c5e380-a066-11ea-8e56-a794a42eef90.png)

[2020-05-27 19:26] noamoss commented on #337
1. right. update:

"    מי ישיב על השאלון?" -->  "עבור מי הדיווח"?

how come - these are two different steps - here I got stuck:

![image](https://user-images.githubusercontent.com/3581741/83062650-a5165000-a067-11ea-8451-9042bd20da68.png)

    אפשר להמשיך לאן? התוכן צריך לענות באיזשהו אופן על השאלה

makes sense, what about fitting the intro question to:

"ועכשיו - דיווח נוסף, או שנמשיך לשאלות אחר

[2020-05-27 19:41] akariv commented on #245
You have two hats 🙂

Anyway it is fixed

[2020-05-27 19:53] akariv commented on #337
👍

You said 'כן בשמחה' a second ago - why are you stuck?

The current wording 'עבור מי ברצונך לדווח עכשיו?' fits the first interaction and subsequent interactions, your proposal doesn't :)

👍

You know what, let's consult with the WIS team if they want to add a mechanism allowing the users to skip the questionnaire after they explicitly said 'yes' to answering it. 😉

still, you say סיימתי להיום an

[2020-05-27 20:04] noamoss commented on #337
because I changed my mind. can't you imagine a scenario of regret? (I would honestly like the user to reconsider before flying out of the chatbot). Also - showing a single option in a question is very confusing. It would be much easier to show this functionality, than auto submitting the single uid to the external research, right?

surprisingly, it was their offer... can't promise it will not chan

[2020-05-27 20:07] noamoss commented on #337
correct. let's leave the current wording. The last option to "דיווחתי עבור כולם, עוד משהו?"

[2020-05-27 20:09] akariv commented on #337
We could open the questionnaire immediately in that case.

ok

we're back to square one where people who didn't report for "everybody" get stuck - https://github.com/hasadna/avid-covider/issues/337#issuecomment-634846913

[2020-05-27 20:17] noamoss commented on #337
let's go back to square one:

עבור מי תרצו לדווח?
- option a
- option b
- דיווחנו עבור כולם
- דיווחנו עבור כולם, אשמח לדווח למחקרים נוספים

[2020-05-27 20:19] noamoss commented on #337
update last comment

[2020-05-27 20:24] akariv commented on #337
That's even more problematic as
a) it still mentions everybody and
b) it encourages people to leave the loop

what's so bad with זהו להיום?

[2020-05-27 20:41] noamoss commented on #337
the feedback they got (a signle feedback, AFAIK) that people thought's it is the end of the flow, and did not bother to click. There is something correct in this feedback.

but let's leave as is - if we both can't come with a better idea, this will remain for now - maybe something will come up on the QA, or later.

[2020-05-27 20:44] noamoss commented on #337
you know what- I think that chaging "זהו להיום" to "זהו" might do the job. WDYT?

[2020-05-27 21:01] noamoss commented on #337
@akariv

Summarizing (with a minor update) this long QA discussion, hope it will make things clearer:

1. we are not touching the main report loop, except for changing the label זהו להיום --> זהו.

2. the next question should be the external research question:

ועכשיו...רוצה לענות גם על מספר שאלות לגבי תחושת לחץ ומצב רוח?

א. כן, רוצה   -->3
ב. בפעם אחרת -->4

3. external reporter chooser
   -  (

[2020-05-28 06:21] akariv commented on #337
I think you're mistaken

The option זהו להיום has been live about a week and a half.

Prior to that we had כל בני ביתי כבר דיווחו
And before that סיימתי לדווח

The feedback you got was about one of these two options, not about זהו
להיום.

Okay for the other stuff

On Thu, May 28, 2020 at 12:01 AM noamoss <notifications@github.com> wrote:

[2020-05-28 09:12] noamoss commented on #337
You are right, of course, lost my focus. We are ready to go.

On Thu, May 28, 2020, 9:21 AM Adam Kariv <notifications@github.com> wrote:

[2020-05-30 10:20] ronib commented on #153
can i try it?

[2020-05-30 10:33] akariv commented on #153
sure, go ahead!

On Sat, May 30, 2020 at 1:21 PM Roni Bar-David <notifications@github.com>
wrote:

[2020-06-01 15:57] #324 closed

[2020-06-01 16:02] akariv commented on #324
Detailed spec is here:

https://docs.google.com/document/d/1nrNmQtNwYJI1nSGiQV8aIOQHJ459hZB_gtlCv8-b1zM/edit

[2020-06-01 16:46] noamoss commented on #245
@akariv

too many line breaks in a middle of a sentence, please unify these couples:

![תמונה](https://user-images.githubusercontent.com/3581741/83431778-8dacdd80-a440-11ea-9e1e-dd1bf78097f1.png)

[2020-06-01 16:50] akariv commented on #245
Fixed via https://travis-ci.org/github/hasadna/avid-covider/builds/693525340

[2020-06-01 16:50] #245 closed

[2020-06-01 17:00] noamoss commented on #331
@akariv now, on first round, things look and behave as expected:

when I enter `none`, and then going back to correct my answer, the updated value is not being submitted:

![תמונה](https://user-images.githubusercontent.com/3581741/83433151-f183d600-a441-11ea-9c54-c51afe3faa61.png)

BTW, did I just submit two reports for the same user by correcting my answer? (two "would send" in the console)

(a f

[2020-06-01 17:10] noamoss commented on #337
@akariv

1. "רוצה לענות גם על מספר שאלות לגבי תחושת לחץ ומצב רוח?" -->
"ועכשיו, רוצה לענות גם על מספר שאלות לגבי תחושת לחץ ומצב רוח?"

2. "כן, בשמחה" -->
"כן, רוצה"

(I don't think happiness fits here)

3. when I click on "בעצם לא היום", the research link is being opened (with an `no-uid` value.

[2020-06-01 17:15] #337 closed

[2020-06-01 17:22] noamoss opened #339 "don't ask about work address, in case of 0 working hours during the last week"
![תמונה](https://user-images.githubusercontent.com/3581741/83435807-86d49980-a445-11ea-819c-f30495fc4f5b.png)

[2020-06-01 17:47] noamoss commented on #337
checked and approved.

[2020-06-01 17:58] noamoss commented on #330
can go live

[2020-06-01 18:04] akariv commented on #339
I disagree, the properties of the workplace exist even if I wasn't there.

On Mon, Jun 1, 2020 at 8:22 PM noamoss <notifications@github.com> wrote:

[2020-06-01 18:20] noamoss commented on #331
@akariv

please reply my question:

[2020-06-01 18:31] noamoss commented on #331
@akariv

2. I am a reproter, 20 years old living with 1 (myself) adult person (in the age of 18+). I reported meeting another 1 adult person, but the submitted value is 2:

![תמונה](https://user-images.githubusercontent.com/3581741/83441478-4548ec00-a44f-11ea-995a-be0cf9539c07.png)

[2020-06-01 18:34] akariv commented on #331
Can you share the log with the 'household' info?

On Mon, Jun 1, 2020 at 9:31 PM noamoss <notifications@github.com> wrote:

[2020-06-01 18:36] noamoss commented on #339
but they are irrelevant for the research - as the next time/week we will ask for the (new) work location anyhow. The place of the work is there to tell how far/distance the user exposed / spread symptoms. Aswering 0 hours means, practically, the same like 'did not go to work' (in the previous question).

[2020-06-01 18:39] akariv commented on #331
The two would sends is indeed an issue - fixed here:
https://travis-ci.org/github/hasadna/avid-covider/builds/693563518

On Mon, Jun 1, 2020 at 9:34 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-06-01 18:44] akariv commented on #339
It might be used for statistical purposes (e.g. the external research).
Other than that, I think that handling the 'I have regular work but I do
not really work' scenario is not very interesting to resolve.
The previous question was 'עבודה קבועה מחוץ לבית בימים אלה' - implying that
the person is actually working regularly outside of the house, specifically
in present days.

On Mon, Jun 1, 2020 at

[2020-06-01 18:57] noamoss commented on #331
@maryLoi

| reporter age | flatmates > 18 | flatmates <18 | met > 18 | met <18 | submitted value <18 | submitted value > 18 |
|---|---|---|---|---|---|----|
|12|0|0|`none`|`none`| ?|? |
|20|0|0|`none`|`none`| ?|? |
|12|1|0|`none`|`none`| ?|? |
|20|1|0|`none`|`none`| ?|? |
|12|0|1|`none`|`none`| ?|? |
|20|0|1|`none`|`none`| ?|? |
|12|1|1|1|1| ?|? |
|20|1|1|`1|1| ?|? |

[2020-06-01 19:50] noamoss commented on #331
@akariv

Roie is checking the sanity table from the last comment. Will update here soon.

Meanwhile, regardig your last update:

Tried to reproduce - when I click the "fix/correct" butotn, I fly all the way back to the begnning for the chat - to choose the reporter... was that done on purpose?

[2020-06-01 20:33] akariv commented on #331
If you try.to.correct a previous reporters answer after you started a new reporter, you will restart with the new reporter's answers.

[2020-06-01 20:56] noamoss commented on #331
@akariv

after finishging the current report, before starting (choosing) the next reporter

[2020-06-01 21:01] akariv commented on #331
yes, in that case you will restart with the reporter choice - as the
previous report was already sent and cannot be amended any more.

On Mon, Jun 1, 2020 at 11:56 PM noamoss <notifications@github.com> wrote:

[2020-06-03 16:59] maryLoi opened #340 "number of adults in household in DB"
1. create new user
adults in the household = 2
2. create second new user at the same address.
not asked again about number of adults in household.
in the browser console: household_adults: 2
3. create third new user at the same address.
still in the console: household_adults: 2
4. create 4th user
same  household_adults: 2

![image](https://user-images.githubusercontent.com/8996235/83665847-b06ffb0

[2020-06-03 17:40] akariv commented on #340
That's working as intended.
Some people will lie.
Others Have birthdays (and create new users for that)

On Wed, Jun 3, 2020 at 8:00 PM Mary <notifications@github.com> wrote:

[2020-06-03 18:03] akariv commented on #340
It's not wrong if it's based on what the reporter declared to be true.

On Wed, Jun 3, 2020, 20:57 Mary <notifications@github.com> wrote:

[2020-06-03 18:24] maryLoi commented on #340
but only the first reporter reported it.
The following reporters were never asked how many people they live with

[2020-06-03 18:43] akariv commented on #340
They live in the same address, so it's safe to assume the amount of people
remains the same regardless of who reported it

On Wed, Jun 3, 2020, 21:24 Mary <notifications@github.com> wrote:

[2020-06-03 19:54] noamoss commented on #340
@maryLoi thanks, now I understand better your slack report.

I agree with Adam, closing this issue.

[2020-06-03 19:54] #340 closed

[2020-06-05 06:03] OriHoch commented on #339
the question will make more sense if it will be ordered like this:
![image](https://user-images.githubusercontent.com/1198854/83842348-6473a200-a70b-11ea-9e8a-53ac1d831b66.png)

[2020-06-07 20:47] noamoss opened #341 "reporter personal details, show/edit"
This issue to display reporter details and enable the user to update them:
[code]

[2020-06-07 21:11] noamoss opened #342 "ease weekly routine reporting"
inspired by #310 :

 "יש כמה שאלות חשובות שאנחנו שואלים את כולם, רק פעם בשבוע, כדי להקל על הדיווח"

### work routine questions:

בשבוע שעבר דיווחת ש
- שיש לך עבודה קבועה מחוץ לבית [ב:{{routine_workplace_city_town}}]
- שעבדת כ-{{routine_workplace_weekly_hours}} שעות בשבוע.
- שהעבודה שלך היא [לא] כחלק מצוות רפואי
- וש[לא] נתת שירות ביום אחד ליותר מ-10 אנשים במסגרת העבודה

האם משהו מכל זה השתנה השבוע

[2020-06-07 21:11] noamoss commented on #342
// cc @maryLoi

[2020-06-07 21:22] noamoss commented on #341
following users feedback, and inspired by #310 , this is an initial offer to enable reporters to edit their details, using an "עדכון פרטים"  button or branch

[2020-06-07 21:26] noamoss opened #343 "ease symptoms reporting"
inspired by #310, followup of #342

בדיווח שעבר דיווח על
- תחושה כללית טובה / לא טובה,
- ללא תסמינים / לצד התסמינים הבאים:
    - תסמין א'
    - תסמין ב'
    - תסמין ג'                                        ##add ו- before the last symptom in the list

האם חל שינוי מאז? למשל, האם נוספו או נעלמו מהתסמינים?
כן / לא

[2020-06-07 21:28] noamoss commented on #310
@akariv @maryLoi closing in favor of a simpler version(s): #342, #343, #341

[2020-06-07 21:28] #310 closed

[2020-06-10 16:26] maryLoi opened #345 "Map pop-up hides neighborhoods and can't be closed"
אם עושים זום אין לעיר בשביל לראות את מצב השכונות בעיר אז הפופ-אפ קופץ ומסתיר את השכונות.
אין דרך לסגור אותו בשביל לראות את השכונות

רלוונטי לדסקטופ

[2020-06-17 10:31] #320 closed

[2020-06-17 10:31] #309 closed

[2020-06-17 10:31] #319 closed

[2020-06-17 10:31] #321 closed

[2020-06-17 10:31] #306 closed