[2020-03-19 18:17] noamoss opened #1 "define use script / questionnaire YAML (hebrew)"
This issue will define the list of questions and possible replies:

order|question| options | expected output| comment |
| ---- | ---- | ----| ---| ---- |

[2020-03-19 18:17] noamoss commented on #1
@mushon please add here the relevant questions and assign me to the issue, I will define the issue and transfer into a YAML file.

[2020-03-19 18:19] noamoss opened #2 "redesign homepage and more info page"
2-3 sentences to explain what and why we are doing.

* Migdal Logo: https://hasadna.slack.com/files/UJNSY7T0F/F010E7YLJBA/896_new_logo_keila_final__1_.jpg

* Homepage Design: https://sketch.cloud/s/jpr8b/a/QlEDLw

* More info (1) https://sketch.cloud/s/jpr8b/v/qeP5n3/a/xLJ03x

* More info (2) https://sketch.cloud/s/jpr8b/v/qeP5n3/a/EZVe0v

[2020-03-19 18:21] noamoss opened #3 "define use script / questionnaire YAML (Arabic)"
blocked by #1

[2020-03-19 18:21] noamoss opened #4 "define use script / questionnaire YAML (English)"
blocked by #1

[2020-03-19 18:22] noamoss opened #5 "Translations mechanism: connect site with Transifex"

[2020-03-19 18:25] noamoss opened #6 "save/submit user record csv file after submission"
when user clicks on the final submission button, a CSV file is being exported/submitted to a predefined destination.

[2020-03-19 18:26] noamoss commented on #6
@akariv except for a list of records, and types - what other information is needed for this issue?

[2020-03-19 18:30] noamoss opened #7 "Speak the user's language"
the homepage should enable all users (speaking different languages) to choose the relevant language for the chatbot.

I think we should enable the intro text in all relevant languages (i.e. Hebrew, Arabic, English) at first sight.

(related to #2 )

![image](https://user-images.githubusercontent.com/3581741/77101744-76a14680-6a20-11ea-9ed1-f94dad8b2746.png)

[2020-03-19 18:39] noamoss opened #8 ""more info" page"
Define whether it is really needed, and what should appear over there. notice that text should be multilingual.

after clicking the "מידע נוסף" link:

![image](https://user-images.githubusercontent.com/3581741/77102369-62aa1480-6a21-11ea-9a5d-bb4804a8d5fc.png)

![image](https://user-images.githubusercontent.com/3581741/77103430-0ea02f80-6a23-11ea-99f9-7b14ede3d6c6.png)

a detailed textual page sho

[2020-03-19 18:43] noamoss opened #9 "disable transition animation"

[2020-03-19 18:44] noamoss commented on #9
@mushon how fast would you define the needed transition between questions/answers? (how long, in milliseconds)

[2020-03-19 18:52] noamoss opened #10 "complete share/goodbye screen"
this issue is to define the last part of the thread - what should be the last message/action shown to the user/reporter.

[2020-03-19 18:57] noamoss opened #11 "I clicked/sent a wrong message, now what"
design: https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e74f373855dd3705c0afab7

[2020-03-19 18:59] noamoss commented on #11
@mushon currently user/reporter can not reverse or change an answer they clicked/typed in.
This issue should define a simple and quick solution for these scenarios.

My initial thought was adding an icon to restart the thread - after validating with the user they really want to restart the whole process. What do you think?

[2020-03-19 19:37] noamoss opened #12 "city/town auto complete or select list"
any ideas for a quick solution to validate a town/city name?

reminder: we already have kind of an input validation method
// cc @mushon

[2020-03-19 19:48] noamoss opened #13 "zip code autocompete"
this issue is to check the option of auto-completing the zipcode, by reading the city/town+street+house number.

[2020-03-19 20:38] akariv commented on #5
Already connected.

On Thu, Mar 19, 2020 at 8:22 PM noamoss <notifications@github.com> wrote:

[2020-03-19 20:39] akariv commented on #6
Not sure which user? Which submit? What CSV?

On Thu, Mar 19, 2020 at 8:26 PM noamoss <notifications@github.com> wrote:

[2020-03-19 20:42] akariv commented on #12
we can add a control for selecting a single option from the 1.2K options
out there

On Thu, Mar 19, 2020 at 9:37 PM noamoss <notifications@github.com> wrote:

[2020-03-19 22:03] noamoss opened #14 "enable multi choice questions, phase 1 (option A)"
duplicates https://github.com/hasadna/reportit-user/issues/11

In some cases, we need the ability to let the user choose a couple of options + free text ('other').

![image](https://user-images.githubusercontent.com/3581741/77261515-a312c800-6c97-11ea-9dae-1e1ec3e4304c.png)

https://sketch.cloud/s/jpr8b/a/40ePjd

followup: #15

[2020-03-19 22:07] noamoss commented on #14
@mushon please add a designed example - notice the need to add/remove choices before submitting, and whether we should / should not enable an open text "other" scenario.

[2020-03-19 22:09] noamoss commented on #6
https://hasadna.slack.com/files/U0108DDFTA9/F0100D399T4/book1.xlsx

[2020-03-19 22:09] #5 closed

[2020-03-19 22:11] noamoss commented on #12
did not understand...

[2020-03-19 22:30] noamoss commented on #6
@akariv what would be the easiest way to save the records online, in a relatively safe way? I would assume connecting it to a private google spreadsheet, but if I am wrong and it would take more than 1 hour of work, I would suggest to contact Ori and agree how/where should we submit the data.

// cc @mushon please add your opinion.

[2020-03-19 23:14] mushon commented on #6
If we’re not reading back from it, would it actually make sense to maybe save it directly to a flat csv of Json file?

Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

[2020-03-19 23:16] mushon commented on #12
Can we maybe use this API?

https://developer.here.com/documentation/geocoder-autocomplete/dev_guide/topics/quick-start-get-suggestions.html

[2020-03-19 23:18] mushon commented on #9
For now let’s remove any delay and later smooth things out. Right now this delay is quite a pain in the ass...

[2020-03-19 23:20] mushon commented on #1
This one's already done (for the MVP at least)

Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

[2020-03-19 23:50] mushon commented on #14
Here we go:
https://sketch.cloud/s/jpr8b/v/g0pZvJ/a/40ePjd/r/YGE5RL/#Inspector
(this is only for the functionality, the theme changes would follow later)
reassigning to @akariv

[2020-03-19 23:53] mushon commented on #14
btw, we can start with only one submit copy: `סיימתי לבחור`

[2020-03-20 08:35] noamoss opened #15 "transform script to use multi selection questions"
blocked by #14

[2020-03-20 08:36] #1 closed

[2020-03-20 09:57] noamoss commented on #13
irrelevant

[2020-03-20 09:57] #13 closed

[2020-03-20 10:32] noamoss commented on #6
@mushon

that was my initial thought, but should it be saved locally? sent to an external server?
I think this is the time to figure it out with Ori.

[2020-03-20 10:38] noamoss commented on #2
@mushon
1. we also need a desktop version
2. please add the design link and assign to @akariv when ready to go.
3. should we have a separate issue for changing colors/fonts of the chat thread?

[2020-03-20 11:58] noamoss opened #16 "usage scripts update, MVP take 2"
1. verify requried script changes, following the update [google doc](https://docs.google.com/document/d/1Q4wo--HA-Qct1zhgf6WWCy8CfUs7-1wQx-cmlYejr5E/edit?usp=sharing)

[2020-03-20 12:06] mushon commented on #2
1. The desktop version will be based on the mobile one. I suggest Adam implements it exactly like it is now and we will make the adjustments from there
2. Inspect [here](https://sketch.cloud/s/jpr8b/v/qeP5n3/a/QlEDLw#Inspector) and see [this](https://sketch.cloud/s/jpr8b/v/qeP5n3/a/xLJ03x) and [this](https://sketch.cloud/s/jpr8b/v/qeP5n3/a/EZVe0v) as reference
3. yes please

[2020-03-20 12:19] noamoss opened #17 "fit the thread/chat design"
initial design in (will go over all cases to make sure they are covered):
![image](https://user-images.githubusercontent.com/27123/77173638-7fe5ee00-6ac8-11ea-8363-b049d861dc01.png)
https://sketch.cloud/s/jpr8b

[2020-03-20 12:19] noamoss commented on #17
@mushon please add the link and extra relevant info to apply

[2020-03-20 12:20] noamoss commented on #2
@mushon

this first link was added to the description. The other two will be taken care in #8

let's continue on https://github.com/hasadna/avid-covider/issues/17

[2020-03-20 12:20] noamoss commented on #2
@akariv this is ready to go.

[2020-03-20 12:28] noamoss commented on #2
@mushon I misunderstood, and all links are relevant for this issue. Please refer to #8 - and answer there is the 'more info' page still relevant for the MVP.

@akariv all texts are available in the description as well, in case it can help

[2020-03-20 12:32] noamoss commented on #2
@mushon closing #8, this issue covers both homepage and "more info".

[2020-03-20 12:32] noamoss commented on #8
closing in favor of #2

[2020-03-20 12:32] #8 closed

[2020-03-20 13:53] noamoss opened #18 "enable multi choice questions, MVP"
for the mvp phase we will generate a series of questions until the user clicks on one the "fallback option"

For Example:
[code]
loop conditions:

1. for each question we should enable custom "fallback option" to stop the loop. choosing it will exit the loop.
1. script should include at least 2 options + 1 "fallback option"
1. when user clicks all options, and only "fallback option" remains - stop

[2020-03-20 13:53] noamoss commented on #14
@akariv @mushon this issue is on hold, for the next phase, see #18.

[2020-03-20 13:54] noamoss commented on #18
this is a temporary solution. Later we will go back to the #14 plan.

[2020-03-20 13:55] noamoss commented on #2
@akariv design is approved by the customer, you can move on.

[2020-03-20 14:18] noamoss opened #19 "push data into a google spreadsheet"
1. create a private(!) google spreadsheet
1. connect to the tool (see [sheets API documentation for the howto](https://developers.google.com/sheets/api/)

followups to defined in #20

[2020-03-20 14:22] noamoss opened #20 "spreadsheet validation"
(following [this post](https://gsuitetips.com/tips/sheets/google-spreadsheet-limitations/)):

once we get to a predfined row in the spreadsheet, we should create a new spreadsheet and set the tool to send there the new records.

1. part of the submission  should check the current record number
1. if the recrod number >= 25,000 send a notification to create a new spreadsheet.

[2020-03-20 14:25] noamoss commented on #6
closing in favour of #19 #20

[2020-03-20 14:25] #6 closed

[2020-03-20 14:31] akariv commented on #20
or we can write directly into a database, no?
what's the rationale behind using google spreadsheet as a backend?

On Fri, Mar 20, 2020 at 4:22 PM noamoss <notifications@github.com> wrote:

[2020-03-20 14:33] mushon commented on #17
initial design in (will go over all cases to make sure they are covered):
![image](https://user-images.githubusercontent.com/27123/77173638-7fe5ee00-6ac8-11ea-8363-b049d861dc01.png)
https://sketch.cloud/s/jpr8b

[2020-03-20 14:34] mushon commented on #11
I added a `תיקון` button next to each answer allowing to backtrack to that point in the interaction.

[2020-03-20 14:41] noamoss commented on #20
@akariv sounds like they don't have a database for now. I will recheck at 5pm and update here.

[2020-03-20 14:42] noamoss commented on #17
@akariv I believe it is ready to go

[2020-03-20 14:44] akariv commented on #20
They don't be we do

On Fri, Mar 20, 2020 at 4:41 PM noamoss <notifications@github.com> wrote:

[2020-03-20 14:44] noamoss commented on #11
@mushon this is probably going to make things complicated for the MVP

@akariv please approve I am not mistaken.

@mushon What about enabling correcting the last answer only + reloading the thread and start from the beginning?

[2020-03-20 14:49] noamoss commented on #20
@akariv would you prefer creating/building a separate DB and managing it? If so, are we talking of Firebase or something else? (I am afraid of the legal and future results, but if it is making things easier, we can push this option)

[2020-03-20 14:56] mushon commented on #11
@akariv implement it however you see fit.
I would say:
- `תיקון` takes you back to that point in the interaction and you continue forward from there
- we can limit that option to the last one only and if you want to go back a few steps you will click it a couple of times
- scroll all the way up and we can have a similar button there that says `להתחיל מחדש מההתחלה`

[2020-03-20 14:59] mushon commented on #18
Here's an example:
![image](https://user-images.githubusercontent.com/27123/77175959-110a9400-6acc-11ea-93de-ca8d1e027ae2.png)

[2020-03-20 15:01] akariv commented on #11
Restart from scratch is easiest - I wouldn't require user to scroll all the way up as no one would find it.
The 'correct' button is also possible and not very difficult to implement.
Either way, seems out of scope for MVP, no? @mushon @noamoss

[2020-03-20 15:12] noamoss commented on #11
@akariv I believe the MVP should include the option to cancel/restart, the easiest possible way.

[2020-03-20 15:13] noamoss commented on #18
@akariv please approve it is ready to go

[2020-03-20 16:04] #19 closed

[2020-03-20 16:05] #20 closed

[2020-03-20 16:05] noamoss commented on #20
will open a separate issue for a simple google SQL DB

[2020-03-20 16:23] noamoss opened #21 "create DB"
Db records:
- langauge (string)
- age (integer)
- sex: male / female
- city: string

- insulation: string
- insulation_returned_from_abroad_date: date (input will be validated on UI)
- insulation_exposure_date: date (input to be validated on UI)
- insulation_patient_number: integer

- symptoms_headache: boolean
- symptoms_dry_cough: boolean
- symptoms_fatigue: boolean
- symptoms_muscles_pain: bool

[2020-03-20 16:24] noamoss commented on #21
@akariv DB records above, integration and access to be handled in a followup: #22

[2020-03-20 16:25] noamoss opened #22 "integrate DB to app and grant access"
followup #21

- submit data to the db.
- grant Adam, Dorit, Ori, Mushon & Noam access.

[2020-03-20 16:38] noamoss opened #23 "improve selection questions design (Option B)"
![image](https://user-images.githubusercontent.com/3581741/77185331-e9bac380-6ad9-11ea-8bcc-f0d57fc9d3d8.png)

https://sketch.cloud/s/jpr8b/a/P085ad

[2020-03-20 16:38] noamoss commented on #23
@mushon please add the relevant link for the design

[2020-03-20 16:39] noamoss commented on #18
@akariv also, see #23 for future UI improvement. If you feel it is doable as part of the MVP, feel free to move it on.

[2020-03-20 16:40] mushon commented on #10
Finishing screen:
https://sketch.cloud/s/jpr8b/a/5lv9Q8
![image](https://user-images.githubusercontent.com/27123/77185552-4322f280-6ada-11ea-83f0-b963acb33951.png)

[2020-03-20 16:45] noamoss commented on #17
@akariv let's focus on these for the mvp:

https://sketch.cloud/s/jpr8b/a/7oe9Y2
https://sketch.cloud/s/jpr8b/a/P0833W
https://sketch.cloud/s/jpr8b/a/gOVPPJ
https://sketch.cloud/s/jpr8b/a/8RG77O
https://sketch.cloud/s/jpr8b/a/A7ogQ5

I will let you decide about the following:

https://sketch.cloud/s/jpr8b/a/P085ad (also relevant for #23)

[2020-03-20 16:45] noamoss commented on #23
added the relevant link to the description

[2020-03-20 16:49] noamoss commented on #21
@akariv please notice we saving the user interface language to the DB as well

[2020-03-20 16:56] noamoss commented on #16
@mushon I am on it, will ping here when the current script is updated online

[2020-03-20 17:25] noamoss commented on #21
@akariv simplified the structure, assumed I can do so since you did not react yet.

[2020-03-20 22:29] noamoss commented on #16
submitted my draft to @akariv

[2020-03-21 10:24] dorit102 commented on #16
תאריך מפגש עם חולה-
1.- המערכת מאפשרת להכניס רק בפורמט מסויים- יש חיווי אבל הוא מינורי ולא ניתן להתקדם אם מכניסים לא נכון, חוששת שזה עלול לתסכל מתבלבלים
2. אין בדיקת שפיות האם התאריך הגיוני (גם יחסית למועד תחילת המגיפה וגם בעתיד יחסית לחולה הספיציפי)
![תאריך מפגש](https://user-images.githubusercontent.com/62465246/77224471-a9f1eb80-6b6e-11ea-8b28-c6222cc9122e.jpeg)
הצעות-
1. להכניס את הפורמט הרצוי

[2020-03-21 10:33] dorit102 commented on #16
מהו מספר האנשים השונים ששהית בקרבתם יותר מחמש דקות ביממה האחרונה?
קשה להבין מזה אם כולל את בני הבית או לא, רק שמגיעות השאלות הבאות זה התחחוור לי
![מספר אנשים שונים](https://user-images.githubusercontent.com/62465246/77224608-1e795a00-6b70-11ea-9986-72e4bf9f5c0e.jpeg)

מציעה: "מה מספר האנשים השונים (לא כולל בני ביתך) ששהית בקרבתם וכו'...

[2020-03-21 10:36] dorit102 commented on #16
אין בדיקת שפיות על מספר בני הבית המבוגרים / צעירים
![מספר דיירים בדירה](https://user-images.githubusercontent.com/62465246/77224659-76b05c00-6b70-11ea-94ee-669b83aa434e.jpeg)

[2020-03-21 10:43] noamoss opened #24 "improve date input method"
based on https://github.com/hasadna/avid-covider/issues/16#issuecomment-602023958:

optional solutions:
1. expand the date input regex: dd-mm-yyyy, dd.mm.yyyy, dd.mm, dd-mm
2. standard datepeeker

[2020-03-21 10:47] dorit102 commented on #16
אחרי מחלת הרקע השלישית הוא לא מאפשר לבחור רביעית אלא ממשיך הלאה לעישון
![מסתפק בסוכרת](https://user-images.githubusercontent.com/62465246/77224842-1a4e3c00-6b72-11ea-9096-f58309d6806c.jpeg)
להמשיך עד בחירה של "לא אובחנתי באף אחת מאלו"

[2020-03-21 10:48] dorit102 commented on #16
בתיאור המחלות כתוב "לא אובחנתי באף אחד מאלו"
מחלה היא נקבה
![מסתפק בסוכרת](https://user-images.githubusercontent.com/62465246/77224861-44076300-6b72-11ea-871d-0e4baa64af5f.jpeg)
"לא אובחנתי באך אחת מאלו"

[2020-03-21 10:50] noamoss opened #25 "date inputs sanity check"
based on https://github.com/hasadna/avid-covider/issues/16#issuecomment-602023958:

expected solution: when setting a date input, enable to define a loop with the following parameters:
1. customized message/question
2. (optional) start day
3. default value (manual date, `today` or another variable from the current report )
4. error message to be displayed when the entered date is not legal, before

[2020-03-21 10:50] noamoss commented on #25
@mushon this issue is in the backlog for now, but what do you think of the implementation idea?

[2020-03-21 10:51] dorit102 commented on #16
בעיית סקילביליות ב- Samsung s9
לפעמים לא רואים את השאלות וצריך לגלול למטה או למעלה ולחפש אותן
![סקילביליות בסמסונג S9](https://user-images.githubusercontent.com/62465246/77224887-921c6680-6b72-11ea-885e-43a06cfee85a.jpeg)

שהשאלה "תצוף" הלאה על פני תשובות?

[2020-03-21 10:54] dorit102 commented on #16
בחירת האופציה של "אשמח לשתף" בסוף לא מחוברת לכלום
![אשמח לשתף](https://user-images.githubusercontent.com/62465246/77224944-1a027080-6b73-11ea-97da-d178945c3f08.jpeg)

[2020-03-21 10:58] noamoss opened #26 "add numbers (integer/float) logic validator"
based on https://github.com/hasadna/avid-covider/issues/16#issuecomment-602024975:

- should be able to prevent submission of values beneath/above min/max
- should be able to define float/integer
- should be able to show customized reply of error (i.e. "גיל צריך להיות מספר בין 0 ל-120")

[2020-03-21 10:58] noamoss commented on #26
@mushon similar concept to my suggestion from #25, what do you think?

[2020-03-21 10:59] dorit102 commented on #16
בסמסונג S9
כשעוברים לאפליקציה אחרת ואז חוזרים לחלון של מילוי השאלון הוא מתחיל מהתחלה

[2020-03-21 11:11] noamoss opened #27 "fix precondition & breath_sympotms loop"
based on https://github.com/hasadna/avid-covider/issues/16#issuecomment-602025966:

וגם

![image](https://user-images.githubusercontent.com/3581741/77225166-6b136400-6b75-11ea-9b83-74f603839aeb.png)

[2020-03-21 11:14] noamoss opened #28 "fix scalability issue: Samsung s9"
בעיית סקילביליות ב- Samsung s9
לפעמים לא רואים את השאלות וצריך לגלול למטה או למעלה ולחפש אותן
![סקילביליות בסמסונג S9](https://user-images.githubusercontent.com/62465246/77224887-921c6680-6b72-11ea-885e-43a06cfee85a.jpeg)

שהשאלה "תצוף" הלאה על פני תשובות?

_Originally posted by @dorit102 in https://github.com/hasadna/avid-covider/issues/16#issuecomment-602026293_

[2020-03-21 11:15] noamoss commented on #28
@dorit102 please add the [whatismybrowser.com](whatismybrowser.com) unique link, from the device and browser you checked with. Once done, please assign to @akariv to check

[2020-03-21 11:22] mushon commented on #16
אני נמצא בבידוד כי חוויתי תסמינים
אני נמצא בבידוד מרצוני האישי
——>
אני בבידוד כי חוויתי תסמינים
אני בבידוד מרצוני האישי

[2020-03-21 11:22] mushon commented on #16
אני מאושפז
—>
אני באישפוז
או
אושפזתי

[2020-03-21 11:22] noamoss commented on #16
@dorit102

fixe

לא חושב שזה מהלך נכון, אבל אם יוחלט (בעקבות משובים נוספים) אפשר לבצע במהירות

see followup issue: https://github.com/hasadna/avid-covider/issues/24

fixed

see followup issue: https://github.com/hasadna/avid-covider/issues/25

see followup issue: https://github.com/hasadna/avid-covider/issues/16#issuecomment-602024975

good catch, to be fixed in https://github.com/hasadna/avid-cov

[2020-03-21 11:23] mushon commented on #16
מאוד מבולבל מהפלואו של ה״איך זה בא לידי ביטוי״ מרגיש שיש שם איזה לופ שמחזיר אותי לשאלות שכבר עניתי עליהן.
אפשר אולי לענות קודם על השאלות בהיררכיה העליונה ואז על שאלות ההמשך כדי לא לחזור אחורה לאפשרויות שכבר עברנו (שמרגישות מבלבלות). ז״א אני אכנה קודם על 6 הקטגוריות ונאמר שעניתי על 2 מהן חיובי, תציג לי את שאלות ההמשך אחרי ה״זהו זה״. זה אפשרי?

[2020-03-21 11:25] mushon commented on #16
`עישון הוא חלק מהשיגרה שלי כיום`
—>
`עישון יומיומי`

[2020-03-21 11:27] mushon commented on #16
`אני בבידוד כי נחשפתי לחולה מאומת/ת
`
—->

`אני בבידוד כי נחשפתי לחולה מאומת`
זה בסדר, תשאיר את זה כחולה מאומת (זכר כללי)

[2020-03-21 11:27] dorit102 commented on #16
איו ולידציה גם על תאריך חזרה מחו"ל
![ולידציה על תאריך חזרה](https://user-images.githubusercontent.com/62465246/77225445-bd558480-6b77-11ea-9deb-acb95cd0eff8.jpeg)

[2020-03-21 11:28] noamoss commented on #16
@mushon

זה קצת מסבך את ניהול התסריט, אבל יש לנו דרך לעשות את זה. לפני שנשקיע בזה זמן, תוכל לוודא (אולי להתייעץ עם אורי? ) שזה שווה את המאמץ? אפשר גם לחכות ולראות איך משתמשי האלפא שלנו יגיבו (בהמשך היום, בצהריים) - האם זה יעלה גם מכיוונם.

[2020-03-21 11:28] mushon commented on #16
בשאלה האחרונה: להשאיר רק את התשובה בטח ולהוסיף timeout
שיוביל גם ללא לחיצה למסך הסיום

[2020-03-21 11:28] noamoss commented on #16
fixed

[2020-03-21 11:29] dorit102 commented on #28
![זיהוי מכשיר בעייתי](https://user-images.githubusercontent.com/62465246/77225457-f5f55e00-6b77-11ea-8c20-ef49f0ab1c38.jpeg)
@akariv

[2020-03-21 11:30] noamoss commented on #16
@dorit102

see followup issue: https://github.com/hasadna/avid-covider/issues/25

[2020-03-21 11:31] dorit102 commented on #16
תסמיני נשימה- הבחירה מוגבלת ל- 4 בלבד-
![4 תסמיני נשימה בלבד](https://user-images.githubusercontent.com/62465246/77225477-25a46600-6b78-11ea-823f-2a6d8ab445af.jpeg)
והוא מאפשר לבחור גם שיעול יבש וגם שיעול לח-
![גם שיעול יבש וגם שיעול לח להפכפכים](https://user-images.githubusercontent.com/62465246/77225484-32c15500-6b78-11ea-8c1b-f6b176516dc8.jpeg)
אם לא נאפשר אחד ברגע שהשני נבחר נהיה מסודרים

[2020-03-21 11:31] noamoss commented on #16
@akariv @dorit102 @mushon
(removed all dates validations for now, following Mushon's advice)

[2020-03-21 11:33] mushon commented on #16
אני מתעקש שהבחירה ללכת אחורה בתסריט היא רעה ומבלבלת. לי היתה ממש הרגשה שעשיתי משהו לא נכון. אני מאוד ממליץ שנמצא לה פתרון אחר מהקיים.

[2020-03-21 11:34] dorit102 commented on #16
בסיום אם בוחרים בטח בזה זה נגמר. חסרה לי איזו הודעת "תודה על שיתוף הפעולה וכו'"
![תודה על שיתוף הפעולה](https://user-images.githubusercontent.com/62465246/77225534-ad8a7000-6b78-11ea-8577-190b3d8f49fc.jpeg)

[2020-03-21 11:40] mushon commented on #16
@dorit102 הודעת סיום תהיה במסך סגירה שאדם יוסיף בהמשך היום.

[2020-03-21 12:04] mushon opened #29 "implement basic animated transition"
...to help users not to lose context.
I suggest as a quick solution let's use the exact same transitions from here: https://space10-community.github.io/conversational-form/landingpage/
initial: `height: 0`
and then: `height:auto`
`transition: height .3375s cubic-bezier(.215,.61,.355,1);`

[2020-03-21 12:09] akariv commented on #16
@mushon לא הבנתי מה זה ללכת אחורה?

[2020-03-21 12:10] noamoss opened #30 "enable a single cough type in script"
based on https://github.com/hasadna/avid-covider/issues/16#issuecomment-602031087

@akariv I tried to face @dorit102 's comment in the script by adding a `symptoms_cough` value when the first cough question is answered 'yes', but did not success, could you take a look and advise:

[code]

[2020-03-21 12:11] akariv commented on #30
Is this requirement confirmed with Ori?
The original gdoc has both options available to be selected at the same time.

[2020-03-21 12:12] noamoss commented on #16
@dorit102

to be fixed on https://github.com/hasadna/avid-covider/issues/27

I tried to solve, but could not make it, asked for Adam's advice in a follow-up issue: https://github.com/hasadna/avid-covider/issues/30

[2020-03-21 12:17] akariv commented on #29
So we're reintroducing the timeout then?

[2020-03-21 12:19] dorit102 commented on #16
אם אני חולה מאומתת שמאושפזת בבית חולים, אין מה לשאול אותי עם כמה אנשים באצי במגע וכמה מתגוררים בבית, אבל מה המספר שלי דווקא כן עשוי לעניין
![מאושפז בבית חולים](https://user-images.githubusercontent.com/62465246/77226181-f9d8ae80-6b7e-11ea-8d27-31f5a0235a10.jpeg)

[2020-03-21 12:26] mushon commented on #29
what do you mean?

[2020-03-21 12:27] akariv commented on #28
"copy url to clipboard"

paste here

@Dorit102

On Sat, Mar 21, 2020 at 1:30 PM dorit102 <notifications@github.com> wrote:

[2020-03-21 12:27] mushon commented on #26
can we use a number keyboard?
As for error handling, let's make it a priority post MVP

[2020-03-21 12:29] mushon commented on #25
Maybe the options can be:
- היום
- אתמול
- שלשום
- אחר

and then only when `אחר` would we use a date picker

[2020-03-21 13:04] noamoss commented on #16
@dorit102

אני בכלל לא בטוח לגבי זה. מציע לברור עם אורי:

1. אי אפשר להגיד לאנשים שהשאלון הוא אנונימי אבל אז לשאול אותם מה מספר החולה. זה פרט מזהה.
1. מאוד יכול להיות שגם אם אני מאושפז כרגע, אתמול עוד הייתי בבית. האם לא יעניין את החוקרים לדעת כמה אנשים היו בסביבבתי? אני מניח שתאריך האשפוז הוא פרט מידע שיסייע פה, אבל מעדיף לא לעבוד עם ניחושים ובכל אופן להוסיף שאלות רק אחרי ה-MVP

[2020-03-21 13:16] mushon commented on #16
עישון הוא חלק מהשיגרה שלי כיום
—>
עישון יומיומי

[2020-03-21 13:20] #18 closed

[2020-03-21 13:20] noamoss commented on #27
@dorit102, please verify

[2020-03-21 13:22] mushon commented on #16
פורמט התאריך לא צריך להופיע בשאלה:
![72FAA35E-669F-4EA3-B350-C9ABFAFBF95B](https://user-images.githubusercontent.com/27123/77227276-c0587100-6b87-11ea-8289-55f37913caa9.png)

[2020-03-21 13:40] noamoss commented on #16
@mushon

fixed

[2020-03-21 13:46] noamoss commented on #26
@mushon

on mobile, we can. updated description

too early to say, I believe

[2020-03-21 13:48] noamoss commented on #30
@akariv I know, this was @dorit102's feedback.

Will wait on the backlog for now

[2020-03-21 13:57] akariv commented on #29
We're reintroducing the delay between the messages.

[2020-03-21 14:02] mushon commented on #29
yes, we're just calibrating it and avoiding the "typing" animation

[2020-03-21 14:27] citizen-dror commented on #12
hi,
there are 2 main options as far as i know,
1  - implement autocomplete  with 1-3 tables, (for each language) there is more control and can add cities , but need to fetch all cities (and small places) names..from OSM / overpass turbo
2 -  use client to geocoding server , more robust   but have limit on use and can cost some money
there is this suction for example
https://community.algolia.com/p

[2020-03-21 14:42] mushon commented on #16
בשאלה האחרונה:
`התפרצויות נקודתיות של המחלה ולטפל בהם `
 —>
`בהן`

[2020-03-21 14:50] noamoss commented on #16
@mushon

fixed.

[2020-03-21 14:57] dorit102 commented on #30
![image](https://user-images.githubusercontent.com/62465246/77229178-049e3e00-6b95-11ea-98ae-80ab98392298.png)
זו התשובה, נשים בצד בינתיים...

[2020-03-21 15:02] dorit102 commented on #28
@akariv
כוונתך ל-
whatismybrowser.com/w/G8H6DZ9
?
העתקתי ידנית, לא מסתדרת עם המכשיר המטופש

[2020-03-21 15:20] dorit102 commented on #27
@noamoss
Fixed!

[2020-03-21 15:33] citizen-dror commented on #12
this is option 1 DIY + auto complete
https://safety-data.herokuapp.com/city

[2020-03-21 15:36] noamoss commented on #28
@dorit102 כן, לזה הכוונה.

מניח שאדם יתפנה לזה לאחר שנסיים את העניינים הדחופים יותר להיום.

[2020-03-21 15:36] #27 closed

[2020-03-21 15:39] akariv opened #31 "Ensure there are `value`s for all options (so that no hebrew string is saved into a variable)"
@noamoss

[2020-03-21 15:40] akariv commented on #22
https://app.redash.io/hasadna/queries/359635/source

[2020-03-21 15:51] noamoss commented on #11
@akariv we said you can apply the "fix everywhere"

[2020-03-21 16:03] #21 closed

[2020-03-21 16:03] noamoss commented on #21
will perform QA on https://github.com/hasadna/avid-covider/issues/22

[2020-03-21 16:06] dorit102 commented on #16
אם  בוחרת וממלאת"משהו אחר" ב "עוד משהו שגורם לך להרגיש לא טוב"
הוא לא מאפשר למלא משהו נוסף, אלא מקפיץ את מה שמילאתי קודם ומעביר אותי לשלב הבא
![image](https://user-images.githubusercontent.com/62465246/77230688-9cecf080-6b9e-11ea-9d43-fecd3578d67f.png)

[2020-03-21 16:08] noamoss commented on #22
starting QA

[2020-03-21 16:08] dorit102 commented on #22
17:55-18:00
3 דיווחים

[2020-03-21 16:09] noamoss commented on #22
@dorit102

[code]

[2020-03-21 16:23] noamoss commented on #22
found a tiny bug: `serve_over_10_people` variable name wasn't correct. fixed.

[2020-03-21 16:25] akariv opened #32 "Hasadna logo is not properly cropped"
<img width="395" alt="Screen Shot 2020-03-21 at 18 25 17" src="https://user-images.githubusercontent.com/265333/77231095-5b117980-6ba1-11ea-88ff-e7eddc0e357e.png">

[2020-03-21 16:33] noamoss opened #33 "DB save time"
## milestone 1
- set the DB saving time to Israel time

## milestone 2
- (in case project will expand towards other countries): set the DB saving time to the instance

[2020-03-21 16:33] noamoss commented on #22
@dorit102

[code]

I am not sure which are yours, but one problem was found for sure: the save time is not synchronized with Israel's local time. I will open a follow-up issue for that: https://github.com/hasadna/avid-covider/issues/33

[2020-03-21 16:34] dorit102 commented on #22
No flag that I've selected that I don't fill well- just the symptoms data

[2020-03-21 16:37] dorit102 commented on #22
חסר לי הדיווח הראשון שלי- גיל 46, רחוב פטאי יוסף, רואה משהו כזה?

[2020-03-21 16:38] dorit102 commented on #22
רשומה 13 נבדקה ומאומתת

[2020-03-21 16:43] dorit102 commented on #22
רשומה 11 נבדקה ומאומתת, אין חיווי לכך שבחרתי ששלומי מצויין

[2020-03-21 16:44] dorit102 commented on #22
@noamoss

[2020-03-21 16:46] noamoss commented on #22
@dorit102

לא, אין לנו כזה.
תוכלי לעשות 3 נסיונות נוספים, כדי שנוודא שזה גליצ' שלך ולא של המערכת?

[2020-03-21 16:57] dorit102 commented on #22
מילאתי פעמיים נוספות משני מכשירים שונים-
18:55 ו- 18:56
@noamoss
תוכל לשלוח לי רשומות בבקשה?

[2020-03-21 17:03] noamoss commented on #16
@dorit102

עלית פה על באג: "משהו אחר" לא אמור להופיע אחרי שלחצת עליו בפעם הראשונה.
נחכה לאדם שיתפנה כדי לייעץ איך לתקן את זה, לא דחוף כרגע כי זה תרחיש קצה.

// cc @akariv

[2020-03-21 17:17] niryariv commented on #22
שלחתי ב 19:16

[2020-03-21 17:28] akariv commented on #16
פשוט תוסיף unless גם לאפשרות הזו
@Noamoss <noamoss@gmail.com>

On Sat, Mar 21, 2020 at 7:03 PM noamoss <notifications@github.com> wrote:

[2020-03-21 17:29] akariv commented on #33
db save time is UTC, you can apply which timezone you want when reading.

On Sat, Mar 21, 2020 at 6:33 PM noamoss <notifications@github.com> wrote:

[2020-03-21 17:38] niryariv commented on #16
אותה בעיה אצלי (pixel 3a)

[2020-03-21 17:40] noamoss commented on #22
@niryariv

[code]

[2020-03-21 17:41] noamoss commented on #16
@niryariv

תוכל להוסיף את הקישור היחודי שלך מתוך [whatismybrowser.com](whatismybrowser.com) ?

[2020-03-21 17:44] noamoss commented on #16
@akariv

מדובר פה באפשרות להזין טקסט חופשי, כלומר, אין לי ערך קבוע להגדיר ל-unless,
ואני לא רוצה ללכלכך את הדאטה בייס עם שדה/משתנה לא רלווטי.

[2020-03-21 17:45] #33 closed

[2020-03-21 18:06] mushon commented on #12
That's great, thanks!
I'm assuming we won't be able to achieve this without depending on an external proprietary API?
BTW, this is a good opportunity to mention it would make a lot of sense to have an OpenSource API for these type of cases (based on OSM data)…

[2020-03-21 18:21] niryariv commented on #16
https://whatismybrowser.com/w/2B3Z4T7

On Sat, 21 Mar 2020, 19:41 noamoss, <notifications@github.com> wrote:

[2020-03-21 18:31] akariv commented on #16
ה-unless מקבל שם של שדה, לא ערך @noamoss

On Sat, Mar 21, 2020 at 8:21 PM Nir Yariv <notifications@github.com> wrote:

[2020-03-21 18:31] mushon commented on #32
Fixed!
Also please take the logos from here so we can show them in full transparency on hover:
https://zpl.io/2El1qMy

[2020-03-21 18:55] #2 closed

[2020-03-21 18:57] noamoss commented on #28
@niryariv sent a similar report, based on https://whatismybrowser.com/w/2B3Z4T7

[2020-03-21 19:00] noamoss commented on #16
@dorit102

ביצעתי את התיקון שהציע אדם, הוא אמור לא להציג את "אחר" לאחר שבחרת בו פעם ראשונה. תוכלי לוודא ולאשר שתקין?

[2020-03-21 19:12] citizen-dror commented on #12
this is option 2 - algolia- places
 input 1 - heb  input 2- eng

https://react-test-dror1.herokuapp.com/geocoder

[2020-03-21 19:15] citizen-dror commented on #12
both options are open source,,, and open-data

[2020-03-21 19:37] citizen-dror commented on #22
i send 2 reports from givatim 21:30 same android

[2020-03-21 19:44] noamoss commented on #28
Dorit added also the followoing screen cuts on iphones:

http://whatismybrowser.com/w/LRR87Q7

http://whatismybrowser.com/w/ESBFW2M

http://whatismybrowser.com/w/2WPAGHN

[2020-03-21 19:50] dorit102 commented on #28
![מסך נחתך באייפון2](https://user-images.githubusercontent.com/62465246/77235398-ef89d500-6bbd-11ea-9f56-33ff4e25d624.jpeg)
![מסך נחתך באייפון1](https://user-images.githubusercontent.com/62465246/77235399-f0226b80-6bbd-11ea-880f-9a0bc0fcd2cd.jpeg)
![מסך נחתך באייפון3](https://user-images.githubusercontent.com/62465246/77235400-f0bb0200-6bbd-11ea-8985-7f460a5e09c3.jpeg)

[2020-03-21 20:14] dorit102 commented on #28
@akariv @noamoss
סגרתי עכשיו שיחה עם וייצמן- האישיו הזה קריטי, עוצר הפצה מבחינתם. אנא תעדפו בהתאם..

[2020-03-21 20:20] dorit102 commented on #16
@noamoss תקין!

[2020-03-21 21:11] akariv commented on #28
I disabled autozoom to hopefully solve the issue.

Using an iphone 8 / iOS 13.3 emulator couldn't reproduce the cuts.

If there are specific reproduction steps (i.e what do you do to get to this
state) please let me know.
Also - does this happen always?

On Sat, Mar 21, 2020 at 10:15 PM dorit102 <notifications@github.com> wrote:

[2020-03-21 21:21] dorit102 commented on #28
@akariv
הבעיה באייפון 8 כבר סודרה ועכשיו חזרה
לגבי הסמסונג בודקת
הבעיות שדיווחתי (3 הלינקים) היו באייפונים אחרים- לא 8

[2020-03-21 21:38] dorit102 commented on #28
@akariv
הבעיה בסמסונג הסתדרה
הבעיה באייפון 8 חזרה עכשיו
תגיד לי לגבי האייפונים האחרים ואבדוק

[2020-03-21 21:46] dorit102 commented on #28
@akariv
הסתדר באייפון 8!

[2020-03-21 21:53] dorit102 commented on #28
@akariv
הסתדר גם באייפון 6 אס!

[2020-03-21 21:59] dorit102 commented on #28
@akariv
תיקון- ב6 אס המסך הראשטן עובד אבל השני לא
![image](https://user-images.githubusercontent.com/62465246/77237333-046f6400-6bd0-11ea-9332-d614dd6c2137.png)

[2020-03-22 18:21] #15 closed

[2020-03-22 18:23] noamoss commented on #28
@dorit102
האם הנושא הזה עוד רלוונטי או הסתדר?

[2020-03-22 18:34] #32 closed

[2020-03-22 18:35] #16 closed

[2020-03-22 18:35] #9 closed

[2020-03-22 18:36] noamoss commented on #22
@citizen-dror sorry for not replying - saw your message too late, when we were already in the next step. Thanks for your effort.

[2020-03-22 18:37] noamoss commented on #22
@akariv did you grant  Ori access to the database? If so, please close issue. If not, please do so, and reassign this issue to me.

[2020-03-22 18:57] noamoss opened #34 "fix age question when no flatmates"
מטוויטר:  באג - הבוט חוקר אותך לגבי הגילאים של 0 שותפים/ בני משפחה שגרים איתך, כלומר -  לאחר שציינת שאתה גר לבד.

[2020-03-22 19:04] noamoss commented on #23
@akariv this issue is standing as a cheaper alternative for the desired solution #14 . Needs your Time Estimation.

[2020-03-22 19:05] noamoss commented on #7
irrelevant. closing issue.

[2020-03-22 19:05] #7 closed

[2020-03-22 19:15] noamoss opened #35 "add tanslated languages links (Hebrew, Arabic for start)"
- only fully translated and reviewed languages should appear in the language selector.

- see the homepage design on https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e769307cac7da6e67c10899

currently Arabic and Hebrew should appear

[2020-03-22 19:19] noamoss opened #36 "update content and link for use and privacy policy"

[2020-03-22 19:35] noamoss opened #37 "fit interface for LTR langauges"
we can translate to English, French and Spanish, once the UI is set correctly.

[2020-03-22 19:57] noamoss opened #38 "daily reminder to fill the survey (explore)"

[2020-03-22 20:09] noamoss commented on #11
@mushon Adam suggested to apply your visual solution, but clicking it has to force the user to fill again all the later fields/questions. It makes sense because changing an answer might lead to different conversational path.

What do you think?

[2020-03-22 20:13] noamoss commented on #14
@akariv this issue is competing with #23. Depends on your time estimation and other vs. other prioritized tasks. Can you estimate this implementation?

[2020-03-22 20:14] mushon commented on #11
That’s how I imagined it too… it’s fine.

[2020-03-22 20:15] noamoss commented on #10
@akariv updated task title.

[2020-03-22 20:16] dorit102 commented on #28
הסתדר, בדקנו את גרסא 0.0.5 יל המכשירים הבאים והרספונסיביות הייתה תקינה-
אייפון 8 פלוס
סמסונג S9
איפון XS
A10
שיומי
גלקסי S10
OnePlus 6
iPhone 6S
ודסקטופ

[2020-03-22 20:22] noamoss commented on #26
test cases:

the sum of <18 and >70 years old flatmates can not exceed the total number for people I live with.

[2020-03-22 20:29] noamoss opened #39 "returning user/reporter script"
This issue is to describe how/what should we ask a **single** returning reporter (i.e. a user that we have past reports on her/his devices).

note: We can't assume the last report was sent on the previous day, but we can calculate it.

[2020-03-22 20:30] #22 closed

[2020-03-22 20:34] noamoss opened #40 "local data storage (to enable customized script per user)"
* note: each device might be used to report over one user

[2020-03-22 20:35] noamoss opened #41 "fit scripts for multi users reports on device"
followup of #40, relate to #66

This issue is to describe how/what should we ask a group reporter  (i.e. users that want to send a couple of reports in a row).

The two main scenarios are:

1. I want to send reports for a group of new reports: me, my spouse and 2 kids.
1. I want to send reports for a group of returning users (i.e. I already sent a report for each one of the users, and the past dat

[2020-03-22 20:38] noamoss commented on #41
@mushon this issue to define the needed script customization. i will add critical points to consider later.

[2020-03-22 20:53] mushon commented on #41
Do we have a shared doc to edit this on?

[2020-03-22 21:28] noamoss commented on #11
@akariv ready to go

[2020-03-22 21:30] noamoss commented on #39
@dorit102 this issue is to describe how/what should we ask returning reporters (i.e. users that we have past reports on their devices).

**note:** We *can't* assume the last report was sent at the previous day, but we can calculate it.

[2020-03-22 21:33] noamoss opened #42 "how to deal returning users/reporters in the same day"
some users might try to submit their (and their flatmates) reports twice a day.

I am not sure we are able to block them from doing so (because flatmates or twins might be reporting from a single device) but we might find a way to verify and warn the user from duplicating data.

[2020-03-22 21:33] noamoss commented on #42
@mushon @dorit102 any idea how to tackle this one?

[2020-03-22 21:34] #28 closed

[2020-03-22 21:42] noamoss commented on #41
@mushon now we do:

https://docs.google.com/document/d/1AadsZlKkrRp8cqSDK85Loh7GxsXmeVPAh-KDsgqgK3s/edit?usp=sharing

[2020-03-22 21:44] mushon commented on #42
Adam and I already discussed this today and we believe the same sex twins case is actually not a big issue and can still be tackled through the script. Something like:

We have records for 4 people on this device which one do you want to report on first?

- Male 43
- Female 41
- Male 8
- Female 2
- Add a new one

Let’s say they add another one when they enter it as another Female 2 we will ask whe

[2020-03-22 22:18] noamoss commented on #42
@mushon so, these are the implications I can see here. Please review and share your thoughts:

1. Develop #40

1. Develop either #14  (preferred)  or #23, to enable user to define relevant reports included in the current report. The last option in our case will be something like "דיווח נתונים של מישהו חדש".

1.  When a user is reporting a Gender + Age combination that was already reported on a dev

[2020-03-22 22:20] noamoss commented on #3
@akariv version 0.1.0 Arabic translations are ready, please deploy so we can check the mechanism works, and reassign for the next version.

[2020-03-22 22:26] akariv commented on #3
You can deploy yourself:

https://travis-ci.org/github/hasadna/avid-covider

Just restart the latest master build (I already did that now)

Then test
https://coronaisrael/ar

On Mon, Mar 23, 2020 at 12:21 AM noamoss <notifications@github.com> wrote:

[2020-03-22 22:27] akariv commented on #3
https://coronaisrael.org/ar

Fix ^^

On Mon, Mar 23, 2020 at 12:26 AM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-03-22 22:37] noamoss opened #43 "fix under_18 flatmate, general flatmates number and age input types"
Ori feedback (https://hasadna.slack.com/archives/CV9JP90P4/p1584873535063000):

"בשאלות לגבי מספר אנשים (מתחת לגיל 18, מספר אנשים בבית וכו’) אם מקלידים תשובה במילים , למשל “אחד“/”אפס” הוא פשוט לא נותן לשלוח כי הוא מצפה לתשובה מספרית (0/1) אולי שווה להוסיף בשאלה הכוונה איכשהו שיענו במספר, כדי שלא יחשבו שיש תקלה או משהו
ובגיל דווקא כן נותן תשובה במילים"

[2020-03-22 22:46] noamoss opened #44 "staging enviroment"
to enable local + live checks of new features and script changes.

data reported with this language will not be submitted to DB.

[2020-03-23 00:03] noamoss commented on #3
@akariv the Arabic version does not show up... all in Hebrew on https://coronaisrael.org/ar

[2020-03-23 08:40] noamoss opened #47 "unsecured warning / blocks"
![image](https://user-images.githubusercontent.com/3581741/77297687-56100f80-6cf2-11ea-8708-66242e05c99d.png)

Secure connection failed and Firefox did not connect, also on chrome:

![image](https://user-images.githubusercontent.com/3581741/77297896-a4251300-6cf2-11ea-8202-d7cac28757b6.png)

[2020-03-23 09:31] #47 closed

[2020-03-23 11:55] mushon commented on #41
Started working on this here:
https://github.com/hasadna/avid-covider/commit/ecc531b68f967e2bf9dc42ca59088ff9a1e68506

I would love for some structural tips.

I suggest as first version let’s support only reports on the same address. Later we can add another branch for reporting on someone from another address.

[2020-03-23 16:16] noamoss opened #48 "new insulation question (24.3.2020)"
מהו סטטוס החשיפה שלך לקורונה? *
בידוד:
אני לא בבידוד
אני נמצא בבידוד (מבני המשפחה בחדר סגור) מתאריך: ______ מסיבה:
כי חזרתי מחו"ל
נחשפתי לחולה קורונה מאומת
חוויתי תסמינים
מרצוני האישי
אני חולה קורונה (מאומת בבדיקת מעבדה):
מאושפז בבית חולים
במלון
בבידוד בית
החלמתי ואני בבית

[2020-03-23 19:34] noamoss opened #49 "single user initial script udpates (1.0.0)"
@mushon @dorit102

These are the scrip updates implemented following Ori's draft:

https://github.com/noamoss/avid-covider/blob/master/scripts/script.yaml

feel free to make changes, until tomorrow (March 24) 2 pm.

// cc @akariv

[2020-03-23 19:52] noamoss commented on #41
@mushon

[see here](https://github.com/hasadna/reportit-scripts/wiki/Edit-a-script,-YAML-version)

and the [current script draft](https://github.com/noamoss/avid-covider/blob/master/scripts/script.yaml)

[2020-03-23 20:03] noamoss opened #50 "Design for post-calendar-file-download pop-up"
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e74f37303227a65ac984bec:

![תמונה](https://user-images.githubusercontent.com/3581741/77406349-2e39ae00-6dbd-11ea-8508-356981b68f3f.png)

1. generate the required link: a daily event, ensure the first date for the recurring event at the following day.

- Google Calendar Documentation: https://developers.google.com/calendar/create-events

[2020-03-23 20:36] noamoss opened #51 "add data structure documentation"

[2020-03-23 22:51] mushon commented on #50
Added to Zeplin: https://zpl.io/V1nDMZk
![image](https://user-images.githubusercontent.com/27123/77370456-965ea480-6d69-11ea-899d-38fb157ffa1f.png)

[2020-03-23 23:50] noamoss opened #52 "sould we block reporters with non-Israelis ip?"

[2020-03-23 23:52] noamoss commented on #52
Temporary title, to discuss the best method to minimize abuse of the form and/or filling with irrelevant entries.

@mushon @akariv please share your thoughts.

[2020-03-23 23:53] noamoss commented on #50
@mushon did you give up on the social media sharing, as proposed on #10 ?

[2020-03-23 23:54] noamoss commented on #10
@mushon following your recent suggestions (#50) do you want to give up on the social networks sharing? please explain/update the design in both issues.

[2020-03-24 05:31] mushon commented on #10
Adam went for an implementation that relies on a single share button. So we switched to that.

[2020-03-24 05:35] mushon commented on #50
Adam went for a 1 button implementation. I would actually prefer if we used all social media buttons and maybe have the all open the OS sharing screen. But for now they don’t.

[2020-03-24 05:37] mushon commented on #52
Do we know of such Reports so far?
Maybe we can add that as a parameter to filter by in retrospect?

[2020-03-24 07:31] noamoss commented on #52
@mushon might be good enough, but then we need to keep the reporter ip, and violate our promise for anonimity.

@akariv what do you think?

[2020-03-24 07:32] #3 closed

[2020-03-24 07:34] noamoss commented on #49
@mushon following our morning talk, this script file is updated

[2020-03-24 07:34] noamoss commented on #48
taken care on #48. closing.

[2020-03-24 07:34] #48 closed

[2020-03-24 07:35] #35 closed

[2020-03-24 07:42] noamoss commented on #31
handled in the new script draft #48

(cc @mushon FYI, notice this YAML limitation: each `option` should have both:
- `show`: label to be displayed
- [English] `value` - to be saved.

[2020-03-24 07:42] #31 closed

[2020-03-24 07:44] #10 closed

[2020-03-24 08:38] noamoss commented on #50
@mushon most users will probably share the link following the first use. The link (by design) will add a single event/reminder to their calendar.

I can see two ways to ensure/enable long term reminder:
1. add a quetsion to the script of returning users ("would you like to set a daily reminder ?")
2. update the design with two links: a single event/returning event

[2020-03-24 08:42] mushon commented on #50
1. I don't think this should be a question, and definitely not something that may take you off the context of finishing the report. Exactly like we don't ask you whether you want to share anymore, we just give you that option at the end, this should be framed as a follow-up action, not an integral part of the report flow.
2. Why not simply link to a recurring event?

[2020-03-24 08:43] noamoss commented on #50
@mushon ok, let's go with 2 -  please update the label in the design

[2020-03-24 08:46] mushon commented on #50
@noamoss changed to `תזכורת ליומן לדיווח יומי`

[2020-03-24 08:52] noamoss commented on #50
@mushon
1. what time should the event be set for by default (the same time we submitted the first one? a general time?)
1. Are we talking of a daily reminder, including weekends?

[2020-03-24 09:09] akariv opened #54 "continue question is saving a value in the report"
No need to save the result to a variable

@noamoss

[2020-03-24 09:10] akariv opened #55 "Ensure there are always values assigned to options"
@noamoss

Otherwise the display string is saved, which will create a mess when using with multiple locales

[2020-03-24 10:14] noamoss commented on #55
@akariv
Is is needed also when there is no `variable` parameter? If not, I already verified that at #53 for the new [script draft PR](https://github.com/hasadna/avid-covider/pull/53).

Please share a relevant example

[2020-03-24 10:15] noamoss commented on #54
https://github.com/hasadna/avid-covider/pull/53/commits/2872b6a10c67b5c89fad03a56d9b6900a919df01

https://github.com/hasadna/avid-covider/pull/53/commits/2872b6a10c67b5c89fad03a56d9b6900a919df01

[2020-03-24 11:27] akariv commented on #55
If done then please close via PR

[2020-03-24 11:28] akariv commented on #55
(ie add a "fixes #xxx" comment in the pr description)

[2020-03-24 11:29] akariv commented on #54
If done in a PR please use the 'fixes #xxx' notation in the commit or in the PR description.

[2020-03-24 13:06] #43 closed

[2020-03-24 13:10] noamoss commented on #50
@mushon another idea that came from @niryariv was to open a telegram channel to send a daily reminder (for those who follow it). Do you think it worth the try? If so, we will need to update the design.

[2020-03-24 20:18] noamoss opened #60 "share site screen - enable copy link on desktops"

[2020-03-24 20:58] maryLoi opened #62 "large hasadna logo"
https://drive.google.com/open?id=1QYS3WDGf49z-JF3RW881g0OggSxqIL4N
לוגו של הסדנא גדול יותר, עם 3 שפות, שיראה יותר פרופורציונלי ליד זה של ויצמן.

[2020-03-24 21:07] noamoss commented on #17
@mushon @maryLoi  @dorit102
please verify the mentioned displays.

Responsiveness reports should include the [whatisimybrowser.com](whatismybrowser.com) unique link and a screenshot.

[2020-03-24 21:42] noamoss commented on #37
*link*: https://avid-covider.phonaris.com/en/index.html:
*problem*:Intro text cut on desktop
* browser details*:  [whatismybrowser](whatismybrowser.com/w/ZT6THPB)
*screenshot*:
![image](https://user-images.githubusercontent.com/3581741/77479530-a7221f80-6e28-11ea-9edb-8ccfbe647c19.png)

@mushon @dorit102 @maryLoi please add more issues with the similiar format

[2020-03-24 21:43] noamoss commented on #37
(remember this check is valid only on the [staging evniroment](https://avid-covider.phonaris.com/)

[2020-03-24 22:10] akariv commented on #37
which part is cut?

On Tue, Mar 24, 2020 at 11:43 PM noamoss <notifications@github.com> wrote:

[2020-03-24 22:21] maryLoi opened #63 "Update Weizmann publications with link to the new bot [4h]"
####

 - design (mobile + desktop): 1h
- development: ?h
- qa: 0.5h
- translations: 0.5h

https://davidson.weizmann.ac.il/online/sciencenews/%D7%94%D7%90%D7%9D-%D7%90%D7%A4%D7%A9%D7%A8-%D7%9C%D7%A0%D7%91%D7%90-%D7%9C%D7%90%D7%9F-%D7%94%D7%A7%D7%95%D7%A8%D7%95%D7%A0%D7%94-%D7%AA%D7%AA%D7%A4%D7%A9%D7%98?fbclid=IwAR0AwsgURvDNZvoyZdLIT5Xh2-4I1WPFX-ZumNmuWER8lRCZyiPI2ihMqwg

https://heb.wis-wander.weiz

[2020-03-24 22:37] IssacKramer opened #64 "Map"
How can i see the map for all users/ status on Israel on each city?
Thanks

[2020-03-24 23:50] noamoss commented on #37
@akariv fixed my feedback - it is not being cut, but needs some padding IMO

[2020-03-24 23:55] noamoss opened #65 "enable user identifier in script editor (YAML)"
related to #39:

define the method to refer to an active user on the device in the script YAML.

for exmple:
[code]

[2020-03-24 23:58] noamoss commented on #39
@mushon Yalla, let the fun part begin

[2020-03-24 23:59] #40 closed

[2020-03-25 00:01] noamoss commented on #41
@mushon maybe it would be easier to start with a  [google docs](https://docs.google.com/document/d/1AadsZlKkrRp8cqSDK85Loh7GxsXmeVPAh-KDsgqgK3s/edit?usp=sharing) draft and translate it into a yaml once it is mature enough?

[2020-03-25 00:07] noamoss commented on #41
(updated the issue description with some guidelines)

[2020-03-25 00:14] noamoss opened #66 "enable multiusers calls in script editor (YAML)"
realted to #41, blocked by #65:

define the methods to:

1. loop through the users:
example:

[code]

2.  refer to each active user detail on the device in the script YAML (based om #65)
example:

[code]

[2020-03-25 00:21] noamoss commented on #66
@akariv

1. Better share your plan for implementation here, with @mushon and me, to ensure it serves the expected scenarios.
1. I think we should consider a bit more general implementation, in a way it can serve other/future potential needs/projects as well (equality.org is just an example, I had more ideas while writing this comment).

[2020-03-25 00:26] noamoss commented on #51
started working on a [wiki entry](https://github.com/hasadna/avid-covider/wiki)

[2020-03-25 07:48] noamoss opened #68 "add "clear my data on this device""
blocked by #69

we should enable reporting users to delete past data from their devices.

1. add a link to the footer, labeled: "מחיקת הנתונים מהמכשיר".
2. clicking the link would show the following yes/no question:

"במקרה של מחיקת הנתונים , נצטרך לשאול שוב כמה שאלות היכרות בסיסיות בדיווחים הבאים. האם למחוק את הנתונים?"

3. if the user chose "yes", show a confirmation message "כל הנתונים נמחקו מה

[2020-03-25 07:53] noamoss opened #69 "clear local storage function"
the last part of the process described in #68

[2020-03-25 08:12] #44 closed

[2020-03-25 08:12] #55 closed

[2020-03-25 08:12] #54 closed

[2020-03-25 09:12] noamoss opened #70 "QA feedback: float number for temprature"

[2020-03-25 09:19] maryLoi opened #71 "חסרה שאלה "איפה מאושפז""
אחרי דיווח כחולה קורונה מופיעות תשובות ללא שאלה

![image](https://user-images.githubusercontent.com/8996235/77520777-60fda800-6e8a-11ea-8c21-64ec150d511f.png)

[2020-03-25 09:20] noamoss opened #72 "add placeholder to "met people" question"

[2020-03-25 09:22] noamoss opened #73 "add famailial insulation"
add the option: "אני ומשפחתי בבידוד, ושוהים יחד באותם החדרים"

[2020-03-25 09:25] maryLoi opened #74 "חסרה תשובה"
![image](https://user-images.githubusercontent.com/8996235/77521436-5b549200-6e8b-11ea-8ce4-53a023379dac.png)

[2020-03-25 09:26] noamoss opened #75 "improve met question phrasing"
בצורה הזאת מחברים בין החלק הראשון (״חשוב לנו...״) לחלק השני  (״כמה מהם...״). נראה לי יותר ברור.

[2020-03-25 09:28] noamoss opened #76 "English version textual glitch"
textual glitch, please verify:

![image](https://user-images.githubusercontent.com/3581741/77521622-a9699580-6e8b-11ea-8ad3-633ce5baefda.png)

[2020-03-25 09:29] maryLoi opened #77 "רק התשובה "זהו"
![image](https://user-images.githubusercontent.com/8996235/77521782-e170d880-6e8b-11ea-8dca-7985b82e23d1.png)

[2020-03-25 09:31] noamoss commented on #26
@akariv adding a critical QA feedback report from today:

[2020-03-25 09:32] maryLoi opened #78 "אפשר לשלוח עדכון נוסף"
המשפט הזה לא ברור. לא הצלחתי להבין מה זה אומר, מה הולך לקרות כרגע
יכול להיות שההתנהגות שונה בסביבת הטסטינג?

[2020-03-25 09:34] noamoss opened #79 "link from WSI website to the bot"
יש המון פניות מאנשים ששואלים האם הדף של השאלון שייך באמת למכון ויצמן, הצעות לפתרון:
- להוסיף לינק מאחורי הלוגו של המכון בדף נחיתה של השאלון, הליק מוביל לסטורי שהעלו באתר של המכון
- להוסיף את הלוגו של המכון על הטאב של דף האינטרנט
- להוסיף טיפה עיצוב שיראה דומה לאתר של המכון- הפסים כחול-אפור ומתחת לוגו גדול של המכון

- להוסיף לינק בדף הנחיתה לסטורי של המכון על השאלון

- PredictCorona בכותרת ואת הלינ

[2020-03-25 09:34] noamoss commented on #79
@mushon @dorit102
I will let you decide and push this one forward.

[2020-03-25 09:37] noamoss opened #80 "chronic asthma, improve label"
מחלת ריאות פעילה - לא מצוין "כולל אסתמה פעילה (לא בילדות)"

[2020-03-25 09:40] noamoss opened #81 "update coughing option location in script"
Move this option to the higher level and fit the loops in both level, to fit the new structure

[2020-03-25 09:42] noamoss commented on #80
@akariv I am almost sure this comment was already implemented, just verify please.

[2020-03-25 09:46] maryLoi opened #82 "favicon must have transparent background"
![image](https://user-images.githubusercontent.com/8996235/77523188-08c8a500-6e8e-11ea-9f07-aed22325a077.png)

[2020-03-25 09:48] noamoss commented on #42
@mushon a nice idea came through the QA feedback:

[2020-03-25 09:51] noamoss opened #83 "replace זהו / אף אחד מאלה"
this should be "אף אחד מאלה":

![image](https://user-images.githubusercontent.com/3581741/77523755-e420fd00-6e8e-11ea-9707-6ff26efeda1a.png)

these should be: "אף אחד מאלה":
![image](https://user-images.githubusercontent.com/3581741/77523669-c0f64d80-6e8e-11ea-98ba-56baf7233185.png)

![image](https://user-images.githubusercontent.com/3581741/77523706-d0759680-6e8e-11ea-95d6-52bdc5737cb7.png)

![im

[2020-03-25 10:06] mushon commented on #42
מעולה!

[2020-03-25 10:08] mushon commented on #26
אני ראיתי באחת הוורסיות שדיווח החום הוא לפי טווחים (שאלה סגורה). מה נסגר עם זה?

[2020-03-25 10:12] maryLoi opened #84 "לתת חיווי כמה שאלות עוד נשארו"

[2020-03-25 10:16] mushon commented on #66
@waiting for input to suggest edits

[2020-03-25 10:20] mushon commented on #66
Adam, let’s touch base on this when you can

[2020-03-25 10:24] noamoss opened #85 "update layout: move submit button out of field"
*Current:*

![image](https://user-images.githubusercontent.com/3581741/77526610-893dd480-6e93-11ea-8ffa-762050d6a879.png)

*Expected*:
(the input field would not overlap the button)
 https://zpl.io/V01pPZO
![text-input](https://user-images.githubusercontent.com/27123/77529340-12efa100-6e98-11ea-93ac-aa43784a30dc.png)

[2020-03-25 10:24] noamoss commented on #85
@mushon please provide the required change

[2020-03-25 10:26] noamoss opened #86 "update past smoker label string"
update past smoker label:

[2020-03-25 10:50] noamoss opened #87 "fix pain report loop"
The original feedback was:

![image](https://user-images.githubusercontent.com/3581741/77528677-0a4a9b00-6e97-11ea-9a60-10d3652e6c4f.png)

aftre fix Mary showed that:

![image](https://user-images.githubusercontent.com/3581741/77528778-28180000-6e97-11ea-9c76-e0d7446cf5fa.png)

[2020-03-25 10:54] #49 closed

[2020-03-25 10:57] mushon commented on #85
How about this?
(the input field would not overlap the button)
![text-input](https://user-images.githubusercontent.com/27123/77529340-12efa100-6e98-11ea-93ac-aa43784a30dc.png)

[2020-03-25 11:05] #87 closed

[2020-03-25 11:39] #86 closed

[2020-03-25 11:45] maryLoi commented on #83
אחרי שבחרתי אופציה אחת, בכל השלבים הבאים צריך להיות "זהו"
אף אחד מאלה" - יופיע רק בפעם הראשונה"

זה עדין קורה:
![image](https://user-images.githubusercontent.com/8996235/77533021-c6f42a80-6e9e-11ea-96a2-3449882891b4.png)

[2020-03-25 11:47] maryLoi commented on #83
![image](https://user-images.githubusercontent.com/8996235/77533197-1aff0f00-6e9f-11ea-8524-3cad9a807e4e.png)

[2020-03-25 11:49] #81 closed

[2020-03-25 11:50] #80 closed

[2020-03-25 11:53] #76 closed

[2020-03-25 12:10] #73 closed

[2020-03-25 12:16] noamoss commented on #26
@mushon חזרנו להזנת ערך מוחלט. מספר עם נקודה עשרונית.

[2020-03-25 12:17] noamoss commented on #66
@akariv we need to know what are our guidelines/limits: for example, can we assume the ability to use a variable value in a middle in a string? will we be able to manipulate/combine values from the user's reports?

[2020-03-25 12:20] noamoss commented on #85
@mushon looks good, please share the zeplin direct link (could not find it)

[2020-03-25 12:37] maryLoi commented on #75
זאת הכוונה?

![image](https://user-images.githubusercontent.com/8996235/77537092-2bff4e80-6ea6-11ea-82c2-baeb513e89a6.png)

[2020-03-25 12:40] maryLoi commented on #72
כרגע הסטרינג לא נכון "הקלידו הודעה

![image](https://user-images.githubusercontent.com/8996235/77537321-8ac4c800-6ea6-11ea-8e37-3bc1c5795201.png)

[2020-03-25 12:42] #70 closed

[2020-03-25 12:42] #75 closed

[2020-03-25 12:46] akariv commented on #81
@maryLoi why did you close this issue?

[2020-03-25 12:49] akariv commented on #26
Needs revising after script changes.

[2020-03-25 12:51] maryLoi opened #88 "string missing in transifex - version number"
![image](https://user-images.githubusercontent.com/8996235/77538265-1e4ac880-6ea8-11ea-85b4-d9f85cbff6f1.png)

[2020-03-25 12:56] akariv commented on #66
1. yes
2. manipulate how?

On Wed, Mar 25, 2020 at 2:17 PM noamoss <notifications@github.com> wrote:

[2020-03-25 12:57] mushon commented on #85
@noamoss https://zpl.io/V01pPZO

[2020-03-25 12:57] akariv commented on #75
הגרסא העדכנית באתר.

On Wed, Mar 25, 2020 at 2:37 PM Mary <notifications@github.com> wrote:

[2020-03-25 12:59] #72 closed

[2020-03-25 12:59] mushon commented on #66
2. `[y !== undefined ? y : 1]` - ish

[2020-03-25 13:00] #88 closed

[2020-03-25 13:01] maryLoi opened #89 "clickable logos - link to org websites"
הלוגואים של הסדנא ושל וימן  צריך שיובילו לאתרים של הארגונים

[2020-03-25 13:02] akariv commented on #66
2. Can you use it in a sentence?

On Wed, Mar 25, 2020 at 3:00 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-03-25 13:04] maryLoi opened #90 "wrong icon for "copy to clipboard""
![image](https://user-images.githubusercontent.com/8996235/77539284-c8772000-6ea9-11ea-8e38-dc6a4d9d3f55.png)

זה הסטנדרט

![image](https://user-images.githubusercontent.com/8996235/77539351-e5135800-6ea9-11ea-804c-557ff3ef5ab2.png)

[2020-03-25 13:05] maryLoi opened #91 "ילדים בבית? מבוגרים?"
מבלבל. הייתי משנה ל:
יש בבית ילדים? מבוגרים?

[2020-03-25 13:39] noamoss commented on #42
@mushon this is my flow initial offer - purple marks strings to define. I bet you will be able to simplify it:

https://drive.google.com/file/d/12JstTd_3-bxfxXO9FAbbHQqJkcBuKYWV/view?usp=sharing

feel free to edit

[2020-03-25 13:39] noamoss commented on #41
@mushon this is my flow initial offer - purple marks strings to define. I bet you will be able to simplify it:

https://drive.google.com/file/d/12JstTd_3-bxfxXO9FAbbHQqJkcBuKYWV/view?usp=sharing

feel free to edit

[2020-03-25 18:34] dotansimha opened #92 "Auto complete for cities / streets?"
Could be taken from here: https://data.gov.il/dataset/321

[2020-03-25 18:37] dotansimha opened #93 "Annoying issue with iOS: keyboard is closing after every click"
See the following GIF:

When clicking on buttons (even the send button), the keyboard closes, and then the user need to click the input again in order to get the keyboard.

I think catching the `click` event of the option buttons / send button and doing `e.preventDefault();` will prevent it and keep it open.

[2020-03-25 18:40] dotansimha opened #94 "Keep data across executions in Local Storage?"
Data like age, city, street and previous health symptoms could saved to LocalStorage and provide faster responding.

[2020-03-25 21:38] noamoss commented on #81
@maryLoi ??

[2020-03-25 23:35] #37 closed

[2020-03-25 23:38] noamoss commented on #39
@akariv

this is the draft we are working on, please take a look and let us know if you see any problem implementing (not done yet):

https://github.com/noamoss/avid-covider-scripter/blob/master/scripts/script.yaml

// cc @mushon

[2020-03-25 23:39] noamoss commented on #41
@akariv

this is the draft we are working on, please take a look and let us know if you see any problem implementing (not done yet):

https://github.com/noamoss/avid-covider-scripter/blob/master/scripts/script.yaml

please focus you comments about multi-users in this issue

[2020-03-25 23:39] noamoss commented on #39
please focus your comment about a returning user in this issue.

[2020-03-25 23:49] noamoss commented on #66
[ gender == male ? "בן" : "בת"]

[2020-03-26 07:44] noamoss opened #97 "intro: replace start thread button location"
Mushon wrote:

 https://zpl.io/aB8WlWq

![תמונה](https://user-images.githubusercontent.com/3581741/77622042-3ffa8d00-6f46-11ea-8edb-b55a7778183e.png)

[2020-03-26 07:51] #60 closed

[2020-03-26 07:51] #17 closed

[2020-03-26 08:38] noamoss opened #98 "add script/db version record to yaml [1h]"
- instead of sending the poor editor into the code, including the current version in the script YAML

[2020-03-26 09:02] mushon commented on #97
Please refer to this link for a unified scroll design:
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e7c6f89cf25308a13a9799b/

[2020-03-26 10:21] noamoss commented on #50
@akariv found two options:

1. I generated an optional ical with a daily reminder/alert, attached to the description.
The thing is it doesn't add the event into the main calendar, but instead creates a new calendar with a single repeating event. What do you think of that?

1. Found [this site](https://add.eventable.com/free-add-to-calendar-button) which solves the cross-platform problem [example U

[2020-03-26 10:26] akariv commented on #50
Generating a single event is simple - the periodic event is the tricky part.
Plus, the apple calendar link didn't work for me...

On Thu, Mar 26, 2020 at 12:21 PM noamoss <notifications@github.com> wrote:

[2020-03-26 11:11] noamoss opened #99 "add contact-us / bug reports link to email"
@maryLoi opened an email for questions/bug reprots: coronabot@hasadna.org

We need to implement a link in the intropage

[2020-03-26 11:11] noamoss commented on #99
@mushon could you provide a design?

[2020-03-26 11:39] mushon commented on #99
I suggest to add it in the bottom of the about text

[2020-03-26 12:05] noamoss commented on #99
![image](https://user-images.githubusercontent.com/3581741/77645128-e5275c80-6f6a-11ea-8667-67883a8a3951.png)

[2020-03-26 12:48] akariv commented on #38
I added support for a daily notifications on chrome 80.
A notification is scheduled whenever the site is opened to X seconds from now.

If the browser supports it and notifications were not enabled yet, a message is displayed in the thank you page to enable notifications.

Notification is locale aware, will be presented in the last locale of the ui and will redirect to the last locale.

[2020-03-26 14:03] noamoss opened #102 "handle cities/yeshuv without street names"
users are asking for an option to click "אין רחובות בישוב בו אני מתגורר/ת".

how should we represent it in the script?

this request was sent and approved by Ori (WSI)

idea: add a `wait` parameter to allow empty input (to be saved as '').

[2020-03-26 14:04] noamoss commented on #102
@mushon @maryLoi how would you tackle it in terms of the flow?

[2020-03-26 14:12] mushon commented on #102
`placeholder: ״ שם הרחוב (אם אין, אפשר להשאיר ריק)״`

[2020-03-26 14:13] mushon commented on #102
מה שכן, אם היוזר לא הכניס שם רחוב נצטרך להשתמש בעיר כשם ה-ID

[2020-03-26 14:39] mushon commented on #50
@noamoss I suggest to delegate this task to a volunteer. It’s not an @akariv only type of task

[2020-03-26 15:07] noamoss commented on #102
@mushon אם תהיה לנו אפשרות ללחוץ על לחצן "ישוב ללא רחובות", אז זה יכול להיות  חלק מהמזהה

[2020-03-26 15:14] mushon commented on #102
זה א אידיאלי אבל מה לגבי פתרון כזה:
![image](https://user-images.githubusercontent.com/27123/77663010-3d6b5800-6f85-11ea-9725-8f77521eebf7.png)

[2020-03-26 15:15] noamoss commented on #102
נראה טוב, אבל דורש פיתוח.
@akariv ^^^ מה דעתך?

[2020-03-26 15:55] mushon commented on #102
available here: https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e7ccfefcf25308a13ac7388/

[2020-03-26 16:12] akariv commented on #102
The amount of people mistakenly pressing the wrong button will be larger
than the actual people that need the option
It's much more dev time than simply allowing empty values to be submitted

On Thu, Mar 26, 2020 at 5:56 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-03-26 16:36] mushon commented on #102
Empty values with a placeholder allowing that was my initial suggestion

[2020-03-26 16:39] noamoss commented on #50
@mushon it is indeed already labeled as an 'easy_entry' task, but we can't wait until someone volunteers to implement it, as it highly requested by WSI, and therefore currently assigned to Adam.

[2020-03-26 16:41] noamoss commented on #102
@mushon @akariv agreed to allow empty strings then. updated description.

[2020-03-26 17:18] noamoss commented on #50
added a 3rd potential service to the description

[2020-03-26 20:47] guynev commented on #50
Hi, my name is guy and i'm a Talpiot cadette. I'll try tackling this issue in the following days and inform you if I make any progress.
Two things I would like to offer:
1. May I suggest not giving up on Facebook and Whatsapp sharing. If one button for sharing is requested, so be it. but that one button can open a menu where the user can choose to share the link to the app (and a short description

[2020-03-26 21:05] noamoss opened #103 "intro page: add link indicaiton"
QA feedback

[2020-03-26 21:05] noamoss commented on #103
@mushon can you provide definitions/demo?

[2020-03-26 21:12] noamoss opened #104 "action item button below fold (mobile)"
whatismybrowser.com/w/8TR2376

![image](https://user-images.githubusercontent.com/3581741/77697212-1ded2300-6fb7-11ea-82e6-e8f8db3e39b9.png)

[2020-03-26 21:14] noamoss opened #105 "white square icon on mobile notification area"
![image](https://user-images.githubusercontent.com/3581741/77697342-5c82dd80-6fb7-11ea-9e5f-d0cf3c93c1f5.png)

Android report

[2020-03-26 21:23] mushon commented on #103
I already provided a design that gets rid of that link altogether and creates one scroll for the whole page.

[2020-03-26 21:25] noamoss commented on #26
updated definition

[2020-03-26 21:29] noamoss opened #106 "reconsider app layout"
https://www.whatismybrowser.com/w/8TR2376

[2020-03-26 21:29] noamoss commented on #106
I can add I had the same challenge on my device, before receiving this feedback.

[2020-03-26 21:30] noamoss commented on #106
@mushon what do you think?

[2020-03-26 21:31] noamoss opened #107 "shorten langauge(s) name labels"
Mushon adds:

בעיקרון האיזור הזה אמור להיות רחב יותר ולא לתפוס שתי שורות. בינתיים, כן, בואו נקצר. רק חשוב שהכפתורים יהיו רחבים מספיק כדי להיות לחיצים.

[2020-03-26 21:33] noamoss opened #108 "display entered dates in correct format"
![image](https://user-images.githubusercontent.com/3581741/77698903-11b69500-6fba-11ea-8ed6-73535d52a7ce.png)

[2020-03-26 21:34] mushon commented on #106
Not sure I understand. Can I see a screenshot?

[2020-03-26 21:35] noamoss opened #109 "date input breaks display on half screen"
אחרי בחירה של תאריך החצי התחתון של המסך נשאר לבן

https://www.whatismybrowser.com/w/8TR2376

![image](https://user-images.githubusercontent.com/3581741/77699061-5e9a6b80-6fba-11ea-8548-d1bbf76e2fa7.png)

[2020-03-26 21:50] noamoss opened #110 "hidden input by numerical keypad in app"
https://www.whatismybrowser.com/w/8TR2376
In the installed app @maryLoi reported that half of the input field is hidden by the numberical keypad:

![image](https://user-images.githubusercontent.com/3581741/77700250-7a9f0c80-6fbc-11ea-99c8-a2b911d9a020.png)

[לא יכולה לגלול את המסך חזרה]

עכשיו שוב קרה לי בשאלה "וכמה מעל גיל 18"
עכשיו שוב קרה ב"שם הרחוב"

Adam wrote:
נראה שזו אפליקציית מסך מלא שכרג

[2020-03-26 21:51] noamoss commented on #110
@akariv not sure if this is still should be considered as a bug or not, following your theory.

@maryLoi can you approve it was just a one time glitch?

[2020-03-26 22:25] noamoss opened #111 "text runs fast when many options"
![image](https://user-images.githubusercontent.com/3581741/77702510-5bef4480-6fc1-11ea-9ac0-eed91a6d630d.png)

Mushon wrote:

[2020-03-26 22:29] noamoss opened #112 "remove white strip on mobile app"
https://www.whatismybrowser.com/w/8TR2376

![image](https://user-images.githubusercontent.com/3581741/77702762-e637a880-6fc1-11ea-803c-fd97b157d31a.png)

[2020-03-26 22:34] noamoss opened #113 "user can't enter date"
![image](https://user-images.githubusercontent.com/3581741/77703001-6c53ef00-6fc2-11ea-8f25-279c996791fa.png)

[2020-03-26 22:35] maryLoi commented on #113
whatismybrowser.com/w/8TR2376

[2020-03-26 22:46] maryLoi commented on #113
קורה בהזנת תאריך של הבידוד. מונע התקדמות

[2020-03-26 22:47] noamoss commented on #113
@akariv this last comment makes this issue critical.

[2020-03-26 22:51] #106 closed

[2020-03-26 22:57] maryLoi commented on #110
לא מצליחה לשחזר. מאחר ואין לי דרך להתקין שוב את האפליקציה לאחר הסרה
לא קורה בדפדפן. לא קורה במכשיר אחר

[2020-03-26 23:03] mushon commented on #111
Let’s dense it down to 4px between buttons and bubbles from the same group and make it 24px between our question bubbles and the users’ answers. Margin between a set of our questions should be 4px. Additionally let’s avoid cases where bubbles break to two lines when they don’t have to. Like in the attached crop image:
![F5AA0E19-EAC4-4F65-9F90-ACB1482E7784](https://user-images.githubusercontent.co

[2020-03-26 23:05] mushon commented on #111
Additionally extra short timeout delays between buttons would improve the user orientation dramatically.

[2020-03-27 06:37] akariv commented on #113
ראיתי את זה קורה, אפשר ללחוץ על הכפתור שליחה אם מקפידים ללחוץ על הצד הימני
שלו.

בגדול זה מה שקורה כששמים את כפתור השליחה בתוך תיבת הטקסט והדפדפן לא מכבדת
את הריווח משמאל בתיבות מסוג תאריך.

On Fri, Mar 27, 2020 at 12:47 AM noamoss <notifications@github.com> wrote:

[2020-03-27 06:37] akariv commented on #110
אפשר תמיד להתקין את האפליקציה דרך התפריט (add to home screen).

On Fri, Mar 27, 2020 at 12:57 AM Mary <notifications@github.com> wrote:

[2020-03-27 06:55] akariv commented on #111
1. I've never seen the messages cut like this... I'll try to repro on my
iphone emulator.
2 We're now at 250 msec, should I add another 250msec?

On Fri, Mar 27, 2020 at 1:05 AM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-03-27 09:06] akariv commented on #24
We're currently using the native date picker in all date inputs.
It works based on the OS implementation and the device locale.
The output is always formatted as an iso string (yyyy-mm-dd)

[2020-03-27 09:08] akariv commented on #113
בקיצור, יש להוציא את הכפתור מתוך תיבת הטקסט

[2020-03-27 09:09] akariv commented on #112
This white strip was there since day 1 of palmor. Is this really a blocker for the next version?

[2020-03-27 09:11] akariv commented on #109
Which device is this?
Can't reproduce on mine.
(reproduction steps would also be good)

[2020-03-27 09:11] akariv commented on #108
Possible duplicate of #24

[2020-03-27 09:12] mushon opened #115 "Add "Install as App" banner"
To promote the installation as a (PWA) app we need a native-sh looking banner

[2020-03-27 09:13] #38 closed

[2020-03-27 09:13] #66 closed

[2020-03-27 09:13] #65 closed

[2020-03-27 09:13] akariv commented on #97
duplicate of #104

[2020-03-27 10:14] noamoss commented on #97
@akariv

I assume it is related to this issue:

Two vertical scroll bars on whatismybrowser.com/w/MMS8TLF:

![image](https://user-images.githubusercontent.com/3581741/77745654-b8d41480-702c-11ea-8114-f644befb2506.png)

[2020-03-27 10:19] akariv commented on #97
Wontfix very small.userbase.for.chrome 70

On Fri, Mar 27, 2020, 13:14 noamoss <notifications@github.com> wrote:

[2020-03-27 10:33] noamoss commented on #50
hi @guynev welcome aboard and good luck.
Since this is a priority issue, I suggest you to update here on Sunday morning: if you won't be able to make a progress @akariv might take over and we would not like to spend your time.

@mushon this is your call:

@guynev

We can't count on users to remember every day and prefer letting them setting a daily reminder at once. Increasing the number of return

[2020-03-27 11:03] mushon commented on #29
Class + Keyframes:
[code]
@akariv it might need some minor calibration once we see it, but otherwise this is it (including 250ms delay between each bubble)

[2020-03-27 11:06] mushon commented on #50
@guynev

We will implement the native OS sharing when it is available and the link sharing where it is not (rare cases: desktop etc...)

We prefer a recurring event and are still looking for solutions for that. Would love your help there…

[2020-03-27 11:35] noamoss commented on #110
@maryLoi סוגר בינתיים, תפתחי מחדש את הדיווח אם ניתקל בו שוב.

[2020-03-27 11:35] #110 closed

[2020-03-27 11:36] mushon commented on #115
Added to Zeplin: https://zpl.io/ag0jJ9Q
![image](https://user-images.githubusercontent.com/27123/77752271-4cf7a900-7038-11ea-8099-e60c63b54b39.png)

[2020-03-27 11:36] noamoss commented on #111
@mushon ^^^ ?

[2020-03-27 11:39] mushon commented on #111
@akariv and I worked on this in a live session. Should be fixed soon, hopefully…

[2020-03-27 11:41] mushon commented on #97
This would probably be fixed in the next push anyway as we’re expanding the “about” into the main scroll

[2020-03-27 11:44] #24 closed

[2020-03-27 11:46] noamoss commented on #108
@akariv it is not a duplicate: here we talk about the display of the entered dates in the thread, see above.
issue #24 was (already closed) about the input method

[2020-03-27 11:47] mushon commented on #115
animate:
`.slide-in-top {
	-webkit-animation: slide-in-top 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
	        animation: slide-in-top 1s cubic-bezier(0.190, 1.000, 0.220, 1.000) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-3-27 14:15:58
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.n

[2020-03-27 11:49] noamoss commented on #113
@akariv see #85

[2020-03-27 11:50] noamoss commented on #113
(will keep this issue open, until #85 is ready to verify it solves the problem)

[2020-03-27 11:50] noamoss commented on #112
@akariv did not notice it, so no - it is not a blocker, moving to `todo` column,

[2020-03-27 11:51] akariv commented on #108
What is the requirement here?
Dates look fine to me...

On Fri, Mar 27, 2020, 14:46 noamoss <notifications@github.com> wrote:

[2020-03-27 11:54] maryLoi commented on #109
לא מצליחה לשחזר...

[2020-03-27 11:54] noamoss opened #116 "change the trigeer for 'all together now' message"

[2020-03-27 11:55] noamoss commented on #116
@mushon where and how?

[2020-03-27 11:57] noamoss commented on #108
2020-03-05 -->

RTL : 03/05/2020 (DD/MM/YYYY)
LTR: 05/03/2020 (MM/DD/YYYY)

[2020-03-27 11:59] noamoss commented on #104
@maryLoi fixed on my device, please try and approve (close issue if was fixed)

[2020-03-27 12:05] noamoss commented on #115
@mushon should not the label be "להתקנה" or "התקנה"?

[2020-03-27 12:07] #109 closed

[2020-03-27 12:20] noamoss commented on #97
reopening, for meanwhile, as the problem reproduced on chrome 80.

// cc @akariv whatismybrowser.com/w/QJ2XS6C

[2020-03-27 13:21] akariv commented on #108
Are you sure that's the way they do it in Russia, France and the UK?

On Fri, Mar 27, 2020, 14:58 noamoss <notifications@github.com> wrote:

[2020-03-27 13:22] akariv commented on #115
It's not related to the daily reminders, so better fix the text

On Fri, Mar 27, 2020, 15:05 noamoss <notifications@github.com> wrote:

[2020-03-27 13:23] akariv commented on #97
Can you share a screenshot for chrome 80?

On Fri, Mar 27, 2020, 15:20 noamoss <notifications@github.com> wrote:

[2020-03-27 13:52] noamoss commented on #108
@akariv

https://en.wikipedia.org/wiki/Date_format_by_country

you are right:

RTL: DD-MM-YY
LTR: YY-MM-DD

[2020-03-27 15:58] noamoss commented on #97
![image](https://user-images.githubusercontent.com/3581741/77775004-fe103a80-705c-11ea-8ed9-5dd960a460df.png)

[2020-03-27 15:59] noamoss commented on #97
already did, but here again ^^^

[2020-03-27 16:11] noamoss commented on #50
@guynev

Adam will take over this issue, as we were asked to push this prioritized task during the upcoming day, so I guess we would love to have your help with one of the other [`easy_entry` issues on the Todo column](https://github.com/hasadna/avid-covider/projects/2?card_filter_query=label%3Aeasy_entry) tasks.

[2020-03-27 16:19] guynev commented on #50
can you add my email to the zeplin project so i can use the designed page?
my email: guyng.39.talpiot@gmail.com

[2020-03-27 17:38] mushon commented on #50
Done

[2020-03-27 17:47] mushon commented on #116
אם אפשר ליצר חוקיות שלא להציג אותה מהחוסר השלישי. אז סבבה.

[2020-03-27 17:56] mushon commented on #115
`התקנה`
מה הערך של האפליקציה ללא התראות?

[2020-03-27 18:39] mushon commented on #111
#29 should fix this (css animation included)

[2020-03-27 19:11] mushon commented on #97
Guys, we shouldn't even have this button on desktop. We should simply let the chat begin.

[2020-03-27 19:37] noamoss commented on #115
היא יושבת לאנשים על הדסקטופ כתזכורת סטטית: בלי פוש, פשוט קישור מהיר.

On Fri, Mar 27, 2020, 8:56 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-03-27 22:59] carmelp16 commented on #112
I think I've pulled this off.
If I'm not mistaken, the root cause of this issue is the white background of the htl-input element.
So all I did is basically setting its background color to the same color of the rest of the chat.
I hope it suits your needs 😄

Link to the PR I have opened - https://github.com/hasadna/avid-covider/pull/117

[2020-03-28 13:11] guynev commented on #50
Alright, then I'd be glad if you could direct me to an issue that isn't
urgent so i can have a few days to look into it.
Unfortunately it isn't the only thing I'm working on right now..
Thanks!

‫בתאריך יום ו׳, 27 במרץ 2020 ב-19:11 מאת ‪noamoss‬‏ <‪
notifications@github.com‬‏>:‬

[2020-03-28 16:05] akariv commented on #112
Awesome, thanks! I will take a look.

On Sat, Mar 28, 2020, 02:00 carmelp16 <notifications@github.com> wrote:

[2020-03-28 17:37] #107 closed

[2020-03-28 17:38] #99 closed

[2020-03-28 17:39] #23 closed

[2020-03-28 17:43] noamoss commented on #50
@guynev take a look at https://github.com/hasadna/avid-covider/issues/14, and add a comment there if you believe you are capable to handle it within the upcoming days if not, you are welcome to try tackling any of the [`easy_entry` issues on the Todo column](https://github.com/hasadna/avid-covider/projects/2?card_filter_query=label%3Aeasy_entry) tasks.

Once you let us know you do so, I try to upd

[2020-03-28 19:13] mushon commented on #79
אני חושב שהלינק לדף באתר של מכון ויצמן שיציג צילום מסך של המוצר שלנו יעשה את העבודה. כל השאר לא יהיו משכנעים יותר ממשהו שיושב תחת הדומיין שלהם.

[2020-03-28 19:42] dorit102 commented on #79
מסכימה עם מושון

[2020-03-29 07:04] noamoss commented on #50
@mushon we are considering improving the current solution, which is based over downloading an ics/ical file to the user's device and manually opening it to create the event in the (device) default calendar.

Part of the early user tests results showed that the user might be unaware to the fact the file was/is being downloaded and what should happen next. We thought to explain/prepare them through

[2020-03-29 07:13] noamoss commented on #79
@dorit102 אז נראה לי שנכון שתעלי את זה מול אנשי מכון ויצמן - יכולה לסגור את הנושא כשזה קרה.

[2020-03-29 07:36] mushon commented on #50
Sure. Let's try to document what are the steps required by the user and see if we can come up with a unified guideline or whether we need to specify different ones for each OS.

[2020-03-29 07:54] noamoss commented on #50
@mushon
1. click the button
2. wait for the file to download
3. open the downloaded file
4. confirm/add the event series to calendar (depends of the specific os+client combination)

@akariv suggested to show these instructions AFTER the file is being downloaded, but I would like to show at least an indication the file is about to be downloaded - otherwise, the user might suspect.

[2020-03-29 08:53] dorit102 commented on #79
@noamoss
היום יש בעמוד הראשי של וויצמן את הסניפט שהוא לינק אלינו. זה לא מספק?
![Inkedויצמן_LI](https://user-images.githubusercontent.com/62465246/77845009-ea2b1c80-71b3-11ea-8502-24368da7053d.jpg)

[2020-03-29 09:12] guynev commented on #50
No problem, I'll let you know if I manage finishing it by the end of Monday.
The main thing I don't understand right now is where in the code do I
change the display to look like the multiple choice design shared on github
here: https://sketch.cloud/s/jpr8b/a/40ePjd
Guy

‫בתאריך שבת, 28 במרץ 2020 ב-20:43 מאת ‪noamoss‬‏ <‪notifications@github.com
‬‏>:‬

[2020-03-29 10:05] mushon commented on #79
זה לא מספיק. אנחנו צריכים שמי שסקפטי יוכל להגיע ישירות לדף בויצמן שיפריך את החששות שלו

[2020-03-29 10:05] akariv commented on #79
עמוד הבית משתנה כל הזמן, צריך קישור לעמוד מסודר עם הלינק וצילום מסך.

On Sun, Mar 29, 2020, 11:53 dorit102 <notifications@github.com> wrote:

[2020-03-29 15:44] mushon commented on #50
@noamoss
https://zpl.io/VqgDmm5
![image](https://user-images.githubusercontent.com/27123/77853546-3ba3cd80-71ed-11ea-8bd8-23dbb9885c94.png)

[2020-03-29 15:48] noamoss commented on #50
@mushon it does not solve our problem (based on real users tests): a file is being loaded, the user does not expect is - some of them did not even noticed it happened - and others did not click on it.

[2020-03-29 15:55] noamoss commented on #50
@akariv ^^^

[2020-03-29 20:36] noamoss commented on #97
@akariv none of these are clickable, checked with firefox / chrome:

## firefox
whatismybrowser.com/w/B66F3NT
![image](https://user-images.githubusercontent.com/3581741/77860057-aff26700-7215-11ea-814b-b3ca319d10d9.png)

## chrome
On chrome, in addition, I got the following horizontal scrollbars:
whatismybrowser.com/w/23HHK5J

![image](https://user-images.githubusercontent.com/3581741/77860094-ed5

[2020-03-29 20:38] #41 closed

[2020-03-29 20:39] #39 closed

[2020-03-29 20:39] #42 closed

[2020-03-29 21:08] #104 closed

[2020-03-29 21:40] noamoss commented on #97
@akariv rechecked:

1. firefox fixed,
2. chrome with the same problek
3. @mushon 's suggestion (autoplay on desktop, hide  the button, is not implemented)

[2020-03-29 21:48] guynev commented on #14
@akariv I would be glad for some guidance on how to access the actual code of the user side of the chat. I understand it has something to do with the chat bot created in "hatool", but I can't find access to it. Anything I can do?

[2020-03-29 22:01] akariv commented on #97
Original problem was dual scroll bar... now there is one scroll bar.
logos are scrollable on smaller screens, hence the scroll bars there.
this feels to be a linux related problem as it does not repro on other os'es (didn't check windows though)

re (3) is there an issue for that?

[2020-03-30 05:53] akariv commented on #97
Closing for now (and moving to qa).
Regarding the unrelated desktop functionality change, let's move to a separate issue.

[2020-03-30 09:27] noamoss commented on #113
@akariv The new date input works and looks great, but there is a glitch on mobile:

[whatismybrowser](https://whatismybrowser.com/w/GHMBF6D?utm_source=whatismybrowsercom&utm_medium=internal&utm_campaign=homepage&utm_content=unique-url-readout):

![תמונה](https://user-images.githubusercontent.com/3581741/77896766-6ccddd80-7281-11ea-96f8-4763cba44ef6.png)

[2020-03-30 09:28] noamoss opened #120 "desktop: hide "start" button and automatically start the thread"
#97 followup

[2020-03-30 09:29] noamoss commented on #97
reopening as the chrome bug still needs to be checked (self note)

[2020-03-30 10:25] #85 closed

[2020-03-30 12:32] noamoss commented on #11
reopened for QA

[2020-03-30 12:35] noamoss commented on #113
checked and approved on staging.

 @maryLoi please verify and close the issue if it is ok

[2020-03-30 12:36] noamoss commented on #29
@mushon checked on my devices - could you approve you are happy with the result on staging?

[2020-03-30 12:37] noamoss commented on #111
@mushon checked on my devices - could you approve you are happy with the result on staging?

[2020-03-30 12:39] mushon opened #121 "CSS basic fixes"
- [x] Chat font-size should be 18px
- [x] Button text color should be `#00807C`
- [x] Button input state should be `background: "#2C3C3B"; color: "#fff"`

[2020-03-30 12:39] noamoss commented on #11
looks good on my devices.

@maryLoi could you verify on your side?

[2020-03-30 12:40] noamoss commented on #97
fixed.

[2020-03-30 12:40] #97 closed

[2020-03-30 12:55] mushon commented on #111
yes. and once we implement #29 it would also run smoothly… (but it's already better than it was before). Thanks!

[2020-03-30 12:56] mushon commented on #11
Works for me.

[2020-03-30 13:02] noamoss opened #122 "mark selected options on multi selection questions (needs time estimation)"
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e74f37269465662fced62bf:

![image](https://user-images.githubusercontent.com/3581741/77915217-be856080-729f-11ea-8825-7001e30fb69c.png)

[2020-03-30 13:03] noamoss commented on #122
@akariv not sure if we should invest time on this issue, due to #14 which is pending for implementation. Could you estimate how much time would it take to implement this missing piece for the meanwhile?

[2020-03-30 13:05] #111 closed

[2020-03-30 13:57] noamoss opened #123 "fix/change answer QA : new user can't fix age"
followup of #11

[2020-03-30 13:59] noamoss opened #124 "fix/change answer QA: change number of people around you"
followup of #11

[2020-03-30 14:01] noamoss opened #125 "fix/change answer QA: new user wants to change city or street name"
followup of #11

[2020-03-30 14:10] noamoss opened #126 "fix/change answer QA: change insulation date"
followup of #11

before trying to fix:

![image](https://user-images.githubusercontent.com/3581741/77926184-7a4d8c80-72ae-11ea-9f57-8dca7b92852b.png)

after trying to fix:
![image](https://user-images.githubusercontent.com/3581741/77926209-81749a80-72ae-11ea-9d1a-27a68e7b2be4.png)

[2020-03-30 14:15] noamoss commented on #68
this issue is also related to the QA feedback we got today, while checking #11:

המשתמש מתבקש להקליד עיר, רחוב וגיל בכל פעם שהוא נכנס. ואם הוא מקליד בטעות משהו לא נכון הוא עדיין יכול להמשיך ולעשות על השאלון, למרות שבפרטים המזהים שהוא הקליד שגויים. הוא יוכל למלא את כל הטופס ולסיים אותו למרות שפרטים אלה שהכניס בהתחלה לא נכונים. כך שהסיכוי של המשתמש פה נפגע

I believe we should enable user to clear t

[2020-03-30 14:19] noamoss opened #127 "fix/change answer QA: can't change entered landed in Israel date"
followup of #11

[2020-03-30 14:27] noamoss commented on #112
@maryLoi could you try to reproduce on your device? Close issue if solved.

[2020-03-30 14:29] #103 closed

[2020-03-30 14:40] noamoss commented on #102
checked and approved.

[2020-03-30 14:40] #102 closed

[2020-03-30 14:45] noamoss commented on #26
1. @mushon is the grey indication was the planned indication for a wrong value?
(I thought it was a gltich). Please advice:

![image](https://user-images.githubusercontent.com/3581741/77925803-fd221780-72ad-11ea-9324-f62a8c50c2ba.png)

2. @akariv eventhough we have a placeholder, once the user types in an invalid input, they need an indication for what they should do. The defitinition includes a c

[2020-03-30 15:01] mushon commented on #26
1. No. I never designed an error indication. Any guidelines on your part @akariv?

[2020-03-30 15:23] mushon commented on #26
Here: https://zpl.io/a38AZ8W
![text-input copy](https://user-images.githubusercontent.com/27123/77930164-34df8e00-72b3-11ea-95f3-e1fb377e5fff.png)

The `X` would replace the submit. Tapping it will clear the input.

[2020-03-30 15:29] noamoss commented on #26
thanks @mushon

@akariv as a quick solution for today I guess we can go only with the red X if clicking it would clear the input and show again the placeholder. Once done I can open a followup for the custom error message.

[2020-03-30 16:01] akariv commented on #26
I would go for a more subtle design - as the 'empty string' is also an invalid value in most cases, it would mean that the red state would be the initial state for most inputs.
Perhaps a grayed out send button instead?

@noamoss @mushon

[2020-03-30 16:13] noamoss commented on #26
@mushon ?

[2020-03-30 16:28] #123 closed

[2020-03-30 16:28] #126 closed

[2020-03-30 16:29] #124 closed

[2020-03-30 16:29] #125 closed

[2020-03-30 16:29] #127 closed

[2020-03-30 16:30] akariv commented on #26
and we can add the error message (which is essentially just the placeholder in most cases) if the user tries to click the button in the 'invalid' state.

[2020-03-30 17:01] mushon commented on #26
The pattern for error correction differentiates at least these states in chronological order:
1. Empty state - inc. placeholder - submit disabled
2. Valid text inside - no placeholder - submit available
3. Error - error message- submit disabled or unavailable

In many cases the error is only tested when unfocusing the field or upon tapping submit.
In our case we can test it with every characters b

[2020-03-30 17:06] akariv commented on #68
User can now change all fields during report fill-in

On Mon, Mar 30, 2020, 17:15 noamoss <notifications@github.com> wrote:

[2020-03-30 17:10] noamoss commented on #26
@akariv

I think  it should still return to be the standard button when I delete/clear the input. Now it remains greyed even when the

![image](https://user-images.githubusercontent.com/3581741/77940828-ec7b9c80-72c1-11ea-9df2-c12805156fef.png)

sounds good to me

[2020-03-30 17:13] akariv commented on #26
Okay, so we def. need a disabled mode design
I think should trigger the error view only when the submit button is
clicked and not while typing (as seeing red indicates an error when in fact
you're still entering data).
Thoughts on the error message = placeholder suggestion?

On Mon, Mar 30, 2020, 20:01 Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-03-30 17:14] noamoss commented on #127
checked on staging and approved.

[2020-03-30 17:15] noamoss commented on #125
checked on staging and approved.

[2020-03-30 17:16] noamoss commented on #124
checked on staging and approved.

[2020-03-30 17:17] noamoss commented on #126
checked on staging and approved

[2020-03-30 17:17] noamoss commented on #123
checked on staging and approved

[2020-03-30 17:19] mushon commented on #26
I will add a disabled mode which would be a gray version of the current design. (Currently AFK)

[2020-03-30 17:20] noamoss commented on #68
@akariv be we still can't clear (i.e. delete) saved data/reporter on a device, right?

[2020-03-30 17:25] noamoss commented on #26
@akariv

If it makes a difference, I am ok with it: we can fit the placeholders tomorrow/once it is ready

[2020-03-30 17:44] akariv commented on #68
No, but I'm planning on letting data fade away after some time - that is,
unused aliases will stop appearing after.a.while

On Mon, Mar 30, 2020, 20:21 noamoss <notifications@github.com> wrote:

[2020-03-30 17:47] roygolan commented on #115
Are app notifications planned? Or even a daily [popup](https://stackoverflow.com/questions/4452565/start-app-at-a-specific-time)? Only a small percentage of users will actually contibute data daily.

[2020-03-30 18:09] roygolan opened #129 "create an installable app with a daily form popup"
Data contributors are awesome, but probably only a small percentage of them will actually submit the form daily. A timed app [popup](https://stackoverflow.com/questions/4452565/start-app-at-a-specific-time) that will show the form every day can dramatically increase the number of form submissions over time.

[2020-03-30 18:39] roygolan opened #130 "mobile: 'add to home screen' button is hiding the 'start survey' button"
![ezgif-4-61923c14394f](https://user-images.githubusercontent.com/3243964/77949616-ec829900-72cf-11ea-8065-a732691d24a7.gif)

Many non technical users will not pass this point, as no 'start' button is visible

[2020-03-30 19:17] noamoss opened #131 "calendar reminder: borken message on windows"
![image](https://user-images.githubusercontent.com/3581741/77952297-18a01900-72d4-11ea-9a44-260cf54036f1.png)

[2020-03-30 19:35] noamoss commented on #115
@roygolan This is indeed a main challenge of the tool. We is already implemented a daily reminder/pop up for chrome 80+ (see https://github.com/hasadna/avid-covider/issues/38#issuecomment-604411857) and the option to add a daily reminder to the private calendar (#50). Feel free to offer PR to expand this functionality for other platforms/channels.

You are welcome to join our [Slack channel](https

[2020-03-30 19:38] mushon commented on #26
https://zpl.io/ad0dreK
![image](https://user-images.githubusercontent.com/27123/77954295-18554d00-72d7-11ea-8d21-34d48acee883.png)
@akariv @noamoss

[2020-03-30 20:04] akariv commented on #131
זה טקסט לא מתורגם בגירסא האנגלית.
ברגע שיתורגם זה יסתדר

On Mon, Mar 30, 2020 at 10:18 PM noamoss <notifications@github.com> wrote:

[2020-03-30 20:21] roygolan commented on #115
@noamoss Thanks! How do I join the channel without a @hasadna.org.il account?

[2020-03-30 20:23] roygolan opened #132 "mobile: 'quarantine start date' question: separate the date picker button and the send button"
![InkedIMG-20200330-WA0034_LI](https://user-images.githubusercontent.com/3243964/77959210-e2b46200-72de-11ea-8553-29f47b6e4118.jpg)
users might not be able to properly open the date picker or send their answer as the two arrow buttons are almost on top of each other

[2020-03-30 20:38] roygolan opened #133 "desktop: center main container"
![image](https://user-images.githubusercontent.com/3243964/77959594-856ce080-72df-11ea-92b4-d2e9c8c00cbe.png)

[2020-03-30 20:48] noamoss commented on #131
oops. sorry for missing that.

[2020-03-30 20:48] #131 closed

[2020-03-30 20:54] noamoss commented on #115
@roygolan sent an invitation.

[2020-03-30 21:04] guynev commented on #50
@noamoss
Thank you for the opportunity of working on this project.
Unfortunately I am not experienced enough in site building to contribute to
the project without guidance..
Hope you succeed, good luck!
Guy

‫בתאריך שבת, 28 במרץ 2020 ב-20:43 מאת ‪noamoss‬‏ <‪notifications@github.com
‬‏>:‬

[2020-03-31 09:38] #120 closed

[2020-03-31 11:23] mushon commented on #121
All of the above are addressed in https://github.com/hasadna/avid-covider/pull/135

[2020-03-31 14:19] noamoss commented on #121
@akariv please update when ready of QA

[2020-03-31 14:20] mushon commented on #121
it's already in staging. confirmed. We can close this

[2020-03-31 14:43] #26 closed

[2020-03-31 14:46] maryLoi commented on #11
כרגע כשלוחצים על תיקון התסריט נגלל המון אחורה, עושה קצת סחרחורת
הציפיה שלי כמשתמשת היתה שלא תקרה גלילה בכלל

[2020-03-31 14:56] mushon commented on #11
אני מסכים. השאלה האם היינו יכולים לעשות משהו כזה בעלות יחסית נמוכה.

[2020-03-31 14:56] #112 closed

[2020-03-31 14:57] #113 closed

[2020-03-31 15:03] akariv commented on #11
זה כנראה בגלל השינוי של מדיניות הגלילה.
אני אנסה לסדר את זה.

On Tue, Mar 31, 2020 at 5:56 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-03-31 16:07] #121 closed

[2020-03-31 16:08] noamoss commented on #11
@akariv פתוח מחדש, עדכן בבקשה כשאפשר לבדוק

[2020-03-31 16:21] noamoss commented on #120
checked on staging and approved

[2020-03-31 16:27] noamoss opened #138 "define footer links line breaks by item"
https://www.whatismybrowser.com/w/8TR2376

![image](https://user-images.githubusercontent.com/3581741/78050919-9ec86800-7385-11ea-8be9-5e564a49a59e.png)

[2020-03-31 18:11] #138 closed

[2020-03-31 19:00] noamoss commented on #11
@maryLoi תוכלי לבדוק שוב? (סביבת הבדיקות)

[2020-03-31 19:08] noamoss commented on #105
just to clarify, this issue is about the small icon, in the notification area.
if needed, see more info here https://documentation.onesignal.com/docs/customize-notification-icons

[2020-03-31 19:13] mushon commented on #68
We may allow Editing past entry with a `עריכה` Button next to the names. That can also allow to delete the data.

[2020-04-01 06:54] noamoss commented on #12
@akariv Ori sahred these two lists, which I assume you already know:

https://data.gov.il/dataset/citiesandsettelments
https://data.gov.il/dataset/israel-streets-synom

[2020-04-01 06:55] noamoss opened #139 "add final logo"

[2020-04-01 06:55] noamoss commented on #139
https://hasadna.slack.com/archives/G010EBYJ3RU/p1585723006001300

[2020-04-01 06:58] noamoss commented on #68
@mushon not sure I understand the flow - how editing a user age/city/street would become 'delete record'? can you visualize it?

[2020-04-01 07:23] mushon commented on #139
Added: https://zpl.io/2El1qMy

[2020-04-01 07:30] mushon commented on #68
@noamoss
![image](https://user-images.githubusercontent.com/27123/78110389-8b5be200-7403-11ea-9bea-ad881fbee631.png)
 אחרי לחיצה נענה:
מה ברצונך לערוך במידע שלנו על בן 3 מעולי הגרדום, נהריה?
- גיל
- מין
- רחוב
- עיר
- מחלות קודמות
- עישון
- למחוק

[2020-04-01 08:53] noamoss commented on #133
@roygolan can you send your http://whatismybrowser.com unique url?

[2020-04-01 08:56] noamoss commented on #132
@roygolan this issue was supposed to be fixed already. Can you verify with your device?
If it is still relevant, please add your https://whatismybrowser.com unique URL and assign this issue to me.

If not, you can just close the issue.

[2020-04-01 08:57] noamoss commented on #130
@roygolan I think #115 will solve this, right? please approve.

[2020-04-01 09:00] noamoss commented on #129
@roygolan

this was already taken care on #115 and with the daily calendar reminder (~300 returning reporters via this channel on the first 2 days).

for chome 80+ we also enabled a push reminder as suggested here. Feel free to open issues (or even better- submit a pull request) with new options - issue per option - so we can discuss and check it separately.

For now, closing this issue.

[2020-04-01 09:00] #129 closed

[2020-04-01 09:00] noamoss commented on #94
@dotansimha done. closing issue.

[2020-04-01 09:00] #94 closed

[2020-04-01 09:03] noamoss commented on #93
@dotansimha can you check again (either on the live site or in [our staging environment](https://avid-covider.phonaris.com/)) to verify if your report is still relevant, following the recent releases?

[2020-04-01 09:04] noamoss commented on #92
One of the main challanges here is the languages/translated versions.

duplicates #12, will continue there.

[2020-04-01 09:04] #92 closed

[2020-04-01 09:05] noamoss commented on #91
@mushon  מה דעתך?

[2020-04-01 09:06] noamoss commented on #90
@mushon האמנם?

[2020-04-01 09:12] noamoss commented on #89
done.

[2020-04-01 09:12] #89 closed

[2020-04-01 09:14] noamoss commented on #84
@mushon what do you think about this offer?
I am afraid the total number of questions changes within the chat, and it can be annoying - but what about marking the stages/phases of the expected talk?

[2020-04-01 09:16] noamoss commented on #78
@maryLoi I think this issue is irrelevant, please reopen if I miss something

[2020-04-01 09:16] #78 closed

[2020-04-01 09:16] noamoss commented on #77
@maryLoi please approve it was fixed.

[2020-04-01 09:18] noamoss commented on #74
@maryLoi please approve it was fixed (just close the issue)

[2020-04-01 09:18] noamoss commented on #71
already fixed

[2020-04-01 09:18] #71 closed

[2020-04-01 09:22] mushon commented on #91
היו לנו כמה הצעות בנושא. לדעתי חשוב להם להגדיר את זה בגיל. אם יש לי מתבגר בן 17 בבית אני פחות קורא לו ״ילד״

[2020-04-01 09:23] #4 closed

[2020-04-01 09:27] noamoss commented on #91
הגיל נראה לי לא רלוונטי למה שאנחנו מנסים להגיד פה: אנחנו בסך הכל רוצים
לעודד דיווח לכאלה שלא ידווחו בעצמם.
מה עם להחליף ניסוח לנוסח שפשוט יסביר את זה?

On Wed, Apr 1, 2020 at 12:22 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-01 09:46] akariv commented on #68
למה לא פשוט לייצר דיווח חדש ולמחוק פרופילים לא פעילים אחרי שבוע (נניח)?

On Wed, Apr 1, 2020 at 10:30 AM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-01 09:50] akariv commented on #63
בראשון אין לינק לשאלון שלנו.
בשני יש את הלינק הלא נכון.

אפשר לפנות אליהם ע״מ שיתקנו, בינתיים נשאיר פתוח.

[2020-04-01 11:27] roygolan commented on #133
whatismybrowser.com/w/2CWCL5D

[2020-04-01 11:29] roygolan commented on #130
yhep, if the link is appearing only in the upper part of the screen, no problem

[2020-04-01 11:29] #130 closed

[2020-04-01 11:32] roygolan commented on #129
@noamoss a form appearing on the screen as a [popup ](https://stackoverflow.com/questions/4452565/start-app-at-a-specific-time)will most likely attract a lot more returning reporters, won't it? calendar reminders are nice, but easy to ignore, especially after the 10th day..

[2020-04-01 11:34] #132 closed

[2020-04-01 11:41] akariv commented on #12
I decided to go with osm data, which s pretty thorough and also localized to many languages

[2020-04-01 12:10] mushon commented on #12
can we use it for streets as well?

[2020-04-01 12:14] mushon commented on #68
מסכים. זה כרגע לא פריוריטי לדעתי

[2020-04-01 12:17] mushon commented on #82
The assets I sent were transparent:
https://www.dropbox.com/sh/bph72tyrx1150wr/AADkE1javBdytMsxjazNvfRJa?dl=0

[2020-04-01 12:49] citizen-dror commented on #12
a file with heb, arabic ,english and arabic based on OSM and some more data (in big citis i added some names for arabic) :
[ישובים - OSM.xlsx](https://github.com/hasadna/avid-covider/files/4415194/-.OSM.xlsx)

[2020-04-01 12:56] citizen-dror commented on #12
there is data on streets in OSM, but you need some server to filter streets by city or to go to remote (paid) service like this:
https://community.algolia.com/places/examples.html#simple-input

[2020-04-01 12:59] mushon commented on #12
@citizen-dror is there no open source solution for something like this we can install and use?

[2020-04-01 13:25] citizen-dror commented on #12
i beleive we can try to install some server but we need help from some backend person.

there is this option (complex)
https://github.com/osm-search/Nominatim

PHP based
https://github.com/geocoder-php/Geocoder

and this  Node.js (maybe the most simple one?)
https://github.com/pelias/pelias

[2020-04-01 13:28] citizen-dror commented on #12
i will also ask
https://www.facebook.com/kaplanopensource/

[2020-04-01 13:35] akariv commented on #12
We have an updated nominatim server we can use, and I've pulled a thorough
list of cities etc from it in lots of locales.
My goal is to avoid using any API for reasons of performance and cost.
When it comes to cities it should be possible to filter and validate all on
the client side. Streets less so, but as I understand not really needed.

On Wed, Apr 1, 2020, 16:29 citizen-dror <notifications@gi

[2020-04-01 14:06] citizen-dror commented on #12
"When it comes to cities it should be possible to filter and validate all on
the client side" - indeed so - its a json file of about 1000 names. no need to go to server side ,

[2020-04-01 14:16] mushon commented on #12
As an MVP, let's definitely start with cities.

Not really needed? how come?
Also…
If we have a flat file of streets per city on our own server, can we first do the cities and then use that as a key to query its streets that file as a straight forward implementation of the same functionality of the cities?

[2020-04-01 14:21] kaplanlior commented on #12
Use CBS (lamas) list of cities/settlements in Israel and do a flat list for the form. Would be easiest and most effective than geolocation.

[2020-04-01 14:42] noamoss commented on #63
@akariv  באחד יש קישור לכתובת שעושה redirect
לכתובת שלנו ובאחר קישור לטופס הישן, שמציג קישור לאתר שלנו.

@maryLoi אם יש לך אפשרות לפנות אליהם, מעוולה, אבל אם לא המצב הנוכחי סביר בעיני.

[2020-04-01 15:01] akariv commented on #12
We want the list to be available in each of our locales.
OSM data is pretty close to that.
gov-il data is not nearly there (hebrew and english only).
Other data sources are similar.

I'm pretty sure that unlike cities, OSM street data is neither
comprehensive nor fully localized.
Also @noamoss said it's not a requirement.

On Wed, Apr 1, 2020 at 5:22 PM Lior Kaplan <notifications@github.com> wrote

[2020-04-01 15:03] akariv commented on #63
The title of this issue is "Update Weizmann publications with link to the
new bot"

That hasn't happened yet.
Redirects and internal links is not something we can expect the normal user
to start research.

@maryLoi or @dorit102 should take this on.

On Wed, Apr 1, 2020 at 5:43 PM noamoss <notifications@github.com> wrote:

[2020-04-01 15:04] noamoss commented on #129
@roygolan you don't have the device permissions just to push a form in the middle of usage, but you can (and that what was implemented) enable the user to show push notification with a direct link to the form. Again, if you know a practical better/additional method, feel free to implement through a PR.

[2020-04-01 15:12] noamoss commented on #68
@akariv @mushon  הנושא עלה בשתי סיבות:
1. דאגה של משתמשים בנושא הפרטיות. היכולת לא רק לראות מה שמור על המכשיר, אלא גם למחוק אותו, מהווה
1. משתמשים שבשימוש הראשון הזינו פרט שגוי לא ידעו (ואין סיבה שיחשבו על זה) שאם יחכו שבוע המדווח/ת עם הפרט השגוי יעלם. מהבחינה הזו ההצעה של מושון נותנת שירות מעולה, אבל אפשר היה מבחינתי להסתפק במחיקת הדמות המדווח/ת ויצירה של דמות חדשה.

אני חושב שבלי קשר, הרעיון של

[2020-04-01 15:19] noamoss commented on #12
@mushon

It is just a lower priority than cities. Street names, as mentioned by Adam, bring up slight different challenges and we will need to face it later in the process - right now, broken/invalid city name causes more damage than having a missing street name (which should be a default in some cases)

[2020-04-01 15:21] mushon commented on #12
As I mentioned, I agree we should start with cities.
I'm just suggesting (and this could be a volunteer task) that supporting optional streetname autocompletes will add a lot to the experience.

[2020-04-01 15:22] akariv commented on #133
What's the issue here @Noamoss <noamoss@gmail.com> ?

On Wed, Apr 1, 2020 at 6:02 PM noamoss <notifications@github.com> wrote:

[2020-04-01 15:22] #36 closed

[2020-04-01 15:24] akariv commented on #68
ההצעה של מושון בערך יום.
ההצעה שלי בערך חצי שעה.

On Wed, Apr 1, 2020 at 6:12 PM noamoss <notifications@github.com> wrote:

[2020-04-01 15:32] mushon commented on #68
שלי יותר גדול. ניצחתי!

[2020-04-01 15:33] noamoss opened #140 "explore street names autocomplete"
followup of #12

notes:
- cities with no streets
- street names in different languages
- same street different names (by language, spoken language vs. official name0

[2020-04-01 15:37] noamoss commented on #133
@akariv sorry, I missed the fact it might be irrelevant due to the recent updates.

@roygolan please recheck, with the same desktop, and send another screenshot. I assume you will see the chat starts running automatically, and therefore the report isn't relevant anymore.

Please close the issue if that's the situation. Thanx.

[2020-04-01 15:40] noamoss commented on #68
@akariv ההערה של יום להצעה של מושון כוללת גם תסריט של מחיקה בלבד, ללא עריכה?

פותח נושא נפרד לפי ההצעה שלך, זה נכון בלי קשר לדיון כאן.

[2020-04-01 15:41] noamoss opened #141 "clear local data storage for inactive reporters on a device"
blocked by #69

if a reporter did not submit a report fo 9 days clear the data from the local storage

(based on https://github.com/hasadna/avid-covider/issues/68#issuecomment-607149345)

[2020-04-01 15:47] noamoss opened #142 "rethink last screen"
main functions:

1. self-reminder:
- Add notification
- Android App
- [potential] Ios App
- Telegram Bot (the flow should include a warnig message on our side: "השרות מופעל על ידי צד שלישי וללא כל אחריות פרוייקט המחקר. מומלץ לבדוק ולהכיר את מדיניות שמירת המידע והפרטיות שלו לפני השימוש".
- Calendar

2. Send report for other people

3. Share the form / tell the world:
- Link
- Email
- Facebook
- Twi

[2020-04-01 15:47] noamoss commented on #142
// cc @akariv

[2020-04-01 15:49] akariv commented on #12
the flow should take into account where the streets have no names.
having an autocomplete in that case would degrade the experience imo as it
would suggest that the value is required (or the autocomplete list would
contain some sort of irrelevant garbage)
e.g. jaffa where many streets are simply numbers which are not in use by
the locals.

On Wed, Apr 1, 2020 at 6:22 PM Mushon Zer-Aviv <notificati

[2020-04-01 15:52] noamoss commented on #12
@akariv I suggest to leave it for #140

[2020-04-01 15:57] akariv commented on #142
1. Add notification (the least intrusive)

Also we said we'd split the last page into two screens -
one for the methodical break between individual reports where we can find two actions - 'another' and 'done'
the 'done' screen would serve these purposes:
- insights and reward
- reminder
- share
- subscribe

[2020-04-01 15:59] akariv commented on #68
For that purpose we can add a button in the bottom of the intro page (near
the privacy stuff) "clear my data on this device" and not make it part of
the chat.

On Wed, Apr 1, 2020 at 6:40 PM noamoss <notifications@github.com> wrote:

[2020-04-01 16:04] noamoss commented on #142
added to the description.

agree with the rest.

[2020-04-01 16:07] noamoss commented on #68
@akariv great offer!

updating the issue title.

[2020-04-01 16:10] noamoss commented on #68
@mushon updated the description, can you take a look?

[2020-04-01 18:16] noamoss opened #143 "cities autocomplete design"
note to provide both RTL and LTR examples

#12 followup

[2020-04-01 18:52] maryLoi commented on #74
עכשיו מופיעה רק התשובה "זהו
פשוט בחרתי את כל הסימפטומים שיש ברצף
![Screenshot_20200401-214924](https://user-images.githubusercontent.com/8996235/78175060-f2f54a00-7462-11ea-87a5-f1ea0c4b0e89.jpg)

[2020-04-01 19:05] maryLoi commented on #63
כתבתי לדורית

זה סוג של בלוגפוסטים, שפורסמו כבר לפני שבוע וחצי, אז לא ברור כמה זה משמעותי

[2020-04-01 19:07] maryLoi commented on #63
הרקע שקוף, אבל הפינות של האימג'ים הקטנים לבנות

![image](https://user-images.githubusercontent.com/8996235/78176421-1f11ca80-7465-11ea-81ec-0b1fb666a419.png)

[2020-04-01 19:12] maryLoi commented on #11
לי יש עדין ורטיגו... אבל שהסמכות העיצובית תכריע

[2020-04-01 19:16] maryLoi commented on #77
ראו תגובה שלי בסוף השרשור פה
https://github.com/hasadna/avid-covider/issues/74

[2020-04-01 19:21] maryLoi commented on #91
"יש בבית בני משפחה שצריכים סיוע במילוי השאלון?"

כרגע, גם לא מבינים מה לגבי הילדים והמבוגרים - האם שואלים אותי אם אני ילד או מבוגר? וגם, הרי הכוונה שלנו לקשישים - מבוגרים זה כל מי שהוא לא ילד, לא בהכרח אנשים שלא מסוגלים למלא שאלון

[2020-04-01 19:35] akariv commented on #63
@maryLoi is this comment on the correct issue?

On Wed, Apr 1, 2020 at 10:07 PM Mary <notifications@github.com> wrote:

[2020-04-01 20:47] akariv commented on #51
@noamoss how's that wiki coming along?

[2020-04-01 20:55] noamoss commented on #51
To slow... 🥺 Hope to find the time soon

[2020-04-01 22:39] noamoss commented on #83
@maryLoi כדי לא לבנות תסריט אימתני - נציג "אך אחד מאלה" לכל מה שנוגע לשאלה הראשית ו"זהו" לתתי תופעות.

[2020-04-01 22:47] noamoss commented on #83
@maryLoi to keep the script simple and manageable and to be straight forward I will push a fix to the script turning all "זהו" into "אף אחד מאלה", in both top-level symptoms and low-level symptoms

// cc @mushon please ping if you think this is a mistake, we have been dealing with the ambiguity for the last week, and I believe it is time to cut it and just go simple here, with a direct and literal

[2020-04-02 04:17] mushon commented on #83
agreed

[2020-04-02 04:26] mushon commented on #11
הסמכות העיצובית מסכימה והיתה שמחה שההודעות יעלמו באנימציה שהפוגה לזו שבה הן הופיעו. אבל זו משימה לסמכות הטכנולוגית.

[2020-04-02 04:27] mushon commented on #91
אני חושב להעביר את השאלה בכל מקרה לסוף הצ׳אט… יש מצב שאשתמש בניסוח הזה...

[2020-04-02 05:33] akariv commented on #83
Also there's the new design that disables selected answers instead of
removing them.
I could implement that and it would make things clearer I think

On Thu, Apr 2, 2020, 07:17 Mushon Zer-Aviv <notifications@github.com> wrote:

[2020-04-02 05:34] akariv commented on #11
כן, זה לא יקרה

On Thu, Apr 2, 2020, 07:26 Mushon Zer-Aviv <notifications@github.com> wrote:

[2020-04-02 06:29] akariv opened #145 "Implement new design for 'unless'"

[2020-04-02 08:50] noamoss commented on #77
אין טעם בכפילות של שני הדיווחים, סוגר את הדיון הנוכחי.

[2020-04-02 08:50] #77 closed

[2020-04-02 09:07] noamoss commented on #74
@akariv this bug happens because of כאבי גרון shows up both as a general symptom and also as part of the כאבים category, for a good reason.

I thought to add a `switch`, based on `symptoms_sore_throat` existence before asking the last question:

![image](https://user-images.githubusercontent.com/3581741/78230669-5078ad80-74da-11ea-92d3-7e91d1818212.png)

It is a bit overcomplicated in the script l

[2020-04-02 09:42] noamoss commented on #11
@akariv תוכל רק להסביר מה ולמה לא יקרה? בהינתן ששני משתמשים פה

[2020-04-02 09:42] #11 closed

[2020-04-02 09:44] mushon commented on #83
Definitely!

[2020-04-02 09:45] noamoss commented on #83
@akariv @mushon

I think there is no need as #14 is waiting for implementation (unless we talking of the same thing)

[2020-04-02 10:49] akariv commented on #83
I'm not sold on #14.

To me it looks like it would downgrade the experience for the majority of
users (turning a normal conversation into a form) while providing no actual
gain.
For a minority of users it would be an arguably minor improvement.

On Thu, Apr 2, 2020 at 12:45 PM noamoss <notifications@github.com> wrote:

[2020-04-02 10:57] noamoss commented on #83
@akariv

users (turning a normal conversation into a form)

two users, who were not aware of the proposal on #14 mentioned the only advantage they could feel while using the alternative form was the multi-selection questions. The ever increasing and changing the number of options in multi-selection in the questions.

shortening daily report time is an actual gain.

[2020-04-02 11:00] akariv commented on #83
Most users are healthy, so for them it will always be one press of a
button, so no shortening will happen.

On Thu, Apr 2, 2020 at 1:57 PM noamoss <notifications@github.com> wrote:

[2020-04-02 11:02] noamoss opened #146 "transparent project icon graphic files"
הרקע שקוף, אבל הפינות של האימג'ים הקטנים לבנות

![image](https://user-images.githubusercontent.com/8996235/78176421-1f11ca80-7465-11ea-81ec-0b1fb666a419.png)

[2020-04-02 11:05] noamoss commented on #83
@akariv

1. we need the nonhealthy reporters as returning users as well - maybe even more.
2. this solution won't hurt the healthy reporters' experience, for them there might be no gain, but also no price. BTW, one of the two users that sent this feedback was a healthy reporter.

[2020-04-02 11:05] noamoss commented on #63
@akariv Mary's comment was not published on the right issue - moved to the correct one and opened a separate task.

[2020-04-02 11:48] akariv commented on #83
1
"feel_good" | 132183
 "feel_bad"  |   8300

the most important thing we need is to keep the healthy ones so that they
report when they're feeling bad.

2
introducing a new ui and deviating from the question-answer conversational
tone is the main price we would pay.

On Thu, Apr 2, 2020 at 2:05 PM noamoss <notifications@github.com> wrote:

[2020-04-02 12:05] mushon commented on #143
@akariv @noamoss please review:
https://zpl.io/bJABQ7n
![image](https://user-images.githubusercontent.com/27123/78247128-00f2ab80-74f3-11ea-9425-15ea757c3a98.png)

[2020-04-02 12:06] mushon commented on #143
I suggest to order the list by population

[2020-04-02 12:08] mushon commented on #143
+ The size of the autocomplete will depend on the amount of results. From 5+ it would get a scroll.
![image](https://user-images.githubusercontent.com/27123/78247577-c0dff880-74f3-11ea-90b8-940aeca82970.png)

[2020-04-02 12:51] noamoss commented on #143
@mushon

looks good.

Can you please provide also an LTR example (English)

why? should Rishon Letziion appear before Beer-Sheva? Who can tell the reason for the order this way? I think Alphabetical is much more intuitive.

You are the expert, but I would consider lowering the number to 4, to space it up a bit- currently, it looks like almost 50% of the screen height is taken by the autocomplete.

[2020-04-02 12:55] noamoss commented on #83
@akariv

don't see the contradiction - they should keep reporting when they feel bad as well.

well, but the current situation seems to be inconvenient for some of the users (me included) when there are more than 4 options. We can maybe fix or simplify #14, but it is not a reason to give up that direction IMO.

[2020-04-02 12:56] noamoss opened #147 "homepage: offer users to install app (android + ios)"
1. design.
2. implement

[2020-04-02 12:57] noamoss commented on #147
@mushon we wait to enable users to download the apps. Should it happen only on the last screen ( #142) or also in the entrance point to the questionnaire?

[2020-04-02 13:05] noamoss commented on #143
(@akariv I think it's time for your comments as well)

[2020-04-02 13:11] akariv commented on #83
bad as well.

except IMO you're creating a worse flow for them when they're feeling good

users (me included) when there are more than 4 options. We can maybe fix or
simplify #14 <https://github.com/hasadna/avid-covider/issues/14>, but it is
not a reason to give up that direction IMO.

Which percent of reporters actually reported more than 4 symptoms?

On Thu, Apr 2, 2020 at 3:56 PM noamoss <notif

[2020-04-02 13:16] mushon commented on #143
If we autocomplete the beginning of the word only, it makes more sense for large cities (Ramat Gan) to appear before smaller locales (Ramat Yishai). In general alphabetical order is rarely usable on the web.

Don't worry about filling the screen, we're in the middle of an action and the focus should be on completing it fast

[2020-04-02 13:17] mushon commented on #142
Ok, so I suggest that the "send report for other people" would indeed be added to the end of the chat and so should the insights. Here's an initial suggestion for the flow…
![image](https://user-images.githubusercontent.com/27123/78253663-69468a80-74fd-11ea-912a-5bcdf2dd5fd8.png)
![image](https://user-images.githubusercontent.com/27123/78253673-6c417b00-74fd-11ea-96d5-f91c5d63b730.png)
![image](ht

[2020-04-02 13:20] noamoss commented on #83
@akariv

got you. so let's find a workaround in the flow level, without giving up the (better) design.

have no idea - but I know they have significant importance to the research.

[2020-04-02 13:22] noamoss commented on #143
agree, convinced.

@akariv any comments/suggestions?

[2020-04-02 13:26] noamoss commented on #142
@mushon beautiful start!

1. What should happen next? Any call for action based on the map/insight you just showed me or just continue to the end screen?
1. note: we should tell the time/date the shown info is relevant for
1. I think we should emphasize this map is based on the user's report (i.e. מה גילינו בזכות הדיווחים שקיבלנו)
1. (Notice: Eran is a Prof. and not a Dr.)

[2020-04-02 13:37] akariv commented on #142
It is indeed beautiful!
I think that this might get old really quickly..
As as I said in our calls, I think we should aim to make this a day-to-day tool.
For that we need to make the actionable information compact, in a standard location and not part of the conversation (i.e. like in a dashboard).

For this to become part of the routine.
Image this: morning, kids are getting ready for school and o

[2020-04-02 14:24] akariv commented on #143
The design should take into account that the keyboard will be open at this
point.

On Thu, Apr 2, 2020, 16:22 noamoss <notifications@github.com> wrote:

[2020-04-02 14:27] akariv commented on #143
disregard my last comment.

I think this looks good as is. I would keep it alphabetically for the most part out of a few popular location appearing first

[2020-04-02 14:34] mushon commented on #142
I agree with everything Adam said, except his conclusion.
I want this to work like a wether forecaster rather than a weather app.
I hate the fact that every day I need to decode temperatures rather than understand if it’s going to be warmer or colder than yesterday.
In the same sense, I would like the insights to be standardized like you mentioned and say:

- share this 

[2020-04-02 15:45] akariv commented on #146
This should be assigned to @mushon

On Thu, Apr 2, 2020 at 2:02 PM noamoss <notifications@github.com> wrote:

[2020-04-02 15:49] mushon commented on #146
no they're not. Anyway, I exported and checked again. The corners are transparent.

[2020-04-02 15:50] noamoss commented on #147
following our daily meeting:

1. updated the issue title
2.  will try to contact the app developers for:
a.  ask their help to embed the invitation string for languages.
b. set the daily reminder pop up to the evening

[2020-04-02 15:51] noamoss commented on #147
@akariv what exactly do we need from the app developers?

[2020-04-02 15:55] noamoss opened #148 "reports dashboard"

[2020-04-02 15:57] mushon commented on #68
I agree + I suggest to implement this flow with a standard browser alert

[2020-04-02 15:57] noamoss commented on #83
...but wait

after looking again at the #14 I don't really understand how does it damage the flow for healthy people... they can keep moving forward via 1 click. please explain.

[2020-04-02 15:58] mushon commented on #84
I wanted to do that at some point, but it's a lower priority ATM

[2020-04-02 16:01] mushon commented on #90
בגדול מרי צודקת. בספציפי האימפלמנטציה שאנחנו רוצים לקדם היא זו:
![image](https://user-images.githubusercontent.com/27123/78270921-2b089580-7514-11ea-9012-b26dbf9613c6.png)

אם יש אפשרות לפתוח את התפריט של השיתוף המובנה במכשיר, נראה את האופציה הימנית. אם לא, נראה את האופציה השמאלית - עם הלינק.

[2020-04-02 16:03] noamoss commented on #146
@mushon @akariv checked on my desktop, and Mary's report seems to be correct - I see the white stripes as well, not sure what is the reason:

![image](https://user-images.githubusercontent.com/3581741/78271258-9c484880-7514-11ea-8bd3-f1fb31078877.png)

[2020-04-02 16:25] akariv commented on #147
- Provide them with the notification text in all locales so they can embed
it in the app.
- Ensure that they're using the correct url when opening the website inside
the app.
- Align the icons with the official one that @mushon designed.
- @mushon can also provide assets for the appstore / google play.
- Would be good to test that feature work in the app as well (e.g. local
storage, calendar links

[2020-04-02 16:28] noamoss commented on #147
and can you tell the name of the person in charge? you mentioned Dan - but I am not sure which Dan  it is...

[2020-04-02 16:28] akariv commented on #90
העיצוב הזה מאוד רגיש לגודל המסך - במסכים קטנים הטקסט של הכפתור יפול מחוץ
לפולד, לא?

On Thu, Apr 2, 2020 at 7:01 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-02 16:32] akariv commented on #90
אני חושב שאין פה מספיק מקום -

On Thu, Apr 2, 2020 at 7:28 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-02 16:33] akariv commented on #146
where can I find the original asset?

On Thu, Apr 2, 2020 at 7:04 PM noamoss <notifications@github.com> wrote:

[2020-04-02 16:35] akariv commented on #147
It wasn't me who mentioned it

On Thu, Apr 2, 2020 at 7:28 PM noamoss <notifications@github.com> wrote:

[2020-04-02 16:38] akariv commented on #147
Another item -
- Harmonize App title and optionally localize it

On Thu, Apr 2, 2020 at 7:35 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-02 17:23] noamoss commented on #90
מספיק מקום למה?

[2020-04-02 17:26] akariv commented on #90
לכפתורים הגדולים בעיצוב החדש

On Thu, Apr 2, 2020 at 8:23 PM noamoss <notifications@github.com> wrote:

[2020-04-02 17:28] mushon commented on #90
תזכור שאנחנו מורידים את הכפתור לדיווח נוסף כי אנחנו מטפלים בו בתוך הצ׳אט

[2020-04-02 17:54] akariv commented on #90
בקיצור מה שאתה מנסה לומר זה שבשביל לעשות את השינוי של האייקון צריך קודם
לכתוב מחדש את התסריט? :)

On Thu, Apr 2, 2020 at 8:28 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-02 18:22] noamoss commented on #115
so are we giving up on this issue due to #147 ?

[2020-04-02 18:23] noamoss commented on #82
duplicates #146 . closing this.

[2020-04-02 18:23] #82 closed

[2020-04-02 18:24] noamoss commented on #146
@mushon ^^^

[2020-04-02 18:36] noamoss commented on #83
For the meanwhile, going back to my [original proposal](https://github.com/hasadna/avid-covider/issues/83#issuecomment-607526983) I see now that showing a "אף אחד מאלה" label is not relevant when saying with one (last) option, in the recursive flow. @mushon any suggestion for a general alternative that can fit a singular and a plural situation, other than זהו?

(@akariv I suggest to continue our d

[2020-04-02 18:37] noamoss commented on #14
@akariv let's continue here the discussion from #83. My last comment there was:

...but wait

after looking again at the #14 I don't really understand how does it damage the flow for healthy people... they can keep moving forward via 1 click. please explain.

[2020-04-02 20:05] mushon commented on #146
https://www.dropbox.com/sh/bph72tyrx1150wr/AADkE1javBdytMsxjazNvfRJa?dl=0

[2020-04-02 21:07] shschwar commented on #148
@akariv @noamoss  - can you share more details about the issue?
which data to present? where the data should be retrieved from?

[2020-04-02 21:29] shschwar opened #149 "Autocomplete for cities and streets"
It would be nice if cities and streets will be autocomplete instead of text only.
Wouldn't it help to prevent mistakes?
for example
פתח תקווה
פתח תקוה

[2020-04-02 21:33] shschwar opened #150 "Create requirments.txt file for yaml_to_json.py"
Would help to new developers on team running this script when ever required

[2020-04-02 22:00] shschwar commented on #25
@akariv  it seems that should fix need to be done in https://github.com/akariv/hatool/tree/master/projects/hatool/src/lib. Am I right? can you redirect me to where the date component generated?
Thanks

[2020-04-03 08:24] noamoss commented on #148
hi @shschwar this issue was a quick/urgent task Adam needed to deal with yesterday and already implemented.

It was about the maintenance dashboard, enabling us to track the total number of reports through the system.

closing issue.

( //cc @akariv please notice to drag the issues by their status)

[2020-04-03 08:24] #148 closed

[2020-04-03 09:48] noamoss opened #151 "android focus (firefox) keyboard covers field"
http://whatismybrowser.com/w/CMMDLLS

![image](https://user-images.githubusercontent.com/3581741/78347608-6b662300-75a9-11ea-8f6e-4240bdae91b4.png)

![image](https://user-images.githubusercontent.com/3581741/78347620-702ad700-75a9-11ea-873f-9363907c3ce4.png)

[2020-04-03 10:27] akariv commented on #151
How did you open the website?
This doesn't look like firefox for android (nor firefox preview).

On Fri, Apr 3, 2020 at 12:49 PM noamoss <notifications@github.com> wrote:

[2020-04-03 11:20] #83 closed

[2020-04-03 12:00] akariv commented on #79
@dorit102 any update?

[2020-04-03 12:01] akariv commented on #63
@dorit102

[2020-04-03 12:08] #12 closed

[2020-04-03 12:08] #145 closed

[2020-04-03 12:08] #139 closed

[2020-04-03 12:23] noamoss opened #153 "cities autocomplete - enable keybaord for desktop users"

[2020-04-03 12:25] noamoss commented on #153
@mushon anything else besides what mentioned in the description?

[2020-04-03 12:33] noamoss opened #154 "expand cities autocomplete search"
currently, we are sowing proposals while typing in letters, based on the order letter of the city/town's official name.

Therefore, nothing will be shown when user types in
יפו --> (תל אביב-יפו)
תרשיחא  -->  (מעלות-תרשיחא)
רעות --> (מכבים-רעות)

this issue is to explore the option to offer these names of the previously separate towns.

[2020-04-03 13:06] noamoss commented on #151
https://play.google.com/store/apps/details?id=org.mozilla.focus&hl=en

[2020-04-03 13:08] noamoss commented on #74
@akariv not sure why did you close the issue, please answer my question.

[2020-04-03 13:09] noamoss commented on #74
(need to know if this is something to check)

[2020-04-03 13:13] noamoss commented on #146
@maryLoi can you verify (live or test site) and approve it looks good now on your side?

[2020-04-03 13:15] noamoss commented on #29
@mushon ?

[2020-04-03 13:24] akariv commented on #74
New design solves the problem I believe

On Fri, Apr 3, 2020, 16:09 noamoss <notifications@github.com> wrote:

[2020-04-03 13:31] #74 closed

[2020-04-03 13:35] akariv commented on #151
It's probably a bug in the browser implementation.
Given its small user base I would open  an issue on their bug tracker and
live with it.

Install base on Android:
- Chrome 5B
- Firefox 100M
- Focus 5M

On Fri, Apr 3, 2020, 16:06 noamoss <notifications@github.com> wrote:

[2020-04-03 16:32] noamoss opened #155 "ungenderize "טופס משתתף""
![image](https://user-images.githubusercontent.com/3581741/78383879-d895aa80-75e1-11ea-8c41-9bc5a21abb4c.png)

[2020-04-03 16:36] noamoss opened #156 "improve city autocomplete ux"

[2020-04-03 16:37] noamoss commented on #156
@maryLoi please add screenshot per step + whatismybrowser.com link.

Once done, assign to Adam.

[2020-04-03 18:11] #29 closed

[2020-04-03 19:51] #155 closed

[2020-04-03 20:55] noamoss opened #158 "add new dynamic question: served over 10 people a day during last two weeks"
## תוספת שאלה דינמית לגבי מתן שירות באופן פיזי ללמעלה מ-10 אנשים ביום

- if there is a valid value (date) in the reporter `last_serve_date_check`:
    - if current date <= `_last_sreve_date_check`+14 and                 `served_over_10_people_during_the_last_14_days` == true:                     _(we know of a reported service to a group during the last 14 days)_
            ==> submit to the rese

[2020-04-03 20:56] noamoss commented on #158
@mushon @akariv makes sense?

[2020-04-03 20:57] noamoss opened #159 "simplify 'how many people did you meet today' questions"
<div dir="rtl">

## פישוט  שאלת כמות האנשים בדיווח היומי
### שאלות למשתמש/ת חדש/ה או למשתמש/ת שלא השיבו על השאלה בעבר
- כמה אנשים מתגוררים איתך באותו הבית או הדירה בימים אלו?
- כמה מבוגרים, מעל לגיל 18?   (`household_adults_`)
- כמה ילדים מתחת לגיל 18?  (`household_minors_`)

### עדכון בחלק של השאלה היומית

- האם פגשת היום אנשים שאינם מתגוררים איתך בבית ליותר מ-15 דקות?

- if yes:
     - כמה מהם מ

[2020-04-03 20:57] noamoss commented on #159
@mushon @akariv following our slack discussion, what do you think of this offer?

[2020-04-03 21:13] akariv commented on #158
all good except we need to repeat the question every week, not two weeks

[2020-04-03 21:18] akariv commented on #159
might be easier to ask about the total adults/minors in the household without the except you part
I would prefix the daily question with a yes/no questionn 'did you meet anyone outside of the house for more that 15 minutes?' and only if yes ask for the adults/minors
would also be good to ask about adults first and minors second in all relevant questions

[2020-04-03 21:30] mushon commented on #159
might be easier to ask about the total adults/minors in the household without the except you part

I agree

I would prefix the daily question with a yes/no questionn 'did you meet anyone outside of the house for more that 15 minutes?' and only if yes ask for the adults/minors

I agree again

would also be good to ask about adults first and minors second in all relevant questions

I agree again aga

[2020-04-03 21:36] mushon commented on #159
I also suggest we use the terms: 

- כמה מבוגרים מעל לגיל 18
- כמה ילדים מתחת לגיל 18

It’s more readable.

In general I would like us to go over the recurring Q&As and make the answers more explicit than ‘Yes' & ‘No’ (‘Yes, I have been hospitalized’ & ’Not hospitalized’) and mark the previous answer as highlighted (`class: “other”`) to make the daily response easier to punch through.

[2020-04-03 21:40] noamoss commented on #158
@akariv

correct. can you recheck the definition?

[2020-04-03 21:55] noamoss opened #160 "review yes/no answers, turn into explicit options"
https://github.com/hasadna/avid-covider/issues/159#issuecomment-608694773:

[2020-04-03 21:56] noamoss commented on #159
fixed following @akariv 's suggestions, please review.

@mushon

since 17 years old does not count a kid, I expanded to `ילדים או נוער, look ok?

a separate issue, #160.

@akariv @mushon please approve so we can share this with Ori and get his approval - as you noticed, we don't mention the 2 meters in the given description, which might be a problem.

[2020-04-03 22:03] noamoss commented on #160
@mushon

please review https://github.com/hasadna/avid-covider/pull/161

@akariv is there a way to "mark the previous answer as highlighted (class: “other”) to make the daily response easier to punch through.", or that should go into a separate issue ?

[2020-04-03 22:47] mushon commented on #159
@mushon

I also suggest we use the terms...- כמה ילדים מתחת לגיל 18

since 17 years old does not count a kid, I expanded to `ילדים או נוער, look ok?

Technically you’re right, but since we’re saying “מתחת לגיל 18” we don’t need to add “נוער”. They are still your “ילדים"

[2020-04-04 07:05] akariv commented on #160
We don't have any recurring questions any more, so not sure what's the need
here (and 'did something chabge from yesterday' does not fall into this
category as the previous answer is not relevant to the current one).

Furthermore, I believe Ori objected to the use of 'other' in general
because he said it was suggestive and might affect the answers.
He agreed to it only when we said that it was use

[2020-04-04 07:09] akariv commented on #159
I agree with mushon here

https://hly.gov.il/

On Sat, Apr 4, 2020, 01:47 Mushon Zer-Aviv <notifications@github.com> wrote:

[2020-04-04 07:17] mushon commented on #159
מעבר לזה שהורים רגילים להתייחס לילדיהם כילדים גם אחרי בגרותם. אתם יודעים... הם גדלים כל כך מהר... 🥰

[2020-04-04 07:21] mushon commented on #160
Let’s try to streamline what we can without creating bias. I think those who would report differently than yesterday would definitely know they’re about to enter a different report. But we want to make sure that when that happens, they are still reporting...

[2020-04-04 08:20] #151 closed

[2020-04-04 08:25] noamoss commented on #160
can't assume people will report daily,  reporters will skip days and will not remember their last answer in some cases.

did not understand what does it mean, please exemplify.

[2020-04-04 08:30] noamoss commented on #159
@akariv @mushon fixed, please approve it looks ok, so I will ask Ori to approve the change.

[2020-04-04 10:16] mushon commented on #160
*We want to make sure that when they’re conditions change for the worse they are still reporting.

And yes, we can’t assume that they will report daily that’s why we remind them what they reported previously.

[2020-04-04 10:48] akariv commented on #160
well, atm we're not re-asking any question daily in which the previous answer has any correlation with the current one.

[2020-04-04 12:23] noamoss commented on #160
sorry, this discussion is too abstract to me, which makes it hard to follow. Please provide concrete suggestions/examples.

[2020-04-04 12:34] noamoss commented on #147
@akariv until we get the new version, Ori asked to add a quick link from the landing page.

[2020-04-04 16:50] noamoss commented on #158
see my revised proposal, following the slack discussion with Ori:

https://docs.google.com/spreadsheets/d/14Hnu3oPDGsiTx1KRkBPFFbMIeY6q8PrLMes3TvSvAB4/edit?usp=sharing

[2020-04-05 07:41] YishTish opened #163 "The following fields have 'general_feeling': 'לא' (one is 'none') instead of feeling_good/bad"
Running query on the records of 4/4/2020 - the following ids could not be serialized, because the 'general_field' field has 'none' or ׳לא׳ instead of pre-defined string 'feeling_good/feeling_bad':
333825, 335454, 335827, 336508(english), 336874, 338843, 339113, 339527, 343042

Another interesting case:
338925 - 'sex': {'street': 'היסמין', 'city_town': 'כפר סבא'},

[2020-04-05 08:26] noamoss opened #164 "consider hidden reCaptach alternatives"
![image](https://user-images.githubusercontent.com/3581741/78539426-38b36900-77fb-11ea-9b8a-db95052caba1.png)

[draw.io link](https://drive.google.com/file/d/1V6jYpukxYDqc_ESqOleOh2kCvGFfs2Ah/view?usp=sharing)

Build a mechanism to differentiate relatively safe/approved records from suspicious submissions, to protect the database from bots and automated submissions.

### Generate Fact from Data
##

[2020-04-05 08:26] noamoss commented on #164
// cc @dorit102

[2020-04-05 08:44] #133 closed

[2020-04-05 08:51] noamoss commented on #159
@akariv @mushon Ori and Saar approved to try implementing this method. Hope to be able to submit a PR later today for review.

[2020-04-05 09:01] dotansimha commented on #93
Thanks @noamoss . In both staging and prod env, it's still closing the keyboard :(

[2020-04-05 09:04] akariv commented on #164
מתוך reddit:
[image: Screen Shot 2020-04-05 at 11.46.27.png]

תנאי השימוש של Recaptcha:

[image: Screen Shot 2020-04-05 at 11.59.29.png]
למיטב הבנתי הגם שהשירות הזה אוסף יותר מידע הוא דומה מבחינת קטגוריה
ל-CloudFlare (שגם מנהלים יומן, רישום של כתובת IP וכו׳) מכיוון שהם מגבילים
את השימוש במידע הנאסף רק לשיפור השירות ולמטרות אבטחה בלבד.

On Sun, Apr 5, 2020 at 11:26 AM noamoss <notifications@github.

[2020-04-05 09:07] akariv commented on #164
מתוך reddit:

<img width="906" alt="Screen Shot 2020-04-05 at 11 46 27" src="https://user-images.githubusercontent.com/265333/78470908-b2811f00-7735-11ea-8930-1476d755cc8f.png">

תנאי השימוש של Recaptcha:

<img width="583" alt="Screen Shot 2020-04-05 at 11 59 29" src="https://user-images.githubusercontent.com/265333/78470915-b8770000-7735-11ea-8978-0277d846f4a4.png">

למיטב הבנתי הגם שהשירות הזה א

[2020-04-05 09:11] noamoss commented on #142
@mushon I would like to return this issue to its original purpose, if your'e ok with it.

adding here (and in the description) Kilnger's addition regarding the telgeram reminder bot:

[2020-04-05 09:21] noamoss commented on #164
thanks, asked @dorit102 and Klinger to advise.

[2020-04-05 09:44] noamoss commented on #159
(@akariv ping here if you take over, to prevent double work)

[2020-04-05 10:19] akariv commented on #159
Please go ahead

On Sun, Apr 5, 2020 at 12:44 PM noamoss <notifications@github.com> wrote:

[2020-04-05 10:47] noamoss commented on #93
@dotansimha

can you send here the unique url from [https://whatismybrowser.com](https://whatismybrowser.com) on the relevant device?

[2020-04-05 11:08] #143 closed

[2020-04-05 11:12] maryLoi commented on #146
כן, נראה מהמם

[2020-04-05 11:12] #146 closed

[2020-04-05 11:20] dotansimha commented on #93
@noamoss sure, it's: https://www.whatismybrowser.com/w/HYRQLBE

[2020-04-05 11:32] maryLoi opened #165 "user feedback - couldn't reproduce"
הדיווח לא ממשיך , נעלם, אחרי שכתבתי שיעול יבש.

[2020-04-05 11:32] maryLoi commented on #165
Your new question about "medical receiving teams" (or something like that) has added some Hebrew Yes/No responses into the English form.

[2020-04-05 11:38] noamoss commented on #93
@akariv any way to leave the keyboard open when moving between two open questions?

[2020-04-05 12:10] noamoss commented on #164
@akariv while the email discussion continues, what do you think of the following alternatives (writing to you before verifying with Klinger):

https://switching.software/replace/google-recaptcha/

[2020-04-05 12:13] akariv commented on #93
not that I know of.
The input box disappears between the questions.

On Sun, Apr 5, 2020 at 2:39 PM noamoss <notifications@github.com> wrote:

[2020-04-05 12:23] akariv commented on #164
The purpose of the captcha is to prevent unauthorized access to our API -
so honeypots won't have any effect. Plus it is invisible and does not cause
any accessibility issues.
The link to the oss providers is broken.

On Sun, Apr 5, 2020 at 3:10 PM noamoss <notifications@github.com> wrote:

[2020-04-05 12:24] noamoss commented on #93
@akariv any (theoretical) way to check from a `wait` clause what is the type of the next `wait` and leave the input field open? If that's possible we will turn this report into an open task for other developers.

[2020-04-05 12:42] akariv commented on #93
Not really, as the next wait often depends on script logic.
We might be able to leave the input open until there's another wait that is
not textual, but that might happen after some time or not at all...

On Sun, Apr 5, 2020 at 3:24 PM noamoss <notifications@github.com> wrote:

[2020-04-05 12:49] dotansimha commented on #93
@akariv I guess if `e.preventDefault` on relevant events won't work, maybe it's possible to create a hidden `input` and keep the focus on it while waiting across questions?

[2020-04-05 12:57] akariv commented on #93
In which case the chat will continue running most of the time on half a
screen with the keyboard open.
Since there are about two cases where this is relevant (age-city-street and
people-around-you) and we didn't get any other complaints about this, I
think this is low priority and good candidate for an external contribution.

On Sun, Apr 5, 2020 at 3:49 PM Dotan Simha <notifications@github.com> wr

[2020-04-05 15:33] akariv commented on #93
Btw, inputs should be autofocused and don't need to be clicked in order to open.

[2020-04-05 20:38] noamoss opened #166 "intro scroll bar are missing on desktops"
this feedback made by one of our translators (which means, a user who is familiar with our site, and did know there are hiding texts and links on the right side of the page)

![image](https://user-images.githubusercontent.com/3581741/78509432-8b0e6e80-7796-11ea-82a0-3f56d2e6d2d4.png)

[2020-04-05 20:38] noamoss commented on #166
@mushon what do you think?

[2020-04-05 21:02] noamoss commented on #164
@akariv my quick initial draft. Can you review and add/edit/review?

[2020-04-05 21:24] noamoss opened #167 "repeating cities in autocomplete"
### תל אביב-יפו

![image](https://user-images.githubusercontent.com/3581741/78510290-d297f900-779c-11ea-802b-80f8780b738e.png)

![image](https://user-images.githubusercontent.com/3581741/78510294-d75cad00-779c-11ea-8151-2def95305835.png)

### Herzelia (English)
![image](https://user-images.githubusercontent.com/3581741/78510274-c0b65600-779c-11ea-8cd3-5daf6e2c3e96.png)

[2020-04-06 04:35] mushon commented on #166
obviously It’s a bug. There should be a scroll bar

[2020-04-06 05:21] akariv commented on #167
This was already fixed

On Mon, Apr 6, 2020, 00:24 noamoss <notifications@github.com> wrote:

[2020-04-06 05:32] akariv commented on #166
@noamoss we removed the scrollbars on purpose:

https://github.com/hasadna/avid-covider/issues/97#issuecomment-605706134

[2020-04-06 06:24] noamoss commented on #166
Origiannly had a link to indicate the ability to scroll, then we removed scrollbars (after having also uneeded horizental scrollbars) and now we got this feedback.

What would you suggest here?

[2020-04-06 06:30] akariv commented on #166
We need some visual indication that scroll is possible.
It could be either the scrollbar or (preferably) something like the 'start'
button that with its gradient passed that message more subtly.

Perhaps with the new intro design we can take care of it.

On Mon, Apr 6, 2020, 09:24 noamoss <notifications@github.com> wrote:

[2020-04-06 08:12] noamoss commented on #167
@maryLoi please check and approve

[2020-04-06 08:40] noamoss commented on #164
@akariv updated the description following our slack discussion, also deleted unrelated comments from the original discussion. Please add needed specificiations.

@mushon would love to hear your thoughts as well.

[2020-04-06 08:54] akariv commented on #147
Blocked until Android / iOS apps are in the store and passed QA.

[2020-04-06 08:55] akariv commented on #25
@noamoss is this still relevant?
If it is, can you please update the description?

[2020-04-06 09:20] akariv commented on #164
I think that it would be better to have the user select out of a few predefined answers instead of clicking on the image (which is error prone).

The server:
a. creates a unique question based on the data from a predefined set of templates
   - template defines: text template for question,text templates for possible answers, chart type
b. draws the chart into a bitmap image
c. generates a unique c

[2020-04-06 09:23] akariv commented on #164
One note is that either way it would be quite simple to overcome the captcha just by simply guessing and passing every X attempts (X is quite small in our case, and it should be big).

A possible solution would be to force the user to type the answer (e.g. if it's a city it should be enough to ensure a large X)

[2020-04-06 09:45] noamoss commented on #164
updated description

updated description.

[2020-04-06 10:02] noamoss commented on #25
@akariv still relevant, but I think I was able to simplify a bit. Please review the description.

[2020-04-06 10:06] noamoss commented on #105
@maryLoi please verify on `test` env

[2020-04-06 14:57] maryLoi commented on #167
תוקן

[2020-04-06 14:57] #167 closed

[2020-04-06 14:58] noamoss commented on #14
@akariv reopening, please update here when [the reported issues](https://hasadna.slack.com/archives/C011DD1G2CW/p1586120004002900) are ready for a recheck.

[2020-04-06 14:58] noamoss commented on #164
opened https://github.com/hasadna/OpenCaptcha as a separate repo, closing the current issue.

[2020-04-06 14:58] #164 closed

[2020-04-06 16:23] akariv commented on #14
Fixed @noamoss please check if it works for you

On Mon, Apr 6, 2020 at 5:58 PM noamoss <notifications@github.com> wrote:

[2020-04-06 16:58] noamoss opened #170 "temprature float input does not pass validation"

[2020-04-06 16:59] noamoss commented on #170
self-assigned until I get more details

[2020-04-06 17:03] akariv commented on #170
אפשר להכניס רק ספרה אחת אחרי הנקודה

On Mon, Apr 6, 2020 at 8:00 PM noamoss <notifications@github.com> wrote:

[2020-04-06 17:06] akariv commented on #170
[image: Screen Shot 2020-04-06 at 20.05.20.png]
[image: Screen Shot 2020-04-06 at 20.05.15.png]

On Mon, Apr 6, 2020 at 8:03 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-06 17:18] noamoss commented on #14
@akariv all works, except for when I try to undo/fix my input - I keep being referred to an ealier question of  the street question

[2020-04-06 17:18] mushon commented on #166
Why not treat it like any other scroll?

[2020-04-06 17:44] akariv commented on #14
I can't reproduce that @Noamoss <noamoss@gmail.com>

On Mon, Apr 6, 2020 at 8:18 PM noamoss <notifications@github.com> wrote:

[2020-04-06 17:45] akariv commented on #166
Scrollbars are very ugly when on windows / linux.

On Mon, Apr 6, 2020 at 8:18 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-06 17:46] akariv commented on #170
<img width="644" alt="Screen Shot 2020-04-06 at 20 05 20" src="https://user-images.githubusercontent.com/265333/78588622-9ec5dd80-7847-11ea-804f-ee03bdb365c3.png">
<img width="631" alt="Screen Shot 2020-04-06 at 20 05 15" src="https://user-images.githubusercontent.com/265333/78588625-a08fa100-7847-11ea-9ac8-b1fb1959a626.png">

[2020-04-06 17:48] akariv commented on #166
See #37 for example

On Mon, Apr 6, 2020 at 8:45 PM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-06 19:42] #170 closed

[2020-04-06 19:43] #122 closed

[2020-04-06 19:55] noamoss commented on #14
happens in different devices and browsers, using the staging site. What do you suggest?

https://www.whatismybrowser.com/w/8TR2376

![image](https://user-images.githubusercontent.com/3581741/78599227-721ac180-7859-11ea-8456-932c068e1325.png)

[2020-04-06 19:57] noamoss commented on #160
@mushon @akariv ?

[2020-04-06 20:02] noamoss commented on #158
@akariv updated the description following our talk with Ori and Saar today. Please notice the `no` scenario - you suggested to ask again only a week later - but then we might skip the date it started - in other words, we will only have a retroactive indication instead of a real one.

Please approve the description and implement if agreed.

[2020-04-06 20:58] noamoss commented on #159
@akariv

I am not sending a PR yet, because for some reason I can't get the `record.*` values - can you take a look on and suggest?

You also wrote elsewhere:https://github.com/noamoss/avid-covider/tree/met_people_questions

I leave it to you to decide. I am not sure is needed, but as you wrote - I am not filling the form daily for 4 kids. Feel free to take over the branch or to show me here how t

[2020-04-06 21:00] akariv commented on #160
לא, אנחנו שואלים אם משהו השתנה.
מן הסתם, לתשובה אתמול אין משמעות בהקשר של התשובה היום.

לגבי כמה אנשים פגשת - זו שאלה מספרית שאמנם מעצבנת אך לא רלוונטית לדיון.

On Mon, Apr 6, 2020 at 11:30 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-06 21:01] akariv commented on #166
The chat should not be scrolling with the intro page.

On Mon, Apr 6, 2020 at 11:42 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-06 21:06] noamoss commented on #170
@akariv Saar said that was not the thing. asked for details will reopen the issue once I get them.

[2020-04-06 21:10] noamoss commented on #158
@akariv I can't get it - or just disagree - please' let's discuss tomorrow.

[2020-04-07 04:35] mushon commented on #166
Right. So the chat should be fixed. No?

[2020-04-07 05:29] akariv commented on #166
I'm not following. The reason we're not using the browser scrollbars is
that the chat is a 100% height element (and needs to stay that way, as the
input is cannot disappear from view).
This means that the intro pane needs to be scrollable (this only applies to
desktop)

On Tue, Apr 7, 2020, 07:35 Mushon Zer-Aviv <notifications@github.com> wrote:

[2020-04-07 06:14] mushon commented on #160
לא

תיקון
אני מקווה שהמרגש עדיין טוב כמו בדיווח הקודם

[2020-04-07 07:14] akariv commented on #160
כן, שתיהן שאלות של האם משהו השתנה

On Tue, Apr 7, 2020, 09:14 Mushon Zer-Aviv <notifications@github.com> wrote:

[2020-04-07 08:14] mushon commented on #160
אבל בשתיהן מקדימים עם ציון לגבי הדיווח הקודם. לא?

[2020-04-07 09:27] akariv commented on #160
בדיוק.

הדיון הזה הוא סביב צביעת התשובה הקודמת מבין האפשרויות בצבע אחר.
אולם כרגע אין כלל שאלות חוזרות בהן התשובה הקודמת מוצגת כאחת מן האפשרויות.

On Tue, Apr 7, 2020 at 11:14 AM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-07 10:11] akariv commented on #14
Turns out the fix problem was related to inputting an empty street.

Fixed now on staging.

[2020-04-07 10:11] #14 closed

[2020-04-07 10:27] noamoss commented on #14
@akariv fixed on staging

[2020-04-07 12:27] #52 closed

[2020-04-07 12:38] mushon commented on #142
My suggestion:

![image](https://user-images.githubusercontent.com/27123/78669958-b8b5fd80-78e5-11ea-9c46-544efacd0a7a.png)
![image](https://user-images.githubusercontent.com/27123/78669967-bbb0ee00-78e5-11ea-83df-e8905e3b4aa5.png)
![image](https://user-images.githubusercontent.com/27123/78669975-be134800-78e5-11ea-9ffa-139ecb932e89.png)

@noamoss let me know if you think this does the trick…

[2020-04-07 12:42] noamoss commented on #142
בדקו ---> ממולץ לבדוק

[2020-04-07 13:29] mushon commented on #142
Sure (in general let's review copy after approving the design)
![image](https://user-images.githubusercontent.com/27123/78674919-008c5300-78ed-11ea-9c91-eeb28bf30d10.png)

[2020-04-09 21:42] noamoss opened #174 "add new question: checked for covid?"
### Points to notice:

1. This should be implemented in a new block named 'covid_checks', to be run before the `exposure status` part

2. The question will appear for all new reporters and returning users that were not asked before, and then on a weekly basis - as long as they're a `true` value was not submitted.

3. for a `result_missing` (i.e. examined reporters that did not receive the results)

[2020-04-09 22:09] noamoss commented on #174
@mushon, please review

[2020-04-09 22:18] noamoss commented on #174
also, not sure of the right react (...for the bot) when someone reports of a positive check result

[2020-04-10 05:21] mushon commented on #174
Reaction to positive:
`הממ, זה בטח לא פשוט`
`בכל אופן, החלמה מהירה מכולנו`

Reaction to waiting:
`אנחנו מחזיקים לך כאן אצבעות`

Also, let’s think how to route this to the isolation question

Other than that it’s good to go!

[2020-04-10 11:21] noamoss opened #175 "Improve mobile map/help desgin and layout"
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e8d9bc0b75d8a2083eacc3b
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e8d9bbe2908f8b91042b03b
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e905045fc1cc61fa09e3f71

notice:

1. no zoom-in / zoom-out
2. improved legend
3. new 'info' icon and location
4. pop up: close with an 'x' instead of the current s

[2020-04-10 11:22] noamoss commented on #175
@mushon any other points to focus on the implementation?

[2020-04-10 11:24] noamoss opened #176 "Improve desktop map/help desgin and layout"
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e90506187a47b21e5f0f906
https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e905062fc1cc61fa09e41f9

(follow up of https://github.com/hasadna/avid-covider/issues/175)

[2020-04-10 11:26] #158 closed

[2020-04-10 11:27] #50 closed

[2020-04-10 11:28] #159 closed

[2020-04-10 11:28] noamoss commented on #105
@maryLoi ?? (on live)

[2020-04-10 12:15] noamoss opened #177 "facebeook campaign leads form bug"
![image](https://user-images.githubusercontent.com/3581741/78990045-0af15b80-7b3e-11ea-98ae-372525f3779c.png)

[2020-04-10 12:45] mushon commented on #175
No. That’s it

[2020-04-11 15:24] noamoss commented on #174
@mushon applied all of your suggestions (see description).

I think the new question should be added before the `insulation` block of questions.

After thinking again and again about possible scenarios, I think we should separate the `exposure_status` [existing] questions from the [new] `corona_check_question`. The two main reasons (...there are more I am skipping here):

1. The `exposure_status`

[2020-04-11 15:29] noamoss commented on #160
..ולכן, סוגר את הדיון לבינתיים.

[2020-04-11 15:29] #160 closed

[2020-04-11 15:32] noamoss commented on #116
כרגע זה מופיע רק בתחילת הדרך - למשתמשים חדשים.
מכיוון שהתלונה לא חזרה בשבועיים האחרונים, סוגר את הדיון.

[2020-04-11 15:32] #116 closed

[2020-04-11 15:34] noamoss commented on #147
We already have an approved android app, and a potential ios app.

@akariv should we provide a single `download app` button or two (google play + app store)?

@mushon following Adam's answer to the question above, can you provide a design of how/where to show it on the intro page? (last screen to be handled separately on #142 )

[2020-04-11 15:35] #115 closed

[2020-04-11 15:48] noamoss commented on #142
@mushon are we giving up on the 'stay tuned' section?

(I thought that in this point we need to consider creating channels to push info and ask for users attentions on special occasions- and let them know how they can follow)

[2020-04-11 15:51] noamoss commented on #141
reminder: we already got users questions about it.

[2020-04-11 15:53] noamoss commented on #79
@dorit102

האם את מטפלת בזה או שנסגור את הדיון?

// cc @maryLoi אולי תוכלי את גם לסייע בענין?

[2020-04-11 15:54] akariv commented on #147
On mobile only the relevant button will appear.
On desktop, two buttons should appear (one for each store).
Official assets are already in the repo:
https://github.com/hasadna/avid-covider/blob/master/src/assets/img/apple-appstore-badge.png
https://github.com/hasadna/avid-covider/blob/master/src/assets/img/google-play-badge.png

On Sat, Apr 11, 2020 at 6:35 PM noamoss <notifications@github.com> wr

[2020-04-11 15:57] noamoss commented on #91
@mushon בינתיים הטקסט הסטטי ממשיך להופיע בצורה שנראית קצת תלושה. השאלה לגבי מילוי עבור אנשים אחרים, כבר כבר נשאלת כיום בגוף הצ'ט.

ההצעה שלי:
1. להעלים את הטקסט הקטן ("ילדים? מבוגרים?")
2. לשנות את התווית שעל הלחצן: למשלוח דיווח עבור אנשים נוספים

[2020-04-11 15:58] noamoss commented on #63
@dorit102 @maryLoi

תעדכנו בבקשה, כדי שנוכל לסגור את המשימה הזו.

[2020-04-11 16:00] noamoss commented on #68
reminder: got users questions about this functionality.

[2020-04-11 16:02] noamoss commented on #90
אז כל זה יטופל ב- #142 .
סוגר את הדיון.

[2020-04-11 16:02] #90 closed

[2020-04-11 16:02] #84 closed

[2020-04-11 16:05] noamoss commented on #156
@maryLoi Is this issue still relevant? If it is, please provide the missing details. If not, please close.

[2020-04-11 16:05] noamoss commented on #166
@mushon ??

[2020-04-11 16:07] noamoss commented on #30
Thinking again about this feedback, I prefer to close - as the same reporter might suffer from both symptoms on the same day (though not at the same time).

// cc @dorit102

[2020-04-11 16:07] #30 closed

[2020-04-11 16:13] noamoss commented on #177
in-app browser...
https://blog.tomayac.com/2019/12/09/inspecting-facebooks-webview/

[2020-04-11 16:17] noamoss opened #180 "Dan Arieli's review, extract todos"
https://www.dropbox.com/s/xsj3b79trjebtuj/4coronaisrael.mov?dl=0

[2020-04-11 16:17] noamoss opened #181 "review and connect Telegram reminder Bot"
* [x] review and approve code: https://github.com/prsnca/avid-covider-reminder-bot
* [x] get legal approval to connect
* [x] implement with required pop-up (defined on  #142)

bot link to experiment: http://t.me/coronaisrael_reminder_bot?start=language

[2020-04-11 16:18] noamoss commented on #181
@akariv please contact Yaron via Slack for any questions, and let me know if we have OK to implement - so I can include in my email to Dorit and Kilnger.

[2020-04-11 16:20] noamoss opened #182 "remove auto complete horizental scroll (when no values to display)"
![image](https://user-images.githubusercontent.com/3581741/79048981-7cf29f00-7c29-11ea-9476-33342979293d.png)

[2020-04-11 16:22] mushon commented on #166
Let’s discuss this on our next meeting

[2020-04-11 16:24] noamoss opened #183 "Review openCaptcha expirement"
https://hasadna.slack.com/archives/C011SE26U64/p1586532106005400
https://hasadna.slack.com/archives/C011SE26U64/p1586532302008800

<div dir="rtl">
דחפנו גרסא ראשונה שכוללת את ה-API ומימוש ראשוני ל-flow הבסיסי (מינוס יצור התרשים). תוכלו להסתכל ולראות שזה בכיוון הנכון?
כתבנו בדיקה אחת שמדגימה את ה-flow הכללי, כולל קונפיגורציה, יצור challenges, "שמירה" של ה-context ב-cache ובדיקת תשובה מול ה-context

[2020-04-11 16:24] mushon commented on #91
ההצעה שלי: להעיף את זה לגמרי

Mushon Zer-Aviv
Mushon.com | Shual.com | @mushon

[2020-04-11 16:24] noamoss commented on #183
@akariv just putting here as a reminder, you can close the issue once you reply to Ronnie. I will do my best to figure it out as well, but better leave it to you.

[2020-04-11 16:25] mushon commented on #142
Let’s discuss

[2020-04-11 16:31] noamoss opened #184 "fix message when no street name is being entered [1.5h]"
![image](https://user-images.githubusercontent.com/3581741/79049221-ee7f1d00-7c2a-11ea-95ae-db486c0d8811.png)

variable name (street) is displayed in the message to the user

#### time estimations
- development/script update: 1h
- qa: 0.5h

[2020-04-11 16:33] noamoss commented on #147
@mushon ^^^

[2020-04-11 16:36] noamoss commented on #91
@mushon

if we just remove the ילדים? מבוגרים? string that  what we get:

![image](https://user-images.githubusercontent.com/3581741/79049279-60576680-7c2b-11ea-9c8d-2d96cedf64e5.png)

We should fix the button label as well. Which options would you prefer:
1. "מלאו שאלון נוסף" (not clear enough IMO, why should we fill another form after already telling you I don't want to)
2. מלאו אלון עבור אנשים

[2020-04-11 17:27] dorit102 commented on #79
אטפל בזה מול אורי

[2020-04-11 17:36] dorit102 commented on #63
כרגע הכל מוביל לאתר שלנו. הכתובת בפוסט השני היא של הדומיין השני אמנם, אבל כל מי שמקיש על הלינק מועבר ישירות אלינו.
מדוע זה בעייתי?

[2020-04-11 17:38] dorit102 commented on #30
@noamoss בבקשה לסגור.
שאלתי את וייצמן והרופאה שם כתבה מפורשות שמישהו יכול לסבול משני סוגי השיעולים באותו יום, כך שאין צורך לשנות דבר...

[2020-04-11 17:38] dorit102 commented on #63
@noamoss

[2020-04-11 17:53] dorit102 commented on #79
אורי עדכן שהעביר בקשה, אבל ייקח להם זמן לעדכן

[2020-04-11 18:18] noamoss commented on #63
@dorit102 יש לזה משמעות במונחים של קידום אתרים.
לא מדובר כאן בנושא דרמטי, לדעתי, אבל @akariv חשב שנכון לסדר את זה.

(ראי כאן למעלה)

[2020-04-11 18:27] noamoss opened #185 "redesign homepage"
### mobile

https://app.zeplin.io/project/5e74f33aec70626a34e66595/screen/5e8b69508014d91f8949836e

### desektop
Desktop design available here: https://zpl.io/aB0jl5p
![Desktop HD - with map](https://user-images.githubusercontent.com/27123/79054416-44fd5300-7c4d-11ea-831b-9f7b40e11600.png)

Expanded map: https://zpl.io/adJ9qPp
![image](https://user-images.githubusercontent.com/27123/79054428-60685

[2020-04-11 18:51] noamoss commented on #185
@mushon please add the link to the final design and texts.

[2020-04-11 19:33] mushon commented on #91
or we can remove that button completely

[2020-04-11 19:40] noamoss commented on #185
@mushon please remember here #147 (oferring users to install apps from the intro page as well).

[2020-04-11 19:41] noamoss commented on #147
@mushon I suggest to embed this issue into #185, but will you do so to ensure you saw Adam's last comment.

[2020-04-11 19:42] mushon opened #186 "Merge the additional reports questions"
Today we ask a yes/no question:
`האם דיווחת כבר על כל בני ביתך?`
And then go to the beginning of the reporting loop.

I suggest we already ask:
`עבור מי ברצונך לדווח עכשיו?`
And show the saved options in their current state + a `done` option, like:

- בת 50 מכפר ורבורג (disabled/done)
- בן 53 מכפר ורבורג (disabled/done)
- בן 16 מכפר ורבורג
- בת 12 מכפר ורבורג
- דיווח חדש בכפר ורבורג
- דיווח חדש בכ

[2020-04-11 20:24] dorit102 commented on #63
סבבה, הראשון בסדר על פי מה שראיתי,
כתבתי להם לגבי השני
@noamoss

[2020-04-11 20:37] mushon commented on #185
Desktop design available here: https://zpl.io/aB0jl5p
![Desktop HD - with map](https://user-images.githubusercontent.com/27123/79054416-44fd5300-7c4d-11ea-831b-9f7b40e11600.png)

Expanded map: https://zpl.io/adJ9qPp
![image](https://user-images.githubusercontent.com/27123/79054428-60685e00-7c4d-11ea-8b67-e3013674c678.png)

[2020-04-11 20:45] mushon commented on #147
On mobile let's use the OS's official support for making apps available. On desktop see design on #185

[2020-04-11 21:04] noamoss commented on #185
@mushon what about the mobile applications offer (#147)?

[2020-04-11 21:05] noamoss opened #187 "imrpove temerature question"

[2020-04-11 21:18] akariv commented on #63
כל המטרה של העדכון הוא לייצר קישור למכון ויצמן  לטובת האמינות של הבוט.
זה לא עניין של קידום אתרים כלל - צריך שהאדם שמגיע לעמוד יראה את הקישור
הרשמי ולא שם אתר אחר.

On Sat, Apr 11, 2020 at 11:24 PM dorit102 <notifications@github.com> wrote:

[2020-04-11 21:20] akariv commented on #63
נכון לכרגע אין אפילו עמוד אחד (פרמננטי) באתר המכון שבו מופיע קישור לדומיין
coronaisrael.org.

כשיהיה כזה נוכל לסגור את האישיו.

On Sun, Apr 12, 2020 at 12:18 AM Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-11 21:23] akariv commented on #147
@mushon can you elaborate?

On Sat, Apr 11, 2020 at 11:45 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-11 21:33] oricohen commented on #187
לשנות ״מומלץ״ ל ״כדאי״

[2020-04-11 22:20] noamoss commented on #185
(deleted my last question, missed on first sight)

[2020-04-11 22:26] noamoss commented on #63
@akariv

אם כבר כתבת את זה - תוכל להסביר איך, או יותר נכון למה אתה מתכוון כשאתה כותב "אמינות של הבוט"?
איך קישור ממכון וייצמן לבוט נותן לו יותר אמינות ואיפה האמינות הזו אמורה לבוא לידי ביטוי?

(שואל כדי  לברר אם זה מה שאכיוונתי אליו כשכתבתי "קידום אתרים")

[2020-04-12 05:17] dorit102 commented on #63
@akariv דיברתי איתם והם דיברו עם המכון. יקח כמה ימים להערכתי (חול המועד וגם ככה הם לא זריזים במיוחד) אבל יקרה. אני אעקוב ואעדכן

[2020-04-12 05:34] mushon commented on #147
It's called Smart Banner. It looks like this:
![image](https://user-images.githubusercontent.com/27123/79061374-5d468f80-7c98-11ea-8138-119804c2903a.png)

On iOS:
https://developer.apple.com/library/archive/documentation/AppleApplications/Reference/SafariWebContent/PromotingAppswithAppBanners/PromotingAppswithAppBanners.html

On Android (it doesn't exist, but this does):
https://www.cssscript.com/

[2020-04-12 06:25] akariv commented on #63
זה מאפשר למי שמקבל את הקישור בווטסטאפ לוודא שמדובר במחקר אותנטי של מכון ויצמן ולא אתר נוכלות שמנסה לאסוף פרטי משתמשים.

לצורך העניין, כיצד ניתן להבחין בינינו לבין coronaisrael.co.il? מה הופך את האתר שלנו לאמין?

[2020-04-12 06:28] akariv commented on #185
Maybe the fact that you missed it is a problem @noamoss?

On Sun, Apr 12, 2020, 01:21 noamoss <notifications@github.com> wrote:

[2020-04-12 06:33] noamoss commented on #63
יש דרך שבה הוספת קישור ממכון ויצמן באה לידי ביטוי כשאני אשתף איתך בוואטסאפ
קישור לצ'ט בוט ומוסיפה אמינות לקישור?

במלים אחרות,  האם מתבצעת שם איזו הצלבת קישורים שאני לא מודע לה, או שאתה
פשוט מניח בדיקה ידנית של המשתמש/ת?

 (נראה לי שעליתי על סטארטאפ, חייב לזוז 😄...)

On Sun, Apr 12, 2020, 9:25 AM Adam Kariv <notifications@github.com> wrote:

[2020-04-12 06:57] noamoss commented on #185
@akariv I guess you are right: the problem was that Mushon did not include the mobile apps download in the attached mobile design - but the desktop design includes it.

We better verify with @mushon what's the exact position for the apps download on mobile.

[2020-04-12 06:59] akariv commented on #63
כאשר משתמש פותח את האתר שלנו הוא יכול ללחוץ על לינק 'מי אנחנו' שמוביל למאמר
שמתאר את הפרויקט באתר של מכון ויצמן.
כך המשתמש החשדן יכול לוודא שהאתר לגיטימי.

מכיוון שקיבלנו הרבה תגובות של 'עוד אתר מפוקפקת ו'אל תמסרו פרטים למי שאתם לא
מכירים' זה חשוב בעיני.

On Sun, Apr 12, 2020, 09:33 noamoss <notifications@github.com> wrote:

[2020-04-12 07:41] akariv commented on #147
The library you suggested uses cookies and does not take into account if
the app is already installed.

Please provide a design for this banner for android and I'll implement it
directly.

On Sun, Apr 12, 2020 at 8:34 AM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-12 08:06] mushon commented on #185
yes, I just added it later

[2020-04-12 08:38] #91 closed

[2020-04-12 09:49] mushon commented on #185
I didn't add the mobile design because I was shooting for a "smart banner" type of solution, which is native in iOS and needs custom JS code in Android.

[2020-04-12 09:51] mushon commented on #147
Design-wise I would like to have the same solution that this library provides. Would it make sense to simply remove the cookies and add the existing app detection?

[2020-04-12 10:00] akariv opened #190 "Fix grammatical person in the entire flow (one person reporting many use case)"

[2020-04-12 10:01] akariv commented on #51
@noamoss  ???

[2020-04-12 10:03] akariv commented on #147
That's basically re-implementing the functionality.

Should I copy the design from the library's code?

On Sun, Apr 12, 2020 at 12:51 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-12 10:06] dorit102 commented on #185
### **materials from WIS et al.:**
**Media clips-**
https://www.youtube.com/watch?v=SgdoLjS9wuE
https://www.youtube.com/watch?v=IaD0szKbsAo
https://www.youtube.com/watch?v=PNSvG5qBwqY
https://www.ynet.co.il/health/article/Bkrzci00PL

**Text ( Written by Ori, fill free to edit):**
מדד coronaisrael.org, מנסה לחזות את מוקדי התפרצות הקורונה הבאים בעזרת ניתוח מידע מהציבור על התפתחות תסמיני הנגיף. לקחנו

[2020-04-12 10:29] akariv commented on #185
@mushon I'm still missing:
- Design for the other tabs in the home page (zeplin only has one atm)
- Design for the full-screen map on mobile (zeplin has a version with the nudge and without the info-box and legend)
- How will reporting users see the map _after_ reporting (i.e. without the nudge)? what's the flow?
- The data for the results tab

p.s. would be good to re-org screens in zeplin as it'

[2020-04-12 10:41] noamoss commented on #185
אני לא

ירון דינור (הוא אנשי הטלגרם)
רוני מאור
זיו מאור

@dorit102 יש את אנשי המובייל (דן, ואולי עבדו איתו עוד אנשים) - הקשר היה דרך אורי.

[2020-04-12 10:43] akariv commented on #63
<img width="815" alt="Screen Shot 2020-04-12 at 13 38 10" src="https://user-images.githubusercontent.com/265333/79066827-83355980-7cc3-11ea-98bf-82064013b0de.png">
![Uploading Screen Shot 2020-04-12 at 13.39.45.png…]()

[2020-04-12 10:43] akariv commented on #63
<img width="456" alt="Screen Shot 2020-04-12 at 13 39 45" src="https://user-images.githubusercontent.com/265333/79066845-98aa8380-7cc3-11ea-9851-6e3629b691ab.png">
<img width="815" alt="Screen Shot 2020-04-12 at 13 38 10" src="https://user-images.githubusercontent.com/265333/79066849-9d6f3780-7cc3-11ea-9fdf-3a547337cda7.png">

[2020-04-12 10:44] akariv commented on #63
הלינקים בעמוד של מכון דוידסון תקינים.
עדיין צריך שיהיה עמוד של המעבדה עצמה שמסביר על הפרויקט ומצביע לשאלון (היות ולא כולם יודעים מה זה מכון דוידסון)

[2020-04-12 10:45] mushon commented on #147
I think this one might function and look better:
https://github.com/ain/smartbanner.js/

[2020-04-12 10:49] akariv commented on #147
So shall I copy the design from the other one?

The option to install the app should also be presented in the 'remind me' section in the last screen, no? @mushon @noamoss

[2020-04-12 10:54] mushon commented on #147
can't you simply use this library?
And yes, we should add it to the script.

[2020-04-12 10:55] akariv commented on #177
Link basically says that there are no major differences in that webview.

I can try a few things but without an ios device with facebook installed and a proper way to reproduce it's going to be hard to test.

Does this happen always in this browser or only sometimes?

[2020-04-12 11:02] noamoss commented on #190
@akariv could not find horrible problems while reading it aloud.
I would prefer to have both your and @mushon 's review and fixes applied on https://github.com/hasadna/avid-covider/pull/191 before merging.

[2020-04-12 11:14] dorit102 commented on #63
@akariv ביקשתי מהם

[2020-04-12 11:17] dorit102 commented on #185
ישי לנדאו
![ישי לנדאו](https://user-images.githubusercontent.com/62465246/79067489-4b7ce080-7cc8-11ea-9250-b8622e936305.jpeg)

[2020-04-12 11:18] mushon commented on #190
submitted for review
https://github.com/hasadna/avid-covider/pull/191#pullrequestreview-391845906

[2020-04-12 12:29] noamoss commented on #51
@akariv

please review.

[2020-04-12 12:37] noamoss commented on #147
@mushon

If understood Adam correctly, he referred to #142 , no to implement it in script... I see no reason to enable apps downloading from the script. Please explain.

[2020-04-12 12:50] noamoss commented on #190
@mushon thanks.

I applied all of your recommendations, but @akariv brought up the following general comments:

(Full Disclosure: I did not hear Arieli's review yet, it might include practical suggestions).

I know we discussed it when we wrote the script but seems like a good time to reconsider alternatives. What do you think?

[2020-04-12 12:54] mushon commented on #147
right, makes sense.
I would suggest to implement the same smart banner in the last screen.

[2020-04-12 12:57] mushon commented on #190
the idea was to contextualize the second-person-ness of the script.

I have't listened to the Arieli review yet either…

[2020-04-12 12:57] noamoss commented on #187
@maryLoi please verify on `test` env and update

[2020-04-12 12:59] noamoss commented on #91
checked on `test` and approved.

[2020-04-12 13:01] noamoss commented on #186
checked on `test`.

@maryLoi please verify -essentially we changed the way the loop between the different users a device works. The QA should ensure nothing illogical is happening.

[2020-04-12 13:02] noamoss commented on #174
@mushon @akariv ??

[2020-04-12 13:37] akariv commented on #147
Both libraries use cookies and do not take into account if the app is
already installed.

On Sun, Apr 12, 2020, 16:02 noamoss <notifications@github.com> wrote:

[2020-04-12 13:39] akariv commented on #147
I can copy the style and implement it myself but I won't be able to trigger
the native smart banner on iOS in the thank you screen.

On Sun, Apr 12, 2020, 16:37 Adam Kariv <adam.kariv@gmail.com> wrote:

[2020-04-12 14:09] mushon commented on #147
OK, let’s start with that. AFAIK at this point we don’t even have a link for the iOS app

[2020-04-12 14:50] noamoss commented on #147
Correct

On Sun, Apr 12, 2020, 5:09 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-12 15:22] akariv commented on #190
Copying my comment from the PR:

Please imagine you're reporting on someone else.
All these strings sound off:
האם ביממה האחרונה שהית בקרבת אנשים
כן, שהיתי בקרבת אנשים נוספים
האם בשבוע האחרון נתת בעבודתך שירות באופן פיזי למעל 10 אנשים ביום
כן, נתתי שירות
לא נתתי שירות
בדיווחים הבאים נקרא לך פשוט
האם העבודה שלך היא כחלק מצוות רפואי
שחשוב לנו לדעת אם אובחנו אצלך בעבר או שיש לך כיום
אני ומשפחתי בבידו

[2020-04-12 15:57] mushon commented on #185
https://app.zeplin.io/project/5e74f33aec70626a34e66595/styleguide/components?cseid=5e933a2c19ca227969d23a40

All screens here: https://app.zeplin.io/project/5e74f33aec70626a34e66595/dashboard?seid=5e8b0c0837ac57b8ba2b30da

I switched the additional reports link to a back to homepage & map button: https://zpl.io/2pJonp8

I wish!

Done.

[2020-04-12 15:58] mushon commented on #185
AFAIK I am not blocking this task anymore.
Still waiting for data from Dima, but we can still implement the map without it…

[2020-04-12 16:07] mushon commented on #142
At this point this is the final screen: https://zpl.io/2pJonp8
![image](https://user-images.githubusercontent.com/27123/79073644-5cd9e300-7cf0-11ea-8a5e-460ce9b73ba4.png)

I think it would serve us well

[2020-04-12 16:25] maryLoi commented on #187
במקרה של לא מרגיש טוב מופיע:

האם נמדד חום היום?

כן, נמדד חום
היום לא נמדד חום

[2020-04-12 16:26] maryLoi commented on #187
במקרה שמרגיש טוב:

למרות שההרגשה טובה, כדאי בתקופה כזו לקיים מעקב יומי אחר חום הגוף.
האם כבר נמדד חום היום?

כן, נמדד חום
היום לא נמדד חום

[2020-04-12 16:26] #187 closed

[2020-04-12 16:30] maryLoi commented on #186
מהסבב השני מופיעה אופציה
כל בני ביתי כבר דיווחו

[2020-04-12 16:30] #186 closed

[2020-04-12 16:33] maryLoi commented on #156
![image](https://user-images.githubusercontent.com/8996235/79074327-6bc29480-7cf4-11ea-97b7-ac0a22155e6a.png)

https://www.whatsmybrowser.org/b/8183P

[2020-04-12 16:35] noamoss commented on #185
חגי רוסמן
![חגי רוסמן](https://user-images.githubusercontent.com/3581741/79074393-c65bf080-7cf4-11ea-89b4-26d52aec1b0f.png)

[2020-04-12 16:35] akariv commented on #156
results should appear after the second character

On Sun, Apr 12, 2020 at 7:33 PM Mary <notifications@github.com> wrote:

[2020-04-12 16:37] #156 closed

[2020-04-12 16:39] noamoss commented on #142
@akariv updated description, ready to go.

[2020-04-12 16:44] maryLoi commented on #105
The icon is still tiny (on staging)
https://www.whatismybrowser.com/w/8TR2376

https://drive.google.com/open?id=1hv2UALAq7RWHd07Dhuv_jnp0KxYpUr3H

[2020-04-12 21:02] #183 closed

[2020-04-12 21:02] #175 closed

[2020-04-12 21:11] akariv commented on #51
Lot's of issues there...

Most important problem - this documentation needs to specify the structure per data version.
Ideally, starting with the earliest one and then detailing the changes each version introduced.
This way users of the data can understand how to work with records coming from different software versions.

Other, more specific comments:
- preconditions-diseases is not a variable.
-

[2020-04-12 22:24] noamoss commented on #51
sure, that's the plan - but first, we need to know we have updated documentation, for the current version, with the correct content, and in the right structure.  This will enable me to backtrack for older versions.

The purpose of the documentation, IMO, is not only to serve the data scientist working on the lab but also the future developer / PM, trying to understand and improve the usage scenari

[2020-04-13 04:04] mushon commented on #174
I agree with everything @noamoss wrote. (Please don’t copy/paste my response elsewhere)

[2020-04-13 06:31] akariv commented on #174
I think the distinction between new and returning users is incorrect - we would like to ask all users the 'have you ever' question first, and then for the no-sayers ask the 'last week' question once a week.

[2020-04-13 06:52] noamoss commented on #174
that was my intention, of course, updated description to make if more explicit. ready to go.

[2020-04-13 07:09] akariv commented on #51
documentation, for the current version, with the correct content, and in
the right structure. This will enable me to backtrack for older versions.

Good - it's just that the current data version is not even mentioned in the
text.

Curious why would they care about local variables... either way I would
split the two concerns into two documents (script editing and data
documentation).

- preconditio

[2020-04-13 08:07] noamoss commented on #51
text.

see the page title - each version will have a separate page.

Because they did not understand what variables should be sent to DB and what is not.

split the two concerns into two documents (script editing and data
documentation).

It makes sense for a single version documentation but will become harder to maintain for ongoing changes. Also, remember the two parts are related.

here they ar

[2020-04-13 08:19] akariv commented on #51
each field in the record should have a single row - otherwise it's
confusing (e.g in one description you have the field names with the prefix
and in the other they are without it)
having a separate page for each version is also bad for someone that needs
to handle a data containing records coming from a mixed set of versions.
smoking - you have a typo in the script which wasn't copied to the spec.

[2020-04-13 08:26] noamoss commented on #190
https://www.dropbox.com/s/xsj3b79trjebtuj/4coronaisrael.mov?dl=0 (staring 10:20)

he suggests asking whether we are reporting for someone who is next to you
("האם אתם נמצאים איתם או שאתם ממלאים בשבילם") and assumes it will enable us to fit the messages by this answer. It is possible, of course, but will double up the number of strings to maintain

[2020-04-13 08:40] noamoss commented on #180
Review Summary - will open followups soon:

* [ ] intro text too long: the first sentence should start with Thanks (instead of טוב שבאת) and postpone the extra information about anonymity, and start with the gender question.
* [ ] consider adding 'other' to the gender question

* [ ] he is not sure how people understand the sentence "בכדי לשמור על הפרטיות שלך... נקרא לך...". Later he suggests thre

[2020-04-13 09:20] noamoss opened #193 "change user alias/nickname usage"
based on [Prof. Arieli's review](https://www.dropbox.com/s/xsj3b79trjebtuj/4coronaisrael.mov?dl=0) (#180):

he is not sure how people understand the sentence "בכדי לשמור על הפרטיות שלך... נקרא לך...". Later he suggests three options:

- using a random name/string as an alias (א, ב ג...)
- letting the reporter choose a name for future reports (open text)
 using "age + gender" only.

the main point

[2020-04-13 09:20] noamoss commented on #193
@akariv @mushon @maryLoi @dorit102 please share your thoughts

[2020-04-13 09:22] noamoss opened #194 "smoking categories: consider splitting 'current smoker' into 'light'/'heavy'"
based on [Prof. Arieli's review](https://www.dropbox.com/s/xsj3b79trjebtuj/4coronaisrael.mov?dl=0) (#180):

smoking questions: he is wondering if we care about the degree of smoking (easy/light smoking) which will lead people to choose never while we would like them to choose non-smoker while they actually are light smokers.

In both cases, the same value to be sent to the DB

[2020-04-13 09:25] noamoss commented on #194
@mushon @akariv I support this idea. What do you think?

[2020-04-13 09:26] noamoss opened #195 "imrpove service question"
based on [Prof. Arieli's review](https://www.dropbox.com/s/xsj3b79trjebtuj/4coronaisrael.mov?dl=0) (#180):

he mentions the service (>10 people in a day) is not simple to understand, better improve wording to explain the meaning of "in a single day" (ביום) purpose.

[2020-04-13 09:30] noamoss commented on #195
@mushon any suggestions?

the best suggestion I can come up with is:

`האם בשבוע האחרון נתת בעבודתך שירות באופן פיזי למעל 10 אנשים ביום?` -->

`האם באחד הימים בשבוע האחרון נתת בעבודתך שירות באופן פיזי למעל 10 ?`

[2020-04-13 09:33] noamoss opened #196 "imrprove script intro, and add ongoing motivation triggers"
based on [Prof. Arieli's review](https://www.dropbox.com/s/xsj3b79trjebtuj/4coronaisrael.mov?dl=0) (#180):

*  intro text too long: the first sentence should start with Thanks (instead of טוב שבאת) and wait with the extra information about anonymity for later stages. Suggests starting with the gender question.

* (13:25) In the intro we should add an indication showing how many reports and how man

[2020-04-13 09:34] noamoss commented on #180
asked Ori and Saar on Slack.

irrelevant, updated script

Opened all relevant followups #196 #190 seems to be most important.

Closing current issue.

[2020-04-13 09:34] #180 closed

[2020-04-13 09:51] akariv commented on #193
I think it's an unnecessary complication.

On Mon, Apr 13, 2020, 12:20 noamoss <notifications@github.com> wrote:

[2020-04-13 09:52] akariv commented on #194
The  categories are defined by MOH, no?
Maybe the wording could be better

On Mon, Apr 13, 2020, 12:25 noamoss <notifications@github.com> wrote:

[2020-04-13 10:22] dorit102 commented on #63
בבקשה-
 https://genie.weizmann.ac.il/
אנא עדכנו את הלינק

[2020-04-13 11:11] noamoss commented on #51
ok, I think it is a mistake but I separated into two pages:

https://github.com/hasadna/avid-covider/wiki/Data-Structure-Guide-(Version-2.5.6)
https://github.com/hasadna/avid-covider/wiki/Local-Storage-Variables-(Version-2.5.6)

ok, will add previous versions into the provided links

updated. typo to be fixed in a future version (will push a PR soon)

of course, I assumed they are all sent as stri

[2020-04-13 11:12] noamoss commented on #51
(let's wait with the typo fix for the next major update)

[2020-04-13 11:34] akariv commented on #63
@mushon we need a learn more about the research' link somewhere prominent

On Mon, Apr 13, 2020, 13:22 dorit102 <notifications@github.com> wrote:

[2020-04-13 11:47] akariv commented on #51
No, write a redash query that extracts from db records the distinct field
names, types, min version and max version

On Mon, Apr 13, 2020 at 2:12 PM noamoss <notifications@github.com> wrote:

[2020-04-13 15:37] dorit102 commented on #185
סליחה ששכחתי- המאמרים:
https://www.nature.com/articles/s41591-020-0857-9
https://www.medrxiv.org/content/10.1101/2020.04.02.20051284v1.article-info

[2020-04-13 21:40] maryLoi commented on #193
אני לא קיבלתי איזשהו פידבק בהקשר לנושא הזה
ואישית נראה לי די אינטואיטיבי כמו שזה היום.
יש בעייה קלה בתרגום לרוסית, כי הקונטקסט מצריך הטייה של שם הרחוב והישוב שלא ניתן להכניס, אבל זה עדין עובר

[2020-04-13 22:36] noamoss commented on #51
ok, this is what I was able to get: https://app.redash.io/hasadna/queries/373693/

the good stuff: I can see the list and the types of fields per version.

open questions/issues:

- in general - does it look ok, or do I miss something? Should I worry about missing out nested objects, or we never had any?

- the results seem to define a general Number structure - without defining the type of the nu

[2020-04-14 00:05] noamoss commented on #51
Could not apply my idea to generate a list of distinct values per field  - the challenge is to differentiate open answers strings (i.e. street, or city) from selection strings (i.e. inclusion status). My original idea was to show only values in a string (i.e. not boolean and not a number) that appears more than (throw a number) times. There are still chances to catch a street name - but my SQL abi

[2020-04-14 06:42] noamoss commented on #174
Trying to take over this task.

[2020-04-14 09:28] noamoss opened #197 "usage statistics tracking, form submission"
Part of #236

Here's what we want to know (checked the metrics we already hold):
-  [x] layout (display/device type)
- [x] referrer *
- [x] age (of first responder)
- [x] city
- [x] date of first report
- [x] referrer of first report *
- [x] number of reports so far
- [x] HP map visit
  - [x] map help interaction: (?)
  - [ ] map interaction: (swipe, zoom, etc…)
  - [ ] map engagement: (time)
- [

[2020-04-14 09:29] noamoss commented on #197
@mushon please elaborate on what data needs to be collected on submission.

[2020-04-14 09:35] noamoss opened #198 "FAQ"
part of #215

Steps:
* [x]  @maryLoi collects Q&A in [this document](https://docs.google.com/document/d/177OKr-lk-ilJKsk1wwqjfhqcS-hfJnYVV-CML0_oc8Q/edit?usp=sharing)
* [x] @mushon to offer a a design/flow
* [x] The three Musketeers will analyze and finalize content
* [x] get the WSI staff approval to the content
* [ ] add links
* [ ] translate (in the same doc)

---

notes: Q&A should consider po

[2020-04-14 09:37] #193 closed

[2020-04-14 09:38] noamoss commented on #194
asked Ori, meanwhile, on hold.

[2020-04-14 10:08] noamoss opened #199 "Logic Automatic Tests [30h]"
we will try to generate automatic tests to mock the list of [manual sanity checks](https://github.com/hasadna/avid-covider/wiki/Sanity-Checks).

part of #256

* tests development (at least 4 tests): 20h (Yuval)
* integration and review (Adam): 5h
* acceptance tests / QA: 5h

[2020-04-14 10:09] noamoss commented on #199
@akariv as a starter, what did you have in your mind?

[2020-04-14 10:22] mushon commented on #197
Here's what we want to know (check the ones we already know and suggest additions and edits):
- [ ] device (desktop / mobile / tablet / other)
- [ ] referrer
- [ ] age (of first responder)
- [ ] city
- [ ] date of first report
- [ ] referrer of first report
- [ ] number of first reports so far
- [ ] HP map visit
  - [ ] map help interaction: (?)
  - [ ] map interaction: (swipe, zoom, etc…)
  - [ ]

[2020-04-14 10:30] mushon commented on #190
not sure this should be assigned to me, and if it should, what is still expected from me at this point?

[2020-04-14 10:32] akariv commented on #199
Implement unit and e2e tests the "angular way".
we start with the sanity checks and continue from there.
ensure tests can be run on CI as well.

[2020-04-14 11:56] noamoss commented on #197
@mushon

done

currently, we have `layout`: "desktop" / "mobile" (which is practically wide/narrow display). Is it enough? what is other?

I assume you don't mean the referrer URL, please approve. We already have the ?source=[x] parameter.

If you mean first-time users/joiners - we have that available on the dashboard, by date.

a bit tricky - different users can cooperate on the save device. Do y

[2020-04-14 11:57] noamoss commented on #190
@mushon You are assigned as a 'thinktank': we had this conversation on that long day-night session of creating the flow. The main question is whether you have any kind of idea to improve what @akariv is referring to because I did not find a way to solve it.

[2020-04-14 12:15] mushon commented on #197
we can stay with that

It would be useful to know how do people get to the site, even if they don't use our custom urls. But I'm not sure it would jive well with our privacy policy.

I mean how many reports did this device submit before this one

How many people visit these pages

added

[2020-04-14 15:30] mushon commented on #190
I think that finally there wouldn't be a way around creating more strings to accommodate the third person tense. But I want to stabilize the flow first and only then do this.

[2020-04-14 15:38] noamoss commented on #190
closing thie issue for now, and starting to recruit script mainainers :)

[2020-04-14 15:38] noamoss commented on #190
(@akariv we are not giving up, will keep thinking of a lighter solution)

[2020-04-14 15:49] akariv commented on #190
@noamoss why not keep it an open issue then?

[2020-04-14 15:55] noamoss commented on #174
@akariv committed my YAML proposal: https://github.com/hasadna/avid-covider/commit/207b7f352ceddb893c556de62e4a806ba0a9383a

[2020-04-14 15:56] noamoss commented on #190
moving to backlog.

[2020-04-14 16:23] akariv commented on #190
Here's a proposal (not too complicated I think)

For each alias we ask once "are you reporting for yourself or someone else?"
If "yourself" - mark this alias as the main user and stop asking for everyone else.
Otherwise - mark this alias as "someone else" (so we don't ask again for this alias).

Now we have 3 options for each report - ask in 2nd person ("your"), 3rd person male ("his"), 3rd person

[2020-04-14 17:45] noamoss commented on #190
so you assume a single reporter per device? correct?

I am not afraid of reconstructing the scripts - the question is whether it is cost-effective. I other words: how many returning/new reports will submit thanks to this change. On the other hand, it is a good feature for future usages - so I would say to keep it open, but handle it without pressure - not as a high priority.

Please ping here once

[2020-04-14 17:54] noamoss opened #200 "fix flickering date selector"
https://www.whatsmybrowser.org/b/8183P

![image](https://user-images.githubusercontent.com/3581741/79257282-1623ee80-7e92-11ea-9936-cd3595067747.png)

[2020-04-14 18:03] noamoss opened #201 "fix scrolling after updating answers"
1.

![image](https://user-images.githubusercontent.com/3581741/79257985-212b4e80-7e93-11ea-90b9-3241ee2a5d4c.png)

![image](https://user-images.githubusercontent.com/3581741/79258097-4e77fc80-7e93-11ea-819f-9a24cc27eeb1.png)

https://www.whatsmybrowser.org/b/8183P

[2020-04-15 07:46] noamoss commented on #190
also, I prefer having this revised 'say' function part of the chatool, for future uses. We are talking of 6 inputs:

- 2nd voice general
OR
- 2nd voice, Male singular
- 2nd voice, Female, singular
- 3rd voice, Male, singular
- 3rd voice, Female, singular

[2020-04-15 10:13] noamoss opened #202 "fit site title to the UI language"
when I use the site in an English version, the title (on the window's tab) is still in Hebrew.
![image](https://user-images.githubusercontent.com/3581741/79326033-da813700-7f1a-11ea-9b2e-75afbf8146c8.png)

[2020-04-15 10:15] noamoss opened #203 "map language to fit locale [0.5h]"
After filling the survey in English, I got to a Hebrew map.

If it is possible to show map labels in English and Arabic as well I would suggest using the following logic:

| Locale | map language |
|---|---|
|he|he|
|ar|ar|
|en|en|
|fr, sp, ru| en|

In cases where OSM data has no data for the place we will prefer to show a label in the available language than non at all.

[2020-04-15 10:43] akariv commented on #203
Not sure, it's a question for the map master @mushon

On Wed, Apr 15, 2020, 13:15 noamoss <notifications@github.com> wrote:

[2020-04-15 13:41] mushon commented on #203
The language is currently set to `local` which means the label is presented in the default language to that locale. We can however use something like this to set the map language dynamically: https://github.com/mapbox/mapbox-gl-language/

Either way, I don't think it's a very high priority…

[2020-04-15 13:49] akariv commented on #203
We already know the locale so we don't need another locale control on the
map.
We need to tell mapbox to present labels in a specific locale if possible.

On Wed, Apr 15, 2020, 16:41 Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-15 13:55] mushon commented on #203
true that^
You can do that by using [this plugin's API](https://github.com/mapbox/mapbox-gl-language/#api)

[2020-04-15 14:43] akariv commented on #203
Tried to install that plugin but it has no effect I'm afraid or I'm using i
incorrectly.
Perhaps the map needs to be configured somehow for this to work?

On Wed, Apr 15, 2020 at 4:55 PM Mushon Zer-Aviv <notifications@github.com>
wrote:

[2020-04-15 15:18] noamoss opened #205 "Language menu is hidden (Mobile)"
http://whatismybrowser.com/w/Q94R6DB

![image](https://user-images.githubusercontent.com/3581741/79354720-732cac80-7f45-11ea-8686-c203d006076d.png)

[2020-04-15 15:20] noamoss commented on #205
updated issue title, after reproducing the bug on another device (Android)

[2020-04-15 15:22] noamoss commented on #154
Carmel will try to handle this task. To be updated.

[2020-04-15 15:31] noamoss commented on #203
Not sure that's correct, especially for reporters that are not living their day-to-day by the Hebrew namespace and/or can not read Hebrew (and therefore choose to use the tool in another language). We see an increase in Arabic reports for the last two days (935 in total, I think). Understanding the local status might be a main factor in the decision to come back and report again tomorrow/later and

[2020-04-15 15:33] noamoss opened #207 "add Maccabi Logo to homepage"

[2020-04-15 15:33] noamoss commented on #207
@dorit102 please upload the required logo file and assign to @mushon to follow up.

[2020-04-15 15:37] mushon commented on #203
Ok, Adam and I will need to work on this together

[2020-04-15 16:03] mushon commented on #185
updated the design to reflect the articles…
![image](https://user-images.githubusercontent.com/27123/79359882-cbff4380-7f4b-11ea-9469-4fa06ea72bdc.png)

[2020-04-15 16:27] noamoss commented on #205
fixed, with a follow up by Mushon:

[2020-04-16 07:51] #205 closed

[2020-04-16 08:35] dorit102 commented on #207
https://images.app.goo.gl/3WijdRjZyH5zoM3q6
@mushon
יש כאן איזה 20 , תבחר אחד נורמלי בבקשה ותסגיל אותו?

[2020-04-16 08:43] dorit102 commented on #185
@akariv
Media clips-
https://www.youtube.com/watch?v=SgdoLjS9wuE
https://www.youtube.com/watch?v=IaD0szKbsAo
https://www.youtube.com/watch?v=PNSvG5qBwqY
https://www.ynet.co.il/health/article/Bkrzci00PL

[2020-04-16 08:44] dorit102 commented on #185
שניה אולי אוסיף עוד שני פריטים

[2020-04-16 08:51] dorit102 commented on #185
טוב, עזוב, תעלה רק את אלו

[2020-04-16 08:52] dorit102 commented on #185
@akariv
ואלי גם את זה מהבוקר:
https://www.youtube.com/watch?v=iirb2xAOVN0

[2020-04-16 08:59] dorit102 commented on #185
תסנים   ברייה | Tasneem Bareia
אמאני   בריק | Amanie   Brik 
יונתן   שלו | Jonathan   Shalev
לורן   סממה | Lauren   Samama
שרון   כהן | Sharon   Cohen
ג'וד   ביטון | Jude   Bitton
רומן   פריבורקין | Roman   Priborkin
גנאדי   בריוזקין | Genady   Beryozkin
גרגורי   דרדיק | Gregory   Dardyk
סרגיי   לנצמן | Sergey   Lanzman
נדין   אפשטיין |  
נטי   שיזף |  
אלי   דיין | Eli   Daian
מריאנה   ביאליק | M

[2020-04-16 09:04] dorit102 commented on #185
איפה התמונות שלכם (פרט לנועם)?

[2020-04-16 09:06] mushon commented on #185
http://mushon.com/wp-content/uploads/2006/01/mushon_bw-pic_2015.jpg

[2020-04-16 10:10] noamoss commented on #142
@mushon @akariv

[An initial draft](https://github.com/hasadna/avid-covider/commit/922d661306ed51d6d57b303a4b2c3b3e2ea6420a) to replace end screen with script.  Please notice comments, to understand logic and extra functionalities.

[2020-04-16 10:21] mushon commented on #207
added: https://zpl.io/VD0zYDv

[2020-04-16 11:43] noamoss commented on #142
@akariv applied all comments, I think you can take over.

[2020-04-16 11:44] #176 closed

[2020-04-16 13:24] noamoss commented on #174
see PR (notice the known bug and ask for request)

[2020-04-16 15:02] carmelp16 commented on #154
I hope I have really managed to fix it, by modifying some of the logic that is part of hatool's core.
The PR I have opened - https://github.com/akariv/hatool/pull/11

[2020-04-17 09:30] noamoss opened #209 "edge map legend bug"
![image](https://user-images.githubusercontent.com/3581741/79554677-10532680-80a7-11ea-93c4-c2bdc9ec9f2b.png)

https://www.whatsmybrowser.org/b/1BNJW

report made by @maryLoi